﻿@{
    ViewBag.Title = "ShowSavedEntry";
}
<script type="text/javascript">
    function GetSavedSearch() {
        var htmlstringheader = "";
        var savedSearchData;
        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
       
          @{
              Int64 loggedinUserId=0;
              if (Session["LoggedInUser"] != null)
                    {
                        SegallBll.User user = (SegallBll.User)Session["LoggedInUser"];
                        loggedinUserId = user.UserId;
                    } 
        }            


        $.ajaxSetup({ cache: false });
        $.getJSON(APIControllerPath + "/api/SavedSearch?userId=" + @loggedinUserId.ToString()+ "",
            function (data) {
                savedSearchData = data;
                
            }).success(function () {
                //debugger;
                htmlstringheader += "<table width=\"100%\" >";
                htmlstringheader += "<tr>";
                htmlstringheader += "<td colspan=\"2\">";
                htmlstringheader += "<div class=\"divSearch\">";
                htmlstringheader += "  <div style=\"float: left; padding-left: 10px; padding-top: 10px\" nowrap=\"nowrap\">";
                htmlstringheader += "      <a href=\"@Url.Action("Home", "Home")\" style=\"border: none; color: black; cursor: pointer;\">";
                htmlstringheader += "          <img src=\"@Url.Content("~/Content/Images/Back-Button.gif")\" title=\"Back\" height=\"30\" style=\"border: none; vertical-align: middle;\" />";
                htmlstringheader += "      </a>";
                htmlstringheader += "   </div>";
                htmlstringheader += "   <div style=\"float: right; padding-right: 10px; padding-top: 10px\" nowrap=\"nowrap\">";
                htmlstringheader += "       <a href=\"#\" style=\"border: none; color: black; cursor: pointer;\">";
                htmlstringheader += "            <img src=\"@Url.Content("~/Content/Images/Delete-Button.gif")\" title=\"Delete\" onclick=\"deleteSavesSearch();\" height=\"30\" style=\"border: none; vertical-align: middle;\" />";
                htmlstringheader += "        </a>";
                htmlstringheader += "          <a href=\"#\" style=\"border: none; color: black; cursor: pointer;\">";
                htmlstringheader += "             <img src=\"@Url.Content("~/Content/Images/Open-Button.gif")\" title=\"Open\" onclick=\"openSavedSearch('@Url.Content("~/SearchMap/ShowSearchMap?Location=")')\" height=\"30\" style=\"border: none; vertical-align: middle;\" />";
                htmlstringheader += "         </a>";
                htmlstringheader += "           <a href=\"#\" style=\"border: none; color: black; cursor: pointer;display:none; \">";
                htmlstringheader += "               <img src=\"@Url.Content("~/Content/Images/Options-Button.gif")\" title=\"Search\" height=\"30\" style=\"border: none; vertical-align: middle;\" />";
                htmlstringheader += "            </a>";
                htmlstringheader += "      </div>";
                htmlstringheader += "    </div>";
                htmlstringheader += " </td>";
                htmlstringheader += "</tr>";
                htmlstringheader += "<tr>";
                htmlstringheader += "<td style=\"padding: 5px\">";
                htmlstringheader += "<table width=\"100%\">";
                htmlstringheader += "<tr>";
                htmlstringheader += "<td class=\"divHeader\" style=\"border: 1px solid black;\">";
                htmlstringheader += "<div>";
                htmlstringheader += "<a href=\"#\" style=\"color: black; text-decoration: none\">SAVED SEARCHES</a>";
                htmlstringheader += "</div>";
                htmlstringheader += "</td>";
                htmlstringheader += "</tr>";
                htmlstringheader += "<tr>";
                htmlstringheader += "<td style=\"background-color: #A9ACAE; border: 1px solid black;\">";
                htmlstringheader += "<table style=\"font-family:'Century Gothic';font-size:medium;\" width=\"100%\">";
                for (var i = 0 ; i < savedSearchData.length; i++) {

                    htmlstringheader += "<tr >";
                    htmlstringheader += "<td width=\"5%\" style=\"padding: 5px;\">";
                    htmlstringheader += "<a href=\"#\" style=\"border: none; color: black; cursor: pointer;\" id=\"imgsavedSearchBox" + i + "\">";
                    htmlstringheader += "<img src=\"@Url.Content("~/Content/Images/Saved-Searches-Box-Blank.gif")\" onclick=\"toggleSavedSearchBox('Blank'," + i + "," + "" + savedSearchData[i].SavedSearchId + ")\" width=\"30\" height=\"30\" style=\"border: 1px solid black; vertical-align: middle;\" />";
                    htmlstringheader += "</a>";
                    htmlstringheader += "<a href=\"#\" style=\"border: none; display: none; color: black; cursor: pointer;\" id=\"imgsavedSearchmarkedBox" + i + "\">";
                    htmlstringheader += "<img src=\"@Url.Content("~/Content/Images/Saved-Searches-Box-Marked.gif")\" onclick=\"toggleSavedSearchBox('Marked'," + i + "," + "" + "" + savedSearchData[i].SavedSearchId + ")\" width=\"30\"  height=\"30\" style=\"border: 1px solid black; vertical-align: middle;\" />";
                    htmlstringheader += "</a>";
                    htmlstringheader += "</td>";
                    htmlstringheader += "<td width=\"75%\" align=\"left\" style=\"color:black\">" + savedSearchData[i].SavedSearchName + "</td>";
                    htmlstringheader += "<td width=\"20%\" style=\"color:black\">" + savedSearchData[i].SearchSavedDate + "</td>";
                    htmlstringheader += "</tr>";
                }
                htmlstringheader += "</table>";
                htmlstringheader += "</td>";
                htmlstringheader += "</tr>";
                htmlstringheader += "</table>";
                htmlstringheader += "</td>";
                htmlstringheader += "</tr></table>";
                $('#divSavedSearches').html(htmlstringheader)
            });
        }
        jQuery(function () {
            GetSavedSearch();
        });

        function deleteSavesSearch() {
            
            jQuery.support.cors = true;
            if ($('#hdnsavedSearchOpenId').val() != '') {
                if (confirm("Are you sure you want to delete the saved search")) {
                    var Filters = {
                        savedSearchId: $('#hdnsavedSearchOpenId').val(),
                        type: 'delete'
                    }
                    var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
                    $.ajax({

                        url: APIControllerPath + "/api/SavedSearch",
                        type: 'POST',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(Filters),
                        success: function (data) {
                            $('#hdnsavedSearchOpenId').val('')
                            alert("Record Deleted Successfully");
                            GetSavedSearch();//Refresh the Table
                        },
                        error: function (error) {
                            alert(error.status + "<--and--> " + error.statusText);
                        }
                    });
                }
            }
            else {
                alert('Please select any one saved search to delete');
            }

        }

    function openSavedSearch(url) {
        
            var tempdata;
            if ($('#hdnsavedSearchOpenId').val() != '') {
                //$('#hdnsavedSearchOpenId').val($('#hdnsavedSearchOpenId').val().substr(0, $('#hdnsavedSearchOpenId').val().length - 2));
                
                    url = url + $('#hdnsavedSearchOpenId').val();
                    //alert(url);
                    var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
                    // Send an AJAX request
                   @* $.ajaxSetup({ cache: false });
                    $.getJSON(APIControllerPath + "/api/PropertyFilter?savedSearchId=" + $('#hdnsavedSearchOpenId').val() + "&loggedinUserId=1",
                    function (data) {
                        //return data;
                        tempdata = data;
                    }).success(function () {

                    });*@

                    $.ajaxSetup({ cache: false });
                    $.getJSON(APIControllerPath + "/PropertySearch/OpenSavedSearch?savedSearchId=" + $('#hdnsavedSearchOpenId').val(),
                        function (data) {
                            //some code;
                        }).success(function () {
                            //alert("here 0");
                            //parent.setmapSearchValues(tempdata);

                            //parent.disableFiltersPopup();
                            //parent.parent.disablePopupMapSearchResults();
                            //parent.parent.loadShowMap();
                            window.location.href = APIControllerPath +"/SearchMap/ShowMap";


                        });
                   

                    //window.location.href = url;
            }
            else {
                alert('Please select any one saved search to open');
            }
        }

        function toggleSavedSearchBox(boxType, index, savedSearchId) {
            //var deleteId;
            //var location;
            var LastIndex;
            if (boxType == 'Blank') {
                if ($('#hdnsavedSearchOpenId').val() != '') {
                    LastIndex = $('#hdnlastIndex').val();
                    $('#imgsavedSearchBox' + LastIndex).css('display', 'block');
                    $('#imgsavedSearchmarkedBox' + LastIndex).css('display', 'none');
                    $('#imgsavedSearchBox' + index).css('display', 'none');
                    $('#imgsavedSearchmarkedBox' + index).css('display', 'block');
                    $('#hdnsavedSearchOpenId').val(savedSearchId);
                    $('#hdnlastIndex').val(index);
                }
                else {
                    $('#imgsavedSearchBox' + index).css('display', 'none');
                    $('#imgsavedSearchmarkedBox' + index).css('display', 'block');
                    $('#hdnsavedSearchOpenId').val(savedSearchId);
                    $('#hdnlastIndex').val(index);
                }
                
                //$('#imgsavedSearchBox' + index).css('display', 'none');
                //$('#imgsavedSearchmarkedBox' + index).css('display', 'block');
                //location = $('#hdnsavedSearchOpenId').val();
                //location += savedSearchId + ', ';
                //$('#hdnsavedSearchOpenId').val(location);
                //deleteId = $('#hdnsavedSearchdeleteId').val();
                //deleteId += savedSearchId + ', ';
                //$('#hdnsavedSearchdeleteId').val(deleteId);
            }
            else if (boxType == 'Marked') {
                $('#hdnsavedSearchOpenId').val('');
                LastIndex = $('#hdnlastIndex').val();
                $('#imgsavedSearchBox' + index).css('display', 'block');
                $('#imgsavedSearchmarkedBox' + index).css('display', 'none');
                //$('#imgsavedSearchBox' + index).css('display', 'block');
                //$('#imgsavedSearchmarkedBox' + index).css('display', 'none');
                //location = $('#hdnsavedSearchOpenId').val();
                ////location = location.replace(zipcode + ', ', '')
                //location = location.replace(savedSearchId + ', ', '')
                //$('#hdnsavedSearchOpenId').val(location);
                //deleteId = $('#hdnsavedSearchdeleteId').val();
                //deleteId = deleteId.replace(savedSearchId + ', ', '')
                //$('#hdnsavedSearchdeleteId').val(deleteId);
            }
        }
















</script>


<div id="divSavedSearches"></div>
<input type="hidden" id="hdnsavedSearchOpenId" name="hdnSavedSearchOpen" value="" />
<input type="hidden" id="hdnlastIndex" name="hdnlastIndex" value="" />
<input type="hidden" id="hdnsavedSearchdeleteId" name="hdnSavedSearchDelete" value="@ViewBag.hdnSavedSearchDelete" />























