﻿

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>
            @Html.Encode(Model)</h2>

        @Html.ActionLink("Report", "Report", "Report");
    </div>
</body>
</html>
