﻿@model SegallBll.ViewModel.EmailViewModel
@{
    ViewBag.Title = "SendMail";
}
<script type="text/javascript">
    function SendMail() {
        $('#btnSendEmail').click();
    }
</script>
@using (@Html.BeginForm("SendMail","Email",new{@id="frmEmail"}))
{
<table>
    <tr>
        <td class="content" align="left">

            <div id="divopenEmail">
                @Html.Partial("_EmailReport")
            </div>
            <input type="submit" id="btnSendEmail" style="display:none;" />
        </td>
    </tr>
</table>
}
