﻿@model SegallBll.ViewModel.LoginViewModel

@{
    ViewBag.Title = "SiteAdministration";
}
<script type="text/javascript">

    function loadPopupAddNewUser() {
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupAddNewUser();
            $("#backgroundPopupAddUser").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupAddUser").fadeIn("slow");
            $("#divPopUpAdduser").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupAddNewUser() {
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupAddUser").fadeOut("slow");
            $("#divPopUpAdduser").fadeOut("slow");
            popupStatus = 0;
            $('#hdnUserSaveType').val('');
        }
    }

    function centerPopupAddNewUser() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divPopUpAdduser").height();
        var popupWidth = $("#divPopUpAdduser").width();
        //centering  
        $("#divPopUpAdduser").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopupAddUser").css({
            "height": windowHeight
        });
        return false;
    }


    $(function () {
        $('#txtFirstName').focusin(function () {
            $('#divErrorDetails').empty().css('display', 'none');
        });
        $('#txtLastName').focusin(function () {
            $('#divErrorDetails').empty().css('display', 'none');
        });
        $('#txtEmail').focusin(function () {
            $('#divErrorDetails').empty().css('display', 'none');
        });
        $('#txtPassword').focusin(function () {
            $('#divErrorDetails').empty().css('display', 'none');
        });
    });



    function SaveUser(firstName, LastName, Email, Password, Company, userid, CanAddDeleteUser, CanViewRecords, CanAddRecords, CanDeleteRecords, CanEditRecords, CanViewAllRecords) {
        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
        $('#divErrorDetails').empty().css('display', 'none');
        if (firstName == '' || LastName == '' || Email == '' || Password == '') {
            $('#divErrorDetails').css('display', 'block');
            if (firstName == '') {
                //alert('Please Enter first name');
                $('#divErrorDetails').append('Please Enter first name<br />');
            }
            if (LastName == '') {
                //alert('Please Enter last name');
                $('#divErrorDetails').append('Please Enter last name<br />');
            }
            if (Email == '') {
                //alert('Please Enter Email name');
                $('#divErrorDetails').append('Please Enter Email Address<br />');
            }
            if (Password == '') {
                //alert('Please Enter Email name');
                $('#divErrorDetails').append('Please Enter Password<br />');
            }
            
            return false;
        }
        else if ($('#txtPassword').val() != $('#txtConfirmPassword').val()) {
            $('#divErrorDetails').append('Passwords does not match<br />');
            return false;
        }

        else {
            if (userid > 0) {
                var user = {
                    FirstName: firstName,
                    LastName: LastName,
                    Email: Email,
                    Password: Password,
                    Company: Company,
                    UserId: userid,
                    IsActive: 1,
                    TransactionType: 2,
                    CanAddDeleteUser: CanAddDeleteUser,
                    CanViewRecords: CanViewRecords,
                    CanAddRecords: CanAddRecords,
                    CanDeleteRecords: CanDeleteRecords,
                    CanEditRecords: CanEditRecords,
                    CanViewAllRecords: CanViewAllRecords,
                }

                $.ajax({
                    url: APIControllerPath + '/Administration/SaveUserNew',
                    type: 'POST',
                    data: JSON.stringify(user),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert("user Saved Successfully!");
                        disablePopupAddNewUser();
                        window.location.href = '@Url.Action("SiteAdministration", "Administration")'
                    }
                });
            }
            else {
                var user = {
                    FirstName: firstName,
                    LastName: LastName,
                    Email: Email,
                    Password: Password,
                    Company: Company,
                    UserId: 0,
                    IsActive: 1,
                    TransactionType: 1,
                    CanAddDeleteUser: CanAddDeleteUser,
                    CanViewRecords: CanViewRecords,
                    CanAddRecords: CanAddRecords,
                    CanDeleteRecords: CanDeleteRecords,
                    CanEditRecords: CanEditRecords,
                    CanViewAllRecords: CanViewAllRecords,
                }
                $.ajax({
                    url: APIControllerPath + '/Administration/SaveUserNew',
                    type: 'POST',
                    data: JSON.stringify(user),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert("user Saved Successfully!")
                        disablePopupAddNewUser();
                        window.location.href = '@Url.Action("SiteAdministration", "Administration")'
                    }
                });

            }
        }
}

function DeleteUser(userid) {
    var user = {
        FirstName: '',
        LastName: '',
        Email: '',
        Password: '',
        Company: '',
        UserId: userid,
        TransactionType: 3,
        CanAddDeleteUser: 0,
        CanViewRecords: 0,
        CanAddRecords: 0,
        CanDeleteRecords: 0,
        CanEditRecords: 0,
        CanViewAllRecords: 0,
    }
    if (confirm('Are you sure you want to delete this user.')) {
        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
            $.ajax({
                url: APIControllerPath + '/Administration/SaveUserNew',
                type: 'POST',
                data: JSON.stringify(user),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert("user Deleted");
                    window.location.href = '@Url.Action("SiteAdministration", "Administration")'
            }
        });
    }
}
function editUser(firstname, lastName, Email, Password, userid, Company, CanAddDeleteUser, CanAddRecords, CanDeleteRecords, CanEditRecords, CanViewAllRecords, CanViewRecords) {
    $('#hdnUserSaveType').val('ExistingUser');
    $('#txtFirstName').val(firstname)
    $('#txtLastName').val(lastName)
    $('#txtEmail').val(Email)
    $('#txtPassword').val(Password)
    $('#txtConfirmPassword').val(Password)
    $('#txtCompany').val(Company)
    $('#hdnUserId').val(userid)
    if (CanAddDeleteUser == "onclick")
    { $('#hdnUserCanAddDeleteUser').val(1); }
    else { $('#hdnUserCanAddDeleteUser').val(0); }
    if (CanViewRecords == "onclick")
    { $('#hdnUserCanViewRecords').val(1) }
    else { $('#hdnUserCanViewRecords').val(0) }
    if (CanAddRecords == "onclick")
    { $('#hdnUserCanAddRecords').val(1) }
    else { $('#hdnUserCanAddRecords').val(0) }
    if (CanDeleteRecords == "onclick")
    { $('#hdnUserCanDeleteRecords').val(1) }
    else { $('#hdnUserCanDeleteRecords').val(0) }
    if (CanEditRecords == "onclick")
    { $('#hdnUserCanEditRecords').val(1) }
    else { $('#hdnUserCanEditRecords').val(0) }
    if (CanViewAllRecords == "onclick")
    { $('#hdnUserCanViewAllRecords').val(1) }
    else { $('#hdnUserCanViewAllRecords').val(0) }
    loadPopupAddNewUser();
       
    }
function AddEditUser() {
    if ($('#txtFirstName').val() == '' || $('#txtLastName').val() == '' || $('#txtEmail').val() == '' || $('#txtPassword').val() == '' || $('#txtConfirmPassword').val() == '') {
        $('#divErrorDetails').css('display', 'block');
        if ($('#txtFirstName').val() == '') {
            //alert('Please Enter first name');
            $('#divErrorDetails').append('Please Enter first name<br />');
        }
        if ($('#txtLastName').val() == '') {
            //alert('Please Enter last name');
            $('#divErrorDetails').append('Please Enter last name<br />');
        }
        if ($('#txtEmail').val() == '') {
            //alert('Please Enter Email name');
            $('#divErrorDetails').append('Please Enter Email Address<br />');
        }
        if ($('#txtPassword').val() == '') {
            //alert('Please Enter Email name');
            $('#divErrorDetails').append('Please Enter Password<br />');
        }
        if ($('#txtConfirmPassword').val() == '') {
            //alert('Please Enter Email name');
            $('#divErrorDetails').append('Please Enter Confirm Password<br />');
        }
       
        return false;
    }
    else if ($('#txtPassword').val() != $('#txtConfirmPassword').val()) {
        $('#divErrorDetails').append('Passwords does not match<br />');
        return false;
    }
    else {
        //SaveUser($('#txtFirstName').val(), $('#txtLastName').val(), $('#txtEmail').val(), $('#txtPassword').val(), $('#txtCompany').val(), $('#hdnUserId').val(), $('#hdnUserCanAddDeleteUser').val(), $('#hdnUserCanViewRecords').val(), $('#hdnUserCanAddRecords').val(), $('#hdnUserCanDeleteRecords').val(), $('#hdnUserCanEditRecords').val(), $('#hdnUserCanViewAllRecords').val());
        SaveUser($('#txtFirstName').val(), $('#txtLastName').val(), $('#txtEmail').val(), $('#txtPassword').val(), $('#txtCompany').val(), $('#hdnUserId').val(), null, null, null, null, null, null);
    }
}

    function SaveUserRights(userid, rowindex, firstName, LastName, Email, Password, Company) {
        
        var CanAddDeleteUser = ($('#chkAddDeleteUser' + rowindex).attr('checked') == 'checked' ? 'true' : 'false');
        var CanViewRecords = ($('#chkViewRecords' + rowindex).attr('checked') == 'checked' ? 'true' : 'false');
        var CanAddRecords = ($('#chkAddRecords' + rowindex).attr('checked') == 'checked' ? 'true' : 'false');
        var CanDeleteRecords = ($('#chkDeleteRecords' + rowindex).attr('checked') == 'checked' ? 'true' : 'false');
        var CanEditRecords = ($('#chkEditRecords' + rowindex).attr('checked') == 'checked' ? 'true' : 'false');
        var CanViewAllRecords = ($('#chkViewAllRecords' + rowindex).attr('checked') == 'checked' ? 'true' : 'false');


        if (CanAddDeleteUser == "true")
        { CanAddDeleteUser = 1; }
        else { CanAddDeleteUser = 0;}
        if (CanViewRecords == "true")
        { CanViewRecords = 1;}
        else { CanViewRecords = 0; }
        if (CanAddRecords == "true")
        { CanAddRecords = 1;}
        else { CanAddRecords = 0; }
        if (CanDeleteRecords == "true")
        { CanDeleteRecords = 1;}
        else { CanDeleteRecords = 0;}
        if (CanEditRecords == "true")
        { CanEditRecords = 1;}
        else { CanEditRecords = 0;}
        if (CanViewAllRecords == "true")
        { CanViewAllRecords = 1;}
        else { CanViewAllRecords = 0;}

        SaveUser(firstName, LastName, Email, Password, Company, userid, CanAddDeleteUser, CanViewRecords, CanAddRecords, CanDeleteRecords, CanEditRecords, CanViewAllRecords);
    }
    function AddNewUser() {
        $('#txtFirstName').val('')
        $('#txtLastName').val('');
        $('#txtEmail').val('')
        $('#txtPassword').val('')
        $('#txtCompany').val('')
        $('#hdnUserId').val(0)
        $('#hdnUserCanAddDeleteUser').val(0)
        $('#hdnUserCanViewRecords').val(0)
        $('#hdnUserCanAddRecords').val(0)
        $('#hdnUserCanDeleteRecords').val(0)
        $('#hdnUserCanEditRecords').val(0)
        $('#hdnUserCanViewAllRecords').val(0)
        $('#hdnUserSaveType').val('NewUser');
        loadPopupAddNewUser();
    }
</script>
<style type="text/css">
    .backgroundPopupAddUser
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupAddNewUser
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 600px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }
</style>
<table width="100%" style="background-color: #F0F0F0">
    <tr>
        <td class="mainHeader">
            <div>
                <table style="width: 100%">
                    <tr>
                        <td>
                            <div style="float: left; font-family: 'Century Gothic'">
                                Site Administration
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">
            @* <a href="#">
                <img id="imgsaveUser" title="Save" src='../Content/Images/Save-Button.gif' style="border: none;" /></a>*@

        </td>
    </tr>

    <tr>
        <td></td>
    </tr>
    <tr>
        <td style="vertical-align: middle;">
            <table style="width: 100%; padding-left: 5%; padding-right: 5%;">
                <tr>
                    <td class="subHeading">
                        <table width="100%">
                            <tr>
                                <td style="text-align: left">
                                    @Model.userall.Count() users
                                </td>
                                <td style="text-align: right">
                                    <a href="#" onclick="AddNewUser()" style="text-decoration: none; color: black">
                                        <img id="imgOpenAddPopup" src='../Content/Images/Addplus.png' style="width: 10px; height: 10px; border: none;" />
                                        Add new User</a>

                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
                <tr>
                    <td>
                        <table style="width: 100%; padding-left: 5%; padding-right: 5%;">
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tr>
                                            <th width="20%" style="text-align: left;">Users
                                            </th>
                                            <td align="center" width="10%">Add/Delete Users
                                            </td>
                                            <td align="center" width="10%">View All Records
                                            </td>
                                            <td align="center" width="10%">View Records
                                            </td>
                                            <td align="center" width="10%">Add Records
                                            </td>
                                            <td align="center" width="10%">Delete Records
                                            </td>
                                            <td align="center" width="10%">Edit Records
                                            </td>
                                            <td width="10%"></td>
                                            <td width="10%"></td>
                                        </tr>
                                        @{
                                            int i = 0;
                                            foreach (var user in Model.userall)
                                            {
                                            
                                            <tr class="@(i % 2 == 0 ? "tableRow" : "tableRowAlternate")">
                                                <td width="30%" style="text-align: left;">
                                                    <a href="#" style="text-decoration:none;color:black" onclick="editUser('@user.Firstname','@user.Lastname','@user.Email','@user.password','@user.UserId','@user.Company','@user.CanAddDeleteUser','@user.CanAddRecords','@user.CanDeleteRecords','@user.CanEditRecords','@user.CanViewAllRecords','@user.CanViewRecords')">@user.Firstname @user.Lastname</a>
                                                </td>
                                                <td align="center" width="10%">
                                                    @Html.CheckBox("user.CanAddDeleteUser", user.CanAddDeleteUser.HasValue ? user.CanAddDeleteUser.Value : false, new { @id = "chkAddDeleteUser" + i })

                                                </td>
                                                <td align="center" width="10%">
                                                    @Html.CheckBox("user.CanViewAllRecordr", user.CanViewAllRecords.HasValue ? user.CanViewAllRecords.Value : false, new { @id = "chkViewAllRecords" + i })
                                                </td>
                                                <td align="center" width="10%">
                                                    @Html.CheckBox("user.CanViewRecords", user.CanViewRecords.HasValue ? user.CanViewRecords.Value : false, new { @id = "chkViewRecords" + i })
                                                </td>
                                                <td align="center" width="10%">
                                                    @Html.CheckBox("user.CanAddRecords", user.CanAddRecords.HasValue ? user.CanAddRecords.Value : false, new { @id = "chkAddRecords" + i })
                                                </td>
                                                <td align="center" width="10%">
                                                    @Html.CheckBox("user.CanDeleteRecords", user.CanDeleteRecords.HasValue ? user.CanDeleteRecords.Value : false, new { @id = "chkDeleteRecords" + i })
                                                </td>
                                                <td align="center" width="10%">
                                                    @Html.CheckBox("user.CanEditRecords", user.CanEditRecords.HasValue ? user.CanEditRecords.Value : false, new { @id = "chkEditRecords" + i })
                                                </td>
                                                <td align="center" width="10%">
                                                    <a href="#" style="text-decoration: none; color: black">
                                                        <img id="imgsaveUser" title="Save" src='../Content/Images/Save-Button.gif' onclick="SaveUserRights('@user.UserId','@i','@user.Firstname','@user.Lastname','@user.Email','@user.password','@user.Company')" style="border: none;height:20px;width:40px" /></a>

                                                </td>
                                                <td align="center" width="10%">

                                                    <a href="#" onclick="DeleteUser(@user.UserId)" style="text-decoration: none; color: black">Delete</a>
                                                </td>

                                            </tr>
                                            
                                                i++;
                                            }
                                        }
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<input type="hidden" name="hdnUserSaveType" id="hdnUserSaveType" value=""></input>
<input type="hidden" name="hdnUserID" id="hdnUserId" value=""></input>
<input type="hidden" name="hdnUserFirstName" id="hdnUserCanAddDeleteUser" value=""></input>
<input type="hidden" name="hdnUserlastName" id="hdnUserCanViewRecords" value=""></input>
<input type="hidden" name="hdnUserEmail" id="hdnUserCanAddRecords" value=""></input>
<input type="hidden" name="hdnUserPassword" id="hdnUserCanDeleteRecords" value=""></input>
<input type="hidden" name="hdnUserCompany" id="hdnUserCanEditRecords" value=""></input>
<input type="hidden" name="hdnUserCompany" id="hdnUserCanViewAllRecords" value=""></input>

<div id="divPopUpAdduser" style="display: none;" class="EditPopupAddNewUser">
    <table width="100%">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>

                                <div style="float: left; color: black; font-family: 'Century Gothic'">
                                    Add New User
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupAddNewUser();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">

                <table width="100%" style="padding-left: 5%; padding-right: 5%;">
                    <tr>
                        <td colspan="2">
                            <div id="divErrorDetails" style="color: red; display: none;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>
                            <input type="text" id="txtFirstName" value="@Model.user.Firstname" /></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>
                            <input type="text" id="txtLastName" value="@Model.user.Lastname" /></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            <input type="text" id="txtEmail" value="@Model.user.Email" /></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" id="txtPassword" value="@Model.user.password" /></td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>
                            <input type="password" id="txtConfirmPassword" value="@Model.user.password" /></td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td>
                            <input type="text" id="txtCompany" value="@Model.user.Company" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <a href="#" onclick="AddEditUser()" style="text-decoration: none; color: black">@*arguments passed inside the function are zero bcoz user is a new user and there is no need to pass row index*@
                                <img id="imgUserAdd" src='../Content/Images/Save-Button.gif' style="border: none;" />
                            </a></td>
                    </tr>
                </table>
            </td>
        </tr>
        @*<tr>
            <td class="footer">
                <img id="imgProcessingNewContactSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />

                <input type="submit" value="Add" class="buttonYellow_100" onclick="createNewClaimContact()" /></td>
        </tr>*@
    </table>
</div>
<div id="backgroundPopupAddUser" onclick="disablePopupAddNewUser();" class="backgroundPopupAddUser" style="display: none;"></div>
