﻿@{
    ViewBag.Title = "ShowMap";
}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
@*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyAdj9Jw2uhbAK-jP4ehTAy-qy82iEan2nE&libraries=drawing"></script>*@
@*<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCjz7sBjVN-4eV71h3jH7PVK8OjJwYaato&libraries=drawing"></script>*@
@*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyAdj9Jw2uhbAK-jP4ehTAy-qy82iEan2nE&libraries=drawing"></script>*@

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDRNM8ca7_RGvaxm48Qog2NaXjoRPVT-vw&libraries=drawing"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/GoogleMap/oms_min.js")" ></script>
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdj9Jw2uhbAK-jP4ehTAy-qy82iEan2nE&libraries=drawing" type="text/javascript"/>*@



<script src="@Url.Content("~/Scripts/GoogleMap/infobox.js")"  type="text/javascript"></script>

@*<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"
    type="text/javascript"></script>*@
<script src="~/Scripts/MarkerCluster.js"></script>
<script src="~/Scripts/Polygon.min.js"></script>@* Added by Jaywanti on 08-07-2016 for creating polygon all drawing tool*@
@*<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing&callback=initMap"  async defer></script>*@
@*<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9vxH0AnGn-7j7Innvt_kqsEUvte54ZYY&libraries=drawing">*@
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAylDWXkD9EDhJKDxQyfCSzcFQRLti41ac"
  type="text/javascript"></script>*@

<style type="text/css">
    .backgroundPopupProgress {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }


    .dvLoading {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 100px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }
</style>
<script type="text/javascript">
    var overlay;
    var mapgoogle;
    var markersArray = [];
    var IsCount = 0;
    var IsNotCount = 0;
    var IsCount1 = 0;
    var IsCount2 = 0;
    var IsFullCount = 0;
    var markerCluster;
    $(function () {

        $('#hdnradius').val(0);
        //alert('hi');
        LoadLoadingImage();
        loadShowMap();

    });
    function LoadLoadingImage() {

        var popupStatus = 0;
        if (popupStatus == 0) {
            centerLoadingImage();
            $("#backgroundLoadingImage").css({
                "opacity": "0.7"
            });
            $("#backgroundLoadingImage").fadeIn("slow");
            $("#divImageProgress").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disableLoadingImage() {
        //disables popup only if it is enabled 

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundLoadingImage").fadeOut("slow");
            $("#divImageProgress").fadeOut("slow");
            popupStatus = 0;
        }

    }
    function centerLoadingImage() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divImageProgress").height();
        var popupWidth = $("#divImageProgress").width();
        //centering  
        $("#divImageProgress").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundLoadingImage").css({
            "height": windowHeight
        });
        return false;
    }
    function findAddress(point) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ latLng: point }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    return results[0].formatted_address
                }
            }
        });
    }
    var latlng = new google.maps.LatLng(38.902585, -77.036160);//Comment by Jaywanti:-Washington, DC (mid-Atlantic)
    var myOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    mapgoogle = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    function loadShowMap() {
        //var latlng = new google.maps.LatLng(41.4925374, -99.9018);
        //var latlng = new google.maps.LatLng(39.0457549, -76.6412712); //Comment by Jaywanti on 10-11-2015
        // var latlng = new google.maps.LatLng(47.436461, -120.019352);//Comment by Jaywanti:-Center of State Maryland
        var latlng = new google.maps.LatLng(38.902585, -77.036160);//Comment by Jaywanti:-Washington, DC (mid-Atlantic)
        var myOptions = {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        mapgoogle = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        LoadMap(mapgoogle);
        ////initialize();



        $('#txtMapSearch').click(function () {
            var parentOffset = $('#map_canvas').parent().offset();
            //var point = new google.maps.Point(e.pageX - parentOffset.left, e.pageY - parentOffset.top);
            //var ll = overlay.getProjection().fromContainerPixelToLatLng(point);
            markerCluster.clearMarkers();
            $('#hdnPageInfo').val('HomePage');
            var address = $('#txtSearch').val();
            if (address != '') {
                $('#hdnlocation').val(address);
                //geocoder.geocode({ 'address': address }, function (results, status) {

                //    if (status == google.maps.GeocoderStatus.OK) {
                //        address = results;
                //        //debugger;
                //        deleteOverlays();

                //        //$('#hdnlocation').val(address[0].address_components);
                //        //for (var i = 0 ; i < address[0].address_components.length; i++) {

                //        //    if (address[0].address_components[i].types == "postal_code") {
                //        //        $('#hdnlocation').val(address[0].address_components[i].long_name);
                //        //        break;
                //        //    }
                //        //}

                //        mapgoogle.setCenter(results[0].geometry.location);
                //        var marker = new google.maps.Marker({
                //            map: mapgoogle,
                //            position: results[0].geometry.location,
                //            title: "searchPlace ",
                //            icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
                //        });
                //        markersArray.push(marker);
                //        var infowindow = new google.maps.InfoWindow({
                //            content: "Search Location",
                //            maxWidth: 300,
                //            maxHeight: 200
                //        });
                //        google.maps.event.addListener(marker, 'click', function () {
                //            infowindow.open(mapgoogle, marker);
                //        });
                //        LoadMap(mapgoogle);

                //    } else {

                //        alert("Geocode was not successful for the following reason: " + status);
                //        deleteOverlays();
                //    }
                //})
                //above geo code searching is commented bcoz we now search through full text if uncommented then comment the below line
                $.post('@Url.Content("~/SearchMap/SaveLocationSession")',
                 {
                     Location: address
                 },
                  function (data) {

                  }).success(function () {
                      $('#hdnradius').val(0)
                      LoadMap(mapgoogle);
                  });

            }
            else { alert('Please enter a Location to Search'); }
        });
        $("#draggableNewEntry").draggable({

            helper: 'clone',
            stop: function (e) {
                var parentOffset = $('#map_canvas').parent().offset();
                var point = new google.maps.Point(e.pageX - parentOffset.left, e.pageY - parentOffset.top);
                var ll = overlay.getProjection().fromContainerPixelToLatLng(point);

                deleteOverlays();
                var address;
                var lat;
                var lng;
                var streetNumber;
                var route;
                var city;
                var state;
                var zip;
                var county = '';



                geocoder.geocode({ 'address': "", 'latLng': ll, 'region': 'US' }, function (results, status) {

                    if (status == google.maps.GeocoderStatus.OK) {
                        address = results;
                        $('#hdnlocation').val(address[0].address_components[address[0].address_components.length - 1].long_name);

                        mapgoogle.setCenter(results[0].geometry.location);

                        lat = results[0].geometry.location.lat();
                        lng = results[0].geometry.location.lng();
                        //tempaddress = results[0].formatted_address;
                        var geocoder = new google.maps.Geocoder();
                        var point = new google.maps.LatLng(lat, lng);
                        geocoder.geocode({ latLng: point }, function (results, status) {

                            if (status == google.maps.GeocoderStatus.OK) {
                                if (results[0]) {
                                    if (results.length >= 1) {

                                        for (var ii = 0; ii < results[0].address_components.length; ii++) {
                                            var types = results[0].address_components[ii].types.join(",");
                                            if (types == "street_number") {
                                                streetNumber = results[0].address_components[ii].long_name;
                                            }
                                            if (types == "route") {
                                                route = results[0].address_components[ii].long_name;
                                            }
                                            if (types == "sublocality,political" || types == "locality,political" || types == "neighborhood,political" || types == "administrative_area_level_3,political") {
                                                city = (city == '' || types == "locality,political") ? results[0].address_components[ii].long_name : city;
                                            }
                                            if (types == "administrative_area_level_1,political") {
                                                state = results[0].address_components[ii].short_name;
                                            }
                                            if (types == "administrative_area_level_2,political") {
                                                county = results[0].address_components[ii].short_name;
                                            }
                                            if (types == "postal_code" || types == "postal_code_prefix,postal_code") {
                                                zip = results[0].address_components[ii].long_name;
                                            }
                                        }
                                    }
                                    //address = results[0].formatted_address;

                                }
                            }
                        });

                        var marker = new google.maps.Marker({
                            map: mapgoogle,
                            position: results[0].geometry.location,
                            title: "New Property",
                            draggable: true
                        });

                        google.maps.event.addListener(marker, 'click', function () {
                            //infowindow.open(mapgoogle, marker);
                            var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
                            //window.location.href = APIControllerPath + "/PropertyDetail/PropertyNewEntry?Latitude=" + results[0].geometry.location.lat() + "&Longitude=" + results[0].geometry.location.lng();
                            window.location.href = APIControllerPath + "/PropertyDetail/PropertyNewEntry?Latitude=" + lat + "&Longitude=" + lng + "&ct=" + city + "&st=" + state + "&zp=" + zip + "&co=" + county;
                        });

                        google.maps.event.addListener(marker, 'dragend', function (evt) {

                            lat = evt.latLng.lat();
                            lng = evt.latLng.lng();
                            var geocoder = new google.maps.Geocoder();
                            var point = new google.maps.LatLng(lat, lng);
                            geocoder.geocode({ latLng: point }, function (results, status) {

                                if (status == google.maps.GeocoderStatus.OK) {
                                    if (results[0]) {
                                        if (results.length >= 1) {

                                            for (var ii = 0; ii < results[0].address_components.length; ii++) {
                                                var types = results[0].address_components[ii].types.join(",");
                                                if (types == "street_number") {
                                                    streetNumber = results[0].address_components[ii].long_name;
                                                }
                                                if (types == "route") {
                                                    route = results[0].address_components[ii].long_name;
                                                }
                                                if (types == "sublocality,political" || types == "locality,political" || types == "neighborhood,political" || types == "administrative_area_level_3,political") {
                                                    city = (city == '' || types == "locality,political") ? results[0].address_components[ii].long_name : city;
                                                }
                                                if (types == "administrative_area_level_1,political") {
                                                    state = results[0].address_components[ii].short_name;
                                                }
                                                if (types == "administrative_area_level_2,political") {
                                                    county = results[0].address_components[ii].short_name;
                                                }
                                                if (types == "postal_code" || types == "postal_code_prefix,postal_code") {
                                                    zip = results[0].address_components[ii].long_name;
                                                }
                                            }
                                        }
                                    }
                                }
                            });

                        });

                    } else {
                        //alert("Geocode was not successful for the following reason: " + status);
                    }
                })
                // var icon ='http://maps.google.com/mapfiles/ms/icons/green-dot.png' ; // $(this).attr('src');
                //deleteOverlays();
                //call load map to get all the points in the surroundings
                //LoadMap(mapgoogle);
                //placeMarker(ll, icon);
            }
        });
        //google.maps.Map.prototype.clearOverlays = function () {
        //    for (var i = 0; i < markersArray.length; i++) {
        //        markersArray[i].setMap(null);
        //    }
        //    markersArray.length = 0;
        //}

        $("#draggable").draggable({

            helper: 'clone',
            stop: function (e) {
                var parentOffset = $('#map_canvas').parent().offset();
                var point = new google.maps.Point(e.pageX - parentOffset.left, e.pageY - parentOffset.top);
                var ll = overlay.getProjection().fromContainerPixelToLatLng(point);
                //markerCluster = new MarkerClusterer(mapgoogle);
                //markerCluster.setMap(null);
                //for (var i = 0; i < markersArray.length; i++) {
                //    markersArray[i].setMap(null);
                //}
                //markersArray = new Array();
                //var address;
                //mapgoogle.setMap(null);
                //mapgoogle.clearOverlays();
                markerCluster.clearMarkers();
                geocoder.geocode({ 'address': "", 'latLng': ll, 'region': 'US' }, function (results, status) {

                    if (status == google.maps.GeocoderStatus.OK) {
                        deleteOverlays();
                        address = results;


                        $('#hdnlocation').val(address[0].address_components[address[0].address_components.length - 1].long_name);

                        mapgoogle.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: mapgoogle,
                            position: results[0].geometry.location,
                            title: "searchPlace ",
                            icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
                        });
                        markersArray.push(marker);
                        var infowindow = new google.maps.InfoWindow({
                            content: "Search Location",
                            maxWidth: 300,
                            maxHeight: 200,
                            hasCloseButton: true
                        });
                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.open(mapgoogle, marker);
                        });
                        $('#hdnradius').val(5)

                        LoadMap(mapgoogle);

                    } else {
                        //alert("Geocode was not successful for the following reason: " + status);
                    }
                })
                // var icon ='http://maps.google.com/mapfiles/ms/icons/green-dot.png' ; // $(this).attr('src');
                //deleteOverlays();
                //call load map to get all the points in the surroundings
                //LoadMap(mapgoogle);
                //placeMarker(ll, icon);
            }
        });



    }



    // Removes the overlays from the map, but keeps them in the array
    function clearOverlays() {
        if (markersArray) {
            for (i in markersArray) {
                markersArray[i].setMap(null);
            }
        }
    }

    // Deletes all markers in the array by removing references to them
    function deleteOverlays() {

        if (markersArray) {
            for (i in markersArray) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
        }
    }


    function showAddress(address) {
        $('#hdnlocation').val(address);
        //var latlng = new google.maps.LatLng(41.4925374, -99.9018);//Commented by Jaywanti on 10-11-2015
        // var latlng = new google.maps.LatLng(47.436461, -120.019352);
        var latlng = new google.maps.LatLng(38.902585, -77.036160);
        var myOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var strpopup = "<table width=100%><tr><td><h2>Name : </h2></td></tr><tr><td>Address1 :</td></tr><tr><td>Address2 :</td></tr><tr><td><input type=\"button\" value=\"Radius\" title=\"Radius\" /><div class=\"divHeader\" style=\"width=30px\" ><a href=\"#\"  onclick=\"loadPopupPropertyInfo();\" style=\"color:white;text-decoration:none;\"  title=\"sbdfbdsfb\">fbsdbsdfbsdfbdf</a></div></td></tr></table>";



        //if i have lat lon then

        //if i dont have lat lan
        geocoder.geocode({ 'address': address }, function (results, status) {

            if (status == google.maps.GeocoderStatus.OK) {
                mapgoogle.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: mapgoogle,
                    position: results[0].geometry.location,
                    title: "searchPlace"
                });
                markersArray.push(marker);
                var infowindow = new google.maps.InfoWindow({
                    content: strpopup,
                    maxWidth: 300,
                    maxHeight: 200
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(mapgoogle, marker);
                });
            } else {

                //alert("Geocode was not successful for the following reason: " + status);
            }
        });




        //    if (geocoder) {
        //        geocoder.getLatLng(
        //  address,
        //  function (point) {
        //      if (!point) {
        //          alert(address + " not found");
        //      } else {
        //          map.setCenter(point, 17);
        //          var marker = new GMarker(point);
        //          map.addOverlay(marker);
        //          marker.openInfoWindowHtml(address);
        //      }
        //  }
        //);
        //    }
    }
    var oldib;

    function AddMappoints(lat, lon, ZipCode, strpopup, geocoder, mapgoogle, PointColor, desc, TotalPoints) {

        var point;
        geocoder = new google.maps.Geocoder();
        var addr = strpopup;
        var Latitude = lat;
        var longtitude = lon;

        if (addr != '') {
            var addressdiv = $('<div/>').html(addr).html(); //addr.unescapeHTML();

            var iconlnk = "http://maps.google.com/mapfiles/ms/icons/red-dot.png";

            if (PointColor != "" && PointColor == "GREEN") {
                iconlnk = "http://maps.google.com/mapfiles/ms/icons/green-dot.png";
            }
            //if(false){
            if (lat != '' && lon != '') {
                //if (TotalPoints >= 10){


                var marker = new google.maps.Marker({
                    map: mapgoogle,
                    icon: iconlnk,
                    position: new google.maps.LatLng(Latitude, longtitude),
                    title: ZipCode
                });
                var infowindow = new google.maps.InfoWindow({
                    content: addressdiv,
                    maxWidth: 370,
                    maxHeight: 230
                });
                google.maps.event.addListener(marker, 'click', function () {

                    infowindow.open(mapgoogle, marker);
                });

                markersArray.push(marker);

            }
            else {

                geocoder.geocode({ 'address': desc }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        mapgoogle.setCenter(results[0].geometry.location);

                        //mapgoogle.setZoom(12);
                        var marker = new google.maps.Marker({
                            map: mapgoogle,
                            position: results[0].geometry.location,
                            title: "searchPlace"
                        });
                        var infowindow = new google.maps.InfoWindow({
                            content: addressdiv,
                            maxWidth: 370,
                            maxHeight: 230
                        });
                        google.maps.event.addListener(marker, 'click', function () {

                            infowindow.open(mapgoogle, marker);
                        });

                        markersArray.push(marker);
                    } else {

                        //alert("Geocode was not successful for the following reason: " + status);
                    }
                });


            }


            //new infobox logic
            var boxText = document.createElement("div");
            boxText.style.cssText = "font-family: Arial,Helvetica,sans-serif;font-size:medium;font-family:'Century Gothic';font-weight :bold overflow-x: hidden; border: 1px solid black; padding:2px; margin-top: 8px; background: white;";
            boxText.innerHTML = $('<div/>').empty().html().html();//addr.unescapeHTML();

            var myOptions = {
                content: boxText
                    , disableAutoPan: false
                    , maxWidth: 0
                    , pixelOffset: new google.maps.Size(-140, 0)
                    , zIndex: null
                    , boxStyle: {
                        background: "url('tipbox.gif') no-repeat"
                        //, opacity: 0.75
                        // , width: "300px"

                    }
                    , closeBoxMargin: "2px 2px 2px 2px"
                    , closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
                    , infoBoxClearance: new google.maps.Size(1, 1)
                    , isHidden: false
                    , pane: "floatPane"
                    , enableEventPropagation: false
                // , pane: "mapPane"
                //, enableEventPropagation: true

            };

            var ib = new InfoBox(myOptions);
            //ib.open(mapgoogle, marker);

            //Old info box logic
            //var infowindow = new google.maps.InfoWindow({
            //    content: addressdiv,
            //    maxWidth: 300,
            //    maxHeight: 200
            //});

            //google.maps.event.addListener(marker, 'click', function () {

            //    if (oldib != null) {
            //        oldib.close();
            //    }
            //    ib.open(mapgoogle, this);
            //    oldib = ib;
            //});
            //google.maps.event.addListener(mapgoogle, 'click', function () {
            //    if (ib) {
            //        ib.close();
            //    }
            //});

            ////Add this to add points wherever user clicks on map
            ////google.maps.event.addListener(mapgoogle, 'click', function (event) {
            ////    addMarker(mapgoogle, event.latLng);

            ////});

            //google.maps.event.addListener(mapgoogle, 'zoom_changed', function (event) {
            //    if (ib) {
            //        ib.close();
            //    }
            //});

            //-------------
            // } else {
            //     alert("Geocode was not successful for the following reason: " + status);
            // }
            // });
        }
    }

    function AddSpiderPoints(gm, iconWithColor, lat, lon, strPopupDiv, mapgoogle, desc, oms, bounds, usualColor, shadow, title) {
        IsFullCount = IsFullCount + 1;
        // debugger;
        if (lat != '0' && lon != '0') {
            IsCount = IsCount + 1;
            var loc = new gm.LatLng(lat, lon);
            mapgoogle.setCenter(loc);

            bounds.extend(loc);
            var marker = new gm.Marker({
                position: loc,
                map: mapgoogle,
                icon: iconWithColor(usualColor),
                shadow: shadow,
                title: title

            });

            marker.desc = strPopupDiv;
            oms.addMarker(marker);
            markersArray.push(marker);
        }
            //}
        else {
            IsCount1 = IsCount1 + 1;
            geocoder.geocode({ 'address': desc }, function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {

                    mapgoogle.setCenter(results[0].geometry.location);
                    IsCount2 = IsCount2 + 1;
                    //mapgoogle.setZoom(12);
                    var loc = new gm.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                    bounds.extend(loc);
                    var marker = new gm.Marker({
                        //position: results[0].geometry.location,
                        position: loc,
                        map: mapgoogle,
                        icon: iconWithColor(usualColor),
                        shadow: shadow
                    });

                    marker.desc = strPopupDiv;
                    oms.addMarker(marker);
                    markersArray.push(marker);
                } else {
                    IsNotCount = IsNotCount + 1;
                    //sleep(0.2); // seconds
                    // alert("Geocode was not successful for the following reason: " + status);
                }
            });

        }

        //mapgoogle.fitBounds(bounds);

    }


    function loadMapPoint() {

        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
        // Send an AJAX request
        $.ajaxSetup({ cache: false });
        $.getJSON(APIControllerPath + "/api/PropertyBasic?location=" + $('#hdnlocation').val() + "&radius=" + $('#hdnradius').val(),
        function (data) {
            //return data;
        }).success(function () {

        });
    }

    function AddToFavourite(propertyid, RowNo) {

        @{
            SegallBll.User LoggedInUser = new SegallBll.User();
            LoggedInUser = (SegallBll.User)Session["LoggedInUser"];
            TempData["LoggerInUserId"] = LoggedInUser.UserId;
            }
        var userid = '@TempData["LoggerInUserId"]'
        $.post('@Url.Content("~/SearchMap/AddToFavourite")',
                  {
                      propertyid: propertyid, UserId: userid
                  },
                   function (data) {

                       $('#UnFavourite' + RowNo).css('display', 'block');
                       $('#Favourite' + RowNo).css('display', 'none');
                   });

    }

    function DeleteFromFavourite(propertyid, RowNo) {

        var userid = '@TempData["LoggerInUserId"]'
        $.post('@Url.Content("~/SearchMap/DeleteFromFavourite")',
                  {
                      propertyid: propertyid, UserId: userid
                  },
                   function (data) {

                       $('#UnFavourite' + RowNo).css('display', 'none');
                       $('#Favourite' + RowNo).css('display', 'block');
                   });
    }
    function GetPropertyByRadius(Zipcode) {
        //var latlng = new google.maps.LatLng(41.4925374, -99.9018);//Commented by Jaywanti on 10-11-2015
        //var latlng = new google.maps.LatLng(47.436461, -120.019352);
        var latlng = new google.maps.LatLng(38.902585, -77.036160);
        var myOptions = {
            zoom: 10,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        $('#hdnradius').val(5)
        $('#hdnlocation').val(Zipcode)
        mapgoogle = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        LoadMap(mapgoogle);
    }

    function LoadMap(mapgoogle) {
        //To hide popup if it is already open
        debugger;
        //alert('start');
        markerCluster = new MarkerClusterer(mapgoogle, markersArray);
        markerCluster.clearMarkers();
        //alert('end');
        deleteOverlays();
        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
        var relativeControlerPath = '@Url.Action("GetMapResults", "SearchMap")';
        //$('#hdnlocation').val('21211');
        geocoder = new google.maps.Geocoder();
        var data;

        $.ajaxSetup({ cache: false });
        //$.getJSON(APIControllerPath + "/api/PropertyBasic?location=" + $('#hdnlocation').val() + "&radius=10",
        $.getJSON(APIControllerPath + "/SearchMap/GetMapResults?location=" + $('#hdnlocation').val() + "&radius=" + $('#hdnradius').val() + "&PageInfo=" + $('#hdnPageInfo').val(), {},
        //$.getJSON(APIControllerPath + relativeControlerPath + "?location=" + $('#hdnlocation').val() + "&radius=" + $('#hdnradius').val() + "&PageInfo=" + $('#hdnPageInfo').val(), {},
            function (tmpData) {
                //alert("here 0");
                data = tmpData;
            }).success(function () {
                disableLoadingImage();

                //---------------------------spiderfy-----//
                var gm = google.maps;
                var iw = new gm.InfoWindow({ maxWidth: 425, maxHeight: 400 });
                //var iw = new gm.InfoWindow();

                var oms = new OverlappingMarkerSpiderfier(mapgoogle,
                  { markersWontMove: true });

                var usualColor = '851423';
                var propertycolor = '458B00';
                var spiderfiedColor = 'e0c4c8';
                var no = 0;
                var iconWithColor = function (color) {
                    //no = no + 1;
                    //return 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + no + '|' + color + '|000000';
                    return 'http://chart.googleapis.com/chart?chst=d_map_xpin_letter&chld=pin|+|' + color + '|000000|ffff00';
                }
                var shadow = new gm.MarkerImage(
                  'https://www.google.com/intl/en_ALL/mapfiles/shadow50.png',
                  new gm.Size(37, 34),  // size   - for sprite clipping
                  new gm.Point(0, 0),   // origin - ditto
                  new gm.Point(10, 34)  // anchor - where to meet map location
                );

                oms.addListener('click', function (marker) {

                    iw.setContent(marker.desc);
                    iw.open(mapgoogle, marker);
                });
                oms.addListener('spiderfy', function (markers) {
                    //debugger;
                    for (var i = 0; i < markers.length; i++) {
                        //markers[i].setIcon(iconWithColor(spiderfiedColor));
                        markers[i].setShadow(null);
                    }
                    iw.close();
                });
                oms.addListener('unspiderfy', function (markers) {
                    //debugger;
                    for (var i = 0; i < markers.length; i++) {
                        //markers[i].setIcon(iconWithColor(usualColor));
                        markers[i].setShadow(shadow);
                    }
                });
                //-------------------------------------------//

                var iconredlnk = "http://maps.google.com/mapfiles/ms/icons/red-dot.png";


                iconGreenlnk = "http://maps.google.com/mapfiles/ms/icons/green-dot.png";

                //alert("here 1");
                debugger;
                var RecCount = 0;
                if (data != null && data[0].length > 0) {
                    var i = 0;
                    var bounds = new gm.LatLngBounds();
                    for (j = 0 ; j < data.length ; j++) {

                        //mapgoogle.zoom = 100 / data[j].length;

                        for (i = 0 ; i < data[j].length ; i++) {

                            var objLocation = data[j][i]
                            var strPopupDiv = "";

                            strPopupDiv = "<table cellPadding='0' cellSpacing='0' style='width:350px; height:100px'>";
                            strPopupDiv = strPopupDiv + " <tr><td colspan=\"2\" style=\" color:#D66A2A;text-align:left;height:25px;padding-left:0px; font-weight :bold;vertical-align:middle;\" >" + objLocation.PropertyName + "<div style=\"float:left;padding-right:5px;\">";
                            if (objLocation.Favorite == 0) {
                                strPopupDiv += "<a href=\"#\"  style=\"text-decoration:none\" ><img id=\"Favourite" + i + "\"  src=\"@Url.Content("~/Content/Images/NonFavourite flag.png")\" onclick=\"AddToFavourite(" + objLocation.PropertyId + "," + i + ");\" title=\"Add to Favourite\" width=\"30\" height=\"30\" style=\"display:block;border: none; vertical-align: bottom;\" /></a>";
                                strPopupDiv += "<a href=\"#\"  style=\"text-decoration:none\" ><img id=\"UnFavourite" + i + "\" src=\"@Url.Content("~/Content/Images/Favourite flag.png")\" onclick=\"DeleteFromFavourite(" + objLocation.PropertyId + "," + i + ");\" title=\"Favourite\" width=\"30\" height=\"30\" style=\"display:none;border: none; vertical-align: bottom;\" /></a>";
                            }
                            else if (objLocation.Favorite == 1) {
                                strPopupDiv += "<a href=\"#\"  style=\"text-decoration:none\" ><img id=\"Favourite" + i + "\"  src=\"@Url.Content("~/Content/Images/NonFavourite flag.png")\" onclick=\"AddToFavourite(" + objLocation.PropertyId + "," + i + ");\" title=\"Add to Favourite\" width=\"30\" height=\"30\" style=\"display:none;border: none; vertical-align: bottom;\" /></a>";
                                strPopupDiv += "<a href=\"#\"  style=\"text-decoration:none\" ><img id=\"UnFavourite" + i + "\" src=\"@Url.Content("~/Content/Images/Favourite flag.png")\" onclick=\"DeleteFromFavourite(" + objLocation.PropertyId + "," + i + ");\" title=\"Favourite\" width=\"30\" height=\"30\" style=\"display:block;border: none; vertical-align: bottom;\" /></a>";
                            }
                        strPopupDiv = strPopupDiv + "</div></td></tr> <tr><th colspan=\"2\"  style=\"text-align:left;font-size:x-small;word-break:normal;\">" + objLocation.Address + ", " + objLocation.City + ", " + objLocation.State + " " + objLocation.Zipcode + "</th></tr>";
                        strPopupDiv = strPopupDiv + " <tr><th colspan=\"2\"  style=\"text-align:left;font-size:x-small;\">" + objLocation.Center + "</th></tr>";
                        strPopupDiv = strPopupDiv + " <tr><th style=\"text-align:left;font-size:x-small;\" valign=\"top\">" + objLocation.Size + " sf</th><td  valign=\"top\" style=\"text-align:right; width:50%\"><table  valign=\"top\" style=\"text-align:right; width:100%\"><tr><td width=\"50%\"><table width=\"100%\"><tr><td><div class=\"divHeader\" style=\"width:90px;height: 15px;font-size:x-small;\" ><a href=\"#\" style=\"color:white;text-decoration:none;font-size:x-small;\" onclick=\"GetPropertyByRadius(" + objLocation.Zipcode + ")\" title=\"Radius\">Radius</a></div></td></tr></table></td><td width=\"50%\"><table width=\"100%\"><tr><td><div class=\"divHeader\" style=\"width:90px;height: 15px;font-size:x-small;\" ><a href=\"#\"  onclick=\"loadPopupPropertyInfo(" + objLocation.PropertyId + ");\" style=\"color:white;text-decoration:none;font-size:x-small;\"  title=\"View Info\">View Info</a></div></td></tr></table></td></tr></table></td></tr></table>";


                            //<input type=\"button\" value=\"Radius\" title=\"Radius\" />";
                            //strPopupDiv = strPopupDiv + " <div class=\"divHeader\" style=\"width=30px\" >";
                            //strPopupDiv = strPopupDiv + "<a href=\"#\"  onclick=\"loadPopupPropertyInfo();\" style=\"color:white;text-decoration:none;\"  title=\"View Info\">View Info</a>";
                            //strPopupDiv = strPopupDiv + "</div>

                            //var strPopupDiv = "<table  id='TblPopUp'   cellPadding='0' cellSpacing='0' >";
                            //strPopupDiv = strPopupDiv + "<tr style='background:#EEEEEE; font-weight :bold; text-align:left; padding-left:5px'  ><td colspan='6' style='padding-left:5px;   '><a href='#' onclick= \"LoadAssgPopUp('" + objLocation.Zip + "');\"> Assign all</a> </td></tr>";
                            //strPopupDiv = strPopupDiv + "<tr  class='tableHeader' ><td></td><td> Claim #</td><td> Loss Type </td><td>Severity  </td><td> Company </td><td> Zip </td></tr>";
                            //strPopupDiv = strPopupDiv + "<tr class='footer'><td colspan='6' ><br /></td></tr>";
                            //strPopupDiv = strPopupDiv + "</table>";

                        var PointColor = "RED";



                        if (objLocation.category == "Retail") {
                            usualColor = '851423';
                        }
                        else if (objLocation.category == "Restaurant") {
                            usualColor = '66CD00';
                        }
                        else { usualColor = '6D9BF1'; }









                            //AddMappoints(objLocation.Latitude, objLocation.Longitude, objLocation.Zipcode, strPopupDiv, geocoder, mapgoogle, PointColor, (objLocation.Center!=''?objLocation.Center +', ':'') +   objLocation.Address + ', ' + objLocation.City + ', ' + objLocation.State + ' ' + objLocation.Zipcode, data[j].length);
                        AddSpiderPoints(gm, iconWithColor, objLocation.Latitude, objLocation.Longitude, strPopupDiv, mapgoogle, (objLocation.Center != '' ? objLocation.Center + ', ' : '') + objLocation.Address + ', ' + objLocation.City + ', ' + objLocation.State + ' ' + objLocation.Zipcode, oms, bounds, usualColor, shadow, objLocation.PropertyName);

                            //for (var j = 0; i < data[j].length; j++) {
                            //var datum = window.mapData[i];
                            //debugger;
                            //if (objLocation.Latitude != '0' && objLocation.Longitude != '0') {
                            //    var loc = new gm.LatLng(objLocation.Latitude, objLocation.Longitude);
                            //    bounds.extend(loc);
                            //    var marker = new gm.Marker({
                            //        position: loc,
                            //        map: mapgoogle,
                            //        icon: iconWithColor(usualColor),
                            //        shadow: shadow
                            //    });
                            //    debugger;
                            //    marker.desc = strPopupDiv;
                            //    oms.addMarker(marker);
                            //}
                            ////}
                            //else{
                            //    geocoder.geocode({ 'address': (objLocation.Center != '' ? objLocation.Center + ', ' : '') + objLocation.Address + ', ' + objLocation.City + ', ' + objLocation.State + ' ' + objLocation.Zipcode }, function (results, status){

                            //        if (status == google.maps.GeocoderStatus.OK) {
                            //            mapgoogle.setCenter(results[0].geometry.location);

                            //            //mapgoogle.setZoom(12);
                            //            var loc = new gm.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                            //            bounds.extend(loc);
                            //            var marker = new gm.Marker({
                            //                //position: results[0].geometry.location,
                            //                position: loc,
                            //                map: mapgoogle,
                            //                icon: iconWithColor(usualColor),
                            //                shadow: shadow
                            //            });
                            //            debugger;
                            //            marker.desc = strPopupDiv;
                            //            oms.addMarker(marker);
                            //        } else {

                            //            alert("Geocode was not successful for the following reason: " + status);
                            //        }
                            //    });
                            //}


                    }
                    mapgoogle.fitBounds(bounds);
                    var blistener = google.maps.event.addListener((mapgoogle), 'bounds_changed', function (event) {
                        if (this.getZoom() > 10) {
                            this.setZoom(10);
                        }
                        google.maps.event.removeListener(blistener);
                    });

                        //mapgoogle.fitBounds(bounds);


                        // for debugging/exploratory use in console
                    window.map = mapgoogle;
                    window.oms = oms;
                }
                debugger;
                    //  markerCluster.setMap(null);
                markerCluster = new MarkerClusterer(mapgoogle, markersArray);
                    //if (RecCount > 0)
                    //{
                    //document.getElementById("lblTotalCount").innerHTML = " Total dispatch assignments : " + ecCount ;

                    // }



                    //mapgoogle.setCenter(new google.maps.LatLng(data[0][0].Latitude, data[0][0].Longitude));




                    //dynemic point
                    //google.maps.event.addListener(mapgoogle, 'click', function (overlay, point) {
                    //    if (overlay) {
                    //        clearOverlays();
                    //       //mapgoogle.removeOverlay(overlay);
                    //    } else if (point) {
                    //        mapgoogle.recenterOrPanToLatLng(point);
                    //        var marker = new GMarker(point);
                    //        mapgoogle.addOverlay(marker);
                    //        var matchll = /\(([-.\d]*), ([-.\d]*)/.exec(point);
                    //        if (matchll) {
                    //            var lat = parseFloat(matchll[1]);
                    //            var lon = parseFloat(matchll[2]);
                    //            lat = lat.toFixed(6);
                    //            lon = lon.toFixed(6);
                    //            var message = "geotagged geo:lat=" + lat + " geo:lon=" + lon + " ";
                    //            var messageRoboGEO = lat + ";" + lon + "";
                    //        } else {
                    //            var message = "<b>Error extracting info from</b>:" + point + "";
                    //            var messagRoboGEO = message;
                    //        }

                    //        marker.openInfoWindowHtml(message);
                    //        document.getElementById("geocode").value = message;
                    //        document.getElementById("geocodeRoboGEO").value = messageRoboGEO;
                    //        document.getElementById("geocode").focus();
                    //        document.getElementById("geocode").select();

                    //       // document.getElementById("maplink").href = baseLink + "?lat=" + lat + "&lon=" + lon;
                    //     // document.getElementById("multimap").href = multimapBaseLink + "&lat=" + lat + "&lon=" + lon;
                    //      document.getElementById("frmLat").value = lat;
                    //     document.getElementById("frmLon").value = lon;
                    //    }
                    //});
                    //dynemic point
                    // alert(IsCount);
                    //alert(IsCount1);
                    //alert(IsCount2);
                    //alert(IsNotCount);
                    // alert(IsFullCount);

                setmapSearchValues(data[0]);
            }
            else { setmapSearchValues(0); }

            });
        //alert("here 2");

        overlay = new google.maps.OverlayView();
        overlay.setMap(null);
        overlay.draw = function () { };
        overlay.setMap(mapgoogle);
        markerCluster = new MarkerClusterer(mapgoogle, markersArray);
        //polygoncreator = new PolygonCreator(mapgoogle);
        //Added by Jaywanti on 08-07-2016 for polygon shape
        drawingManager = new google.maps.drawing.DrawingManager({
            //drawingMode: google.maps.drawing.OverlayType.MARKER,
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: [
                  //google.maps.drawing.OverlayType.MARKER,
                  google.maps.drawing.OverlayType.CIRCLE,
                  google.maps.drawing.OverlayType.POLYGON,
                  //google.maps.drawing.OverlayType.POLYLINE,
                  google.maps.drawing.OverlayType.RECTANGLE
                ]
            },
            markerOptions: { icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png' },
            circleOptions: {
                fillColor: '#ebe3be',
                fillOpacity: 1,
                strokeWeight: 2,
                clickable: true,
                editable: true,
                zIndex: 1
            }
        });


        drawingManager.setMap(mapgoogle);
        google.maps.event.addListener(drawingManager, 'overlaycomplete', function (e) {
            if (e.type !== google.maps.drawing.OverlayType.MARKER) {

                // Switch back to non-drawing mode after drawing a shape.
                drawingManager.setDrawingMode(null);
                // Add an event listener that selects the newly-drawn shape when the user
                // mouses down on it.
                var newShape = e.overlay;
                newShape.type = e.type;
                if (e.type == google.maps.drawing.OverlayType.CIRCLE) {
                    DisplayCircleResult(e.overlay);
                }
                else if (e.type == google.maps.drawing.OverlayType.RECTANGLE) {
                    DisplayRectangleResult(e.overlay);
                }
                else if (e.type == google.maps.drawing.OverlayType.POLYGON) {
                    DisplayPolygonResult(e.overlay);
                }
                google.maps.event.addListener(newShape, 'radius_changed', function (event) {
                    DisplayCircleResult(newShape)
                });

                google.maps.event.addListener(newShape, 'center_changed', function (event) {
                    DisplayCircleResult(newShape)
                });
                google.maps.event.addListener(newShape, 'bounds_changed', function () {
                    if (newShape.type == google.maps.drawing.OverlayType.RECTANGLE) {
                        DisplayRectangleResult(newShape);
                    }

                });
                google.maps.event.addListener(newShape, "mouseup", function (event) {                   
                    if (newShape.type === google.maps.drawing.OverlayType.POLYGON) {
                        DisplayPolygonResult(newShape);
                    }
                });
                google.maps.event.addListener(newShape, 'click', function (e) {
                    if (newShape.type === google.maps.drawing.OverlayType.POLYGON) {
                        DisplayPolygonResult(newShape);
                    }
                    else if (newShape.type === google.maps.drawing.OverlayType.RECTANGLE) {
                        DisplayRectangleResult(newShape);
                    }
                    else if (newShape.type === google.maps.drawing.OverlayType.CIRCLE) {
                        DisplayCircleResult(newShape);
                    }
                    setSelection(newShape);
                });
                setSelection(newShape);
            }
        });
        function DisplayPolygonResult(newShape) {
            var arr = [];
            newShape.getPath().forEach(function (latLng) { arr.push(latLng);  })
            var NewDataList = [];
            NewData = NewDataList;
            OldData = data[0];
            var polygonobject = new google.maps.Polygon({ path: arr });
            for (var p = 0; p < OldData.length; p++) {
                if (OldData[p]["Latitude"] != "" && OldData[p]["Longitude"] != "") {
                    var coordinate = new google.maps.LatLng(parseFloat(OldData[p]["Latitude"]), parseFloat(OldData[p]["Longitude"]));
                    var resultColor = google.maps.geometry.poly.containsLocation(coordinate, polygonobject);
                    if (resultColor) {
                        NewData.push(OldData[p]);
                    }

                }
            }
            setmapSearchValues(NewData);         
            var Propertyarray="";
            for (var i = 0; i < NewData.length; i++)
            {
                Propertyarray = Propertyarray + NewData[i]["PropertyId"] + ",";
             
            }               
            $.ajax({
                type: "POST",     
                url: '@Url.Action("SetPloygonShapeData","PropertyReport")',
                data: { FilterPolygon: Propertyarray },
                success: function (msg) {
                   
                }
            });
            
        }
        function DisplayRectangleResult(newShape) {
            var arr = [];
            var NewDataList = [];
            NewData = NewDataList;
            OldData = data[0];
            var rectangleobject = new google.maps.Rectangle({ bounds: newShape.getBounds() });
            for (var p = 0; p < OldData.length; p++) {
                if (OldData[p]["Latitude"] != "" && OldData[p]["Longitude"] != "") {
                    var coordinate = new google.maps.LatLng(parseFloat(OldData[p]["Latitude"]), parseFloat(OldData[p]["Longitude"]));
                    var resultColor = rectangleobject.getBounds().contains(coordinate);
                    if (resultColor) {
                        NewData.push(OldData[p]);
                    }

                }
            }
            setmapSearchValues(NewData);
            var Propertyarray = "";
            for (var i = 0; i < NewData.length; i++) {
                Propertyarray = Propertyarray + NewData[i]["PropertyId"] + ",";

            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("SetPloygonShapeData","PropertyReport")',
                data: { FilterPolygon: Propertyarray },
                success: function (msg) {
                  
                }
            });
        }
        function DisplayCircleResult(newShape) {
            var radiusData = newShape.getRadius();
            var circle = newShape;
            var centerlatlon = circle.getCenter();
            var NewDataList = [];
            NewData = NewDataList;
            OldData = data[0];
            for (var p = 0; p < OldData.length; p++) {
                if (OldData[p]["Latitude"] != "" && OldData[p]["Longitude"] != "") {
                    var coordinate = new google.maps.LatLng(parseFloat(OldData[p]["Latitude"]), parseFloat(OldData[p]["Longitude"]));
                    var resultColor = google.maps.geometry.spherical.computeDistanceBetween(coordinate, centerlatlon) <= radiusData;
                    if (resultColor) {
                        NewData.push(OldData[p]);
                    }

                }
            }
            setmapSearchValues(NewData);
            var Propertyarray = "";
            for (var i = 0; i < NewData.length; i++) {
                Propertyarray = Propertyarray + NewData[i]["PropertyId"] + ",";

            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("SetPloygonShapeData","PropertyReport")',
                data: { FilterPolygon: Propertyarray },
                success: function (msg) {
                  
                }
            });
        }
        //google.maps.event.addListener(drawingManager, 'polygoncomplete', function (polygon) {

        //    var arr = [];
        //   // polygon.getPath().forEach(function (latLng) { arr.push(latLng.toString()); })
        //    polygon.getPath().forEach(function (latLng) { arr.push(latLng); })

        //    debugger;
        //    var NewDataList = [];
        //    NewData = NewDataList;
        //    alert(NewData.length);
        //  //  var NewData = [];
        //    OldData = data[0];
        //    alert(OldData.length);
        //    var polygonobject = new google.maps.Polygon({ path: arr });            
        //    for (var p = 0; p < OldData.length; p++)
        //    {
        //        if (OldData[p]["Latitude"] != "" && OldData[p]["Longitude"]!="") {
        //            var coordinate = new google.maps.LatLng(parseFloat(OldData[p]["Latitude"]), parseFloat(OldData[p]["Longitude"]));
        //            var resultColor = google.maps.geometry.poly.containsLocation(coordinate, polygonobject);
        //            if (resultColor)
        //            {
        //                NewData.push(OldData[p]);
        //            }

        //        }
        //    }
        //    alert(NewData.length);
        //    setmapSearchValues(NewData);

        //});

        google.maps.event.addListener(drawingManager, 'drawingmode_changed', clearSelection);
        google.maps.event.addListener(mapgoogle, 'click', clearSelection);
        google.maps.event.addDomListener(document.getElementById('delete-button'), 'click', deleteSelectedShape);
        // buildColorPalette();
    }


    //For dynemic point search

    //function argItems(theArgName) {
    //    sArgs = location.search.slice(1).split('&');
    //    r = '';
    //    for (var i = 0; i < sArgs.length; i++) {
    //        if (sArgs[i].slice(0, sArgs[i].indexOf('=')) == theArgName) {
    //            r = sArgs[i].slice(sArgs[i].indexOf('=') + 1);
    //            break;
    //        }
    //    }
    //    return (r.length > 0 ? unescape(r).split(',') : '')
    //}



    //if (argItems("lat") == '' || argItems("lon") == '') {
    //    placeMarker(setLat, setLon);
    //} else {
    //    var setLat = parseFloat(argItems("lat"));
    //    var setLon = parseFloat(argItems("lon"));
    //    setLat = setLat.toFixed(6);
    //    setLon = setLon.toFixed(6);
    //    placeMarker(setLat, setLon);
    //}


    function addMarker(mapgoogle, location) {
        //marker = new google.maps.Marker({
        //    position: location,
        //    map: mapgoogle,
        //});
        //alert(location);
        var marker = new google.maps.Marker({
            map: mapgoogle,
            position: location,
            title: "searchPlace"
        });


        markersArray.push(marker);
    }




    function placeMarker(location, icon) {
        var marker = new google.maps.Marker({
            position: location,
            map: mapgoogle,
            icon: icon
        });
        markersArray.push(marker);
    }


    //For dynemic point search



    function loadPopupPropertyInfo(propertyid) {
        GetPropertyInfo(propertyid)
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupPropertyInfo();
            $("#backgroundPopupPropertyInfo").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupPropertyInfo").fadeIn("slow");
            $("#ViewPropertyInfo").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupPropertyInfo() {
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupPropertyInfo").fadeOut("slow");
            $("#ViewPropertyInfo").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupPropertyInfo() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#ViewPropertyInfo").height();
        var popupWidth = $("#ViewPropertyInfo").width();
        //centering  
        $("#ViewPropertyInfo").css({
            "position": "absolute",
            "top": "100px",
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6  

        $("#backgroundPopupPropertyInfo").css({
            "height": windowHeight
        });
        return false;
    }

    function GetPropertyInfo(propertyid) {
        // alert('3');
        $.post('@Url.Content("~/SearchMap/GetPropertyInfoById")',
                       {
                           propertyid: propertyid, Location: $('#hdnlocation').val()
                       },
                        function (data) {
                            // alert('4');
                            $('#divPropertyInfoDetails').empty().append(data);
                        });

            @*var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';

        // Send an AJAX request
        $.ajaxSetup({ cache: false });
        $.getJSON(APIControllerPath + "/api/PropertyBasic?PropertyInfo=" + propertyid,

        function (data) {
           
            if (data.propertyInfo != null) {
                $('#propertyInfoName').text(data.propertyInfo.PropertyName);
                $('#propertyInfoSize').text(data.propertyInfo.Size);
                $('#propertyInfoAddress').text(data.propertyInfo.Address);
                $('#propertyInfoCity').text(data.propertyInfo.City);
                $('#propertyInfoState').text(data.propertyInfo.State);
                $('#propertyInfoZipcode').text(data.propertyInfo.Zipcode);
                $('#propertyInfoCenter').text(data.propertyInfo.Center);
                $('#propertyInfoGLA').text(data.propertyInfo.GLA);
                $('#propertyInfoLand').text(data.propertyInfo.Land);
                $('#propertyInfoZoning').text(data.propertyInfo.Zoning);
                $('#propertyInfoLatitude').text(data.propertyInfo.Latitude);
                $('#propertyInfosalesWeekly').text(data.propertyInfo.SalesWeekly)
                $('#propertyInfosalesmonthy').text(data.propertyInfo.SalesMonthly)
                $('#propertyInfosalesanually').text(data.propertyInfo.SalesAnnually)
                $('#propertyInfoVolume').text(data.propertyInfo.VolumePerSF);
                $('#propertyInfoLogitude').text(data.propertyInfo.Longitude);
            }
            else {
                $('#propertyInfoName').text('');
                $('#propertyInfoSize').text('');
                $('#propertyInfoAddress').text('');
                $('#propertyInfoCity').text('');
                $('#propertyInfoState').text('');
                $('#propertyInfoZipcode').text('');
                $('#propertyInfoCenter').text('');
                $('#propertyInfoGLA').text('');
                $('#propertyInfoLand').text('');
                $('#propertyInfoZoning').text('');
                $('#propertyInfoLatitude').text('');
                $('#propertyInfoLogitude').text('');
                $('#propertyInfosalesWeekly').text('')
                $('#propertyInfosalesmonthy').text('')
                $('#propertyInfosalesanually').text('')
                $('#propertyInfoVolume').text('');
            }
           
            
            if (data.propertyDeal != null) {
                $('#propertyInfoSaleLeaseTrans').text(data[2][0].RentAmount);
                $('#propertyInfoSaleLeaseRent').text(data[2][0].RentAmount);
                $('#propertyInfoSaleLeaseNet').text(data[2][0].Camcharge + + ', ' + data[2][0].Insurance + ', ' + data[2][0].Tax);
                $('#propertyInfoSaleLeaseTI').text(data[2][0].TICharge);
                $('#propertyInfoSaleLeaseFR').text(data[2][0].FreeRent);
            }
            else {
                $('#propertyInfoSaleLeaseTrans').text('');
                $('#propertyInfoSaleLeaseRent').text('');
                $('#propertyInfoSaleLeaseNet').text('');
                $('#propertyInfoSaleLeaseTI').text('');
                $('#propertyInfoSaleLeaseFR').text('');
            }
            // On success, 'data' contains a list of products. 
        });*@
    }

    function loadPopupMapSearchResults() {
        //debugger;
        GetSearchResults();
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupMapSearchResults();
            $("#backgroundPopupMapSearchResults").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupMapSearchResults").fadeIn("slow");
            $("#MapSearchResults").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupSalesVolumeOrLeaseRate() {
        $("#backgroundPopupSalesVolumeOrLeaseRate").fadeOut("slow");
        $("#divShowSalesVolumeOrLeaseRate").fadeOut("slow");
    }
    function disablePopupMapSearchResults() {
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupMapSearchResults").fadeOut("slow");
            $("#MapSearchResults").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupMapSearchResults() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#MapSearchResults").height();
        var popupWidth = $("#MapSearchResults").width();
        //centering  
        $("#MapSearchResults").css({
            "position": "absolute",
            "top": "100px",
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopupMapSearchResults").css({
            "height": windowHeight
        });
        return false;
    }


    function loadPopupPropertyFavourite() {
        //debugger;

        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupPropertyFavourite();
            $("#backgroundPopupPropertyFavourite").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupPropertyFavourite").fadeIn("slow");
            $("#ViewPropertyFavourite").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupPropertyFavourite() {
        //disables popup only if it is enabled 
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupPropertyFavourite").fadeOut("slow");
            $("#ViewPropertyFavourite").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupPropertyFavourite() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#ViewPropertyFavourite").height();
        var popupWidth = $("#ViewPropertyFavourite").width();
        //centering  
        $("#ViewPropertyFavourite").css({
            "position": "absolute",
            "top": "100px",
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopupPropertyFavourite").css({
            "height": windowHeight
        });
        return false;
    }
    function centerPopupVolumeOrLease() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divShowSalesVolumeOrLeaseRate").height();
        var popupWidth = $("#divShowSalesVolumeOrLeaseRate").width();
        //centering  
        $("#divShowSalesVolumeOrLeaseRate").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2

        });
        //only need force for IE6  

        $("#backgroundPopupSalesVolumeOrLeaseRate").css({
            "height": windowHeight
        });
        return false;
    }

    function GetSearchResults() {
            @*var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
        var tempdata;
        $.post('@Url.Content("~/SearchMap/SaveLocationSession")',
                  {
                      Location: $('#hdnlocation').val()
                  },
                   function (data) {
                   }).success(function () {
                       // Send an AJAX request
                       $.ajaxSetup({ cache: false });
                       $.getJSON(APIControllerPath + "/api/PropertyBasic?location=" + $('#hdnlocation').val() + "&radius=10",

                       function (data) {

                           tempdata = data;

                           // On success, 'data' contains a list of products. 
                       }).success(function () {
                           //debugger;
                           $('#divMapSearchResults').css("display", "block");
                           setmapSearchValues(tempdata);
                       });
                   });*@
        $('#divMapSearchResults').css("display", "block");

    }

    function showReportVolumeOrlease() {
        document.getElementById("radioVolume").checked = false;
        document.getElementById("radioLease").checked = false;
        document.getElementById("radioboth").checked = false;
        $("#backgroundPopupMapSearchResults").fadeOut("slow");
        $("#MapSearchResults").fadeOut("slow");
        popupStatus = 0;
        centerPopupVolumeOrLease();
        $("#backgroundPopupSalesVolumeOrLeaseRate").css({
            "opacity": "0.7"
        });
        $("#backgroundPopupSalesVolumeOrLeaseRate").fadeIn("slow");
        $("#divShowSalesVolumeOrLeaseRate").fadeIn("slow");
        return false;
    }
    function showReport() {        
        var VolumeLeaseRadio = 3;

        if ($('input[name="VolumeLease"]:checked').val() == "1" || $('input[name="VolumeLease"]:checked').val() == "2" || $('input[name="VolumeLease"]:checked').val() == "3") {
            VolumeLeaseRadio = $('input[name="VolumeLease"]:checked').val();
        }
        else {
            alert("Please select the Report Type");
            return false;
        }

        disablePopupMapSearchResults();

        @{Session["Location"] = TempData["Location"];
          Session["propertyFilter"] = TempData["propertyFilter"];
          TempData["Location"] = Session["Location"];
          TempData["propertyFilter"] = Session["propertyFilter"];         
          }
        var stringtoskip = $('#hdntoggleDisplay').val();
        stringtoskip = stringtoskip.substring(0, stringtoskip.length);

        // this will return an array with strings "1", "2", etc.


        $('#hdntoggleDisplay').val()


        window.location.href = '@Url.Action("ShowReport", "PropertyReport")?PropertyIdtoSkip=' + stringtoskip + '&Location=' + '@TempData["Location"]' + '&PageNo=1&favouriteOnly=' + $('#hdnfavouriteOnly').val() + '&VolumeLeaseData=' + VolumeLeaseRadio;
    }

    function showFavReport() {
        //debugger;
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeletePolygonShapeList","PropertyReport")',
                success: function (msg) {

                }
          });
        disablePopupMapSearchResults();
        $('#hdnfavouriteOnly').val('true');
        document.getElementById("radioboth").checked = true;
        showReport();
        //window.location.href = '@Url.Action("ShowFavReport", "PropertyReport", new { @PageNo = 1 })';
    }

    function ShowOption() {
        $('#trMapOptions').slideDown('veryslow').show();
    }
    function hideOption() {
        $('#trMapOptions').slideUp('veryslow').show();
    }

    function ShowFavouriteList() {
        $.post('@Url.Content("~/SearchMap/GetFavouriteList")',
                      {
                          Userid: '@TempData["LoggerInUserId"]'
                      },
                       function (data) {
                           setmapFavouriteList(data)
                           //$('#divFavouriteList').empty().append(data);
                           loadPopupPropertyFavourite();
                       });
    }
</script>
<script type="text/javascript">
    //Added by Jaywanti on 08-07-2016:-for polygon shape
    var selectedShape;
    var drawingManager;
    var selectedColor;
    var colorButtons = {};
    var NewData = [];
    var OldData = [];
    var colors = ['#1E90FF', '#FF1493', '#32CD32', '#FF8C00', '#4B0082'];
    function makeColorButton(color) {
        var button = document.createElement('span');
        button.className = 'color-button';
        button.style.backgroundColor = color;
        google.maps.event.addDomListener(button, 'click', function () {
            // selectColor(color);
            setSelectedShapeColor(color);
        });
        return button;
    }
    function buildColorPalette() {
        var colorPalette = document.getElementById('color-palette');
        for (var i = 0; i < colors.length; ++i) {
            var currColor = colors[i];
            var colorButton = makeColorButton(currColor);
            colorPalette.appendChild(colorButton);
            colorButtons[currColor] = colorButton;
        }
        // selectColor(colors[0]);
    }
    function clearSelection() {
        //alert('clear called');
        if (selectedShape) {
            selectedShape.setEditable(false);
            selectedShape = null;
            //alert(data[0].length);
            // setmapSearchValues(OldData);
        }
    }
    function setSelection(shape) {
        clearSelection();
        selectedShape = shape;
        shape.setEditable(true);

        // selectColor(shape.get('fillColor') || shape.get('strokeColor'));
    }
    function deleteSelectedShape() {
        if (selectedShape) {
            selectedShape.setMap(null);         
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeletePolygonShapeList","PropertyReport")',              
                success: function (msg) {

                }
             });

            setmapSearchValues(OldData);
        }
    }
    function selectColor(color) {
        debugger;
        selectedColor = color;
        for (var i = 0; i < colors.length; ++i) {
            var currColor = colors[i];
            colorButtons[currColor].style.border = currColor == color ? '2px solid #789' : '2px solid #fff';
        }
        // Retrieves the current options from the drawing manager and replaces the
        // stroke or fill color as appropriate.
        //var polylineOptions = drawingManager.get('polylineOptions');
        //polylineOptions.strokeColor = color;
        //drawingManager.set('polylineOptions', polylineOptions);
        var rectangleOptions = drawingManager.get('rectangleOptions');
        rectangleOptions.fillColor = color;
        drawingManager.set('rectangleOptions', rectangleOptions);
        //var circleOptions = drawingManager.get('circleOptions');
        //circleOptions.fillColor = color;
        //drawingManager.set('circleOptions', circleOptions);
        var polygonOptions = drawingManager.get('polygonOptions');
        polygonOptions.fillColor = color;
        drawingManager.set('polygonOptions', polygonOptions);
    }
    function setSelectedShapeColor(color) {
        if (selectedShape) {
            if (selectedShape.type == google.maps.drawing.OverlayType.POLYLINE) {
                selectedShape.set('strokeColor', color);
            } else {
                selectedShape.set('fillColor', color);
            }
        }
    }

    //var polygoncreator = new PolygonCreator(mapgoogle);
    //function DisplayPolygonPoints()
    //{
    //    alert('hi');
    //    alert(polygoncreator.showData());
    //}
</script>
<style type="text/css">
    #draggable {
        /*position: absolute;
        width: 30px;
        height: 30px;*/
        z-index: 1000000000;
    }

    .backgroundPopupPropertyInfo {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupPropertyInfo {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 750px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    .backgroundPopupMapSearchResults {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupMapSearchResults {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 750px;
        height: 600px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    .backgroundPopupPropertyFavourite {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupPropertyFavourite {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 750px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    .EditPopupVolumeLease {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 750px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    .ShareClass {
        background-color: White;
        border: 1px solid #cccccc;
        position: relative;
        z-index: 5;
    }
</style>

<table width="100%">
    <tr style="display: none;">
        <td>
            <input type="hidden" id="hdnlocation" value="@ViewBag.hdnLocation" />
            <input type="hidden" id="hdnradius" value="@ViewBag.hdnradius" />
            <input type="hidden" id="hdnPageInfo" name="hdnPageInfo" value="@ViewBag.hdnPageInfo" />
            <input type="hidden" id="hdnfavouriteOnly" name="hdnfavouriteOnly" value="@ViewBag.hdnfavouriteOnly" />
            @*     <br />
            <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" id="draggable1" />*@
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <div class="divSearch">
                @Html.TextBox("txtSearch", "", new { @id = "txtSearch", @style = "width: 65%;  height: 28px; margin:5px;border:solid;border-width: 2px;" })
                <a href="#" id="txtMapSearch" style="border: none; color: black; cursor: pointer;">
                    <img src="@Url.Content("~/Content/Images/Map Search-Button.gif")" title="Search" width="35" height="30" style="border: none; vertical-align: middle;" />
                </a>
                <img id="delete-button" src="~/Images/CloseCancelSquare-128.png" alt="Delete Polygon Shape" title="Delete Polygon Shape" style="cursor: pointer;vertical-align: middle; width: 30px; height: 30px;" />
                @*       <input type="button" id="delete-button" value="delete" />   *@
                <div style="float: right; padding-right: 10px; padding-top: 10px" nowrap="nowrap">

                    @{
                        if (Session["LoggedInUser"] != null)
                        {
                            SegallBll.User user = (SegallBll.User)Session["LoggedInUser"];
                            if (user.CanAddRecords == true)
                            { 
                        <a href="@Url.Action("PropertyNewEntry", "PropertyDetail")"   style="border: none; color: black; cursor: pointer;">
                            <img src="@Url.Content("~/Content/Images/Map-New-Entry-Button.gif")" title="New Entry" id="draggableNewEntry" width="35" height="30" style="border: none; vertical-align: middle;" />
                        </a>
                            }
                            else
                            {
                        <a href="#" style="display: none;"></a>
                            }

                        }   
                    }
                    <a href="#" style="border: none; color: black; cursor: pointer;">

                        <img src="@Url.Content("~/Content/Images/Map-Set-Location-Button.gif")" id="draggable"  title="Set Location" width="35" height="30" style="border: none; vertical-align: middle;" />
                    </a>
                    <a href="#" style="border: none; color: black; cursor: pointer;" onclick="ShowOption()">
                        <img src="@Url.Content("~/Content/Images/Options-Button.gif")" title="Options" width="35" height="30" style="border: none; vertical-align: middle;" />
                    </a>
                    <a href="#" onclick="loadPopupMapSearchResults();" style="border: none; color: black; cursor: pointer;">
                        <img src="@Url.Content("~/Content/Images/Map-Results-Button.gif")" title="Results" width="80" height="30" style="border: none; vertical-align: middle;" />
                    </a>

                    <a href="#" style="border: none; color: black; cursor: pointer;">
                        <img src="@Url.Content("~/Content/Images/Flag.jpg")" onclick="ShowFavouriteList()" title="Favourite List" width="30" height="30" style="border: none; vertical-align: middle;" />
                    </a>
                </div>
            </div>

        </td>
    </tr>

    <tr id="trMapOptions" style="display: none;" class="ShareClass">
        <td>
            <table width="100%">
                <tr>
                    <td style="border-top: 1px solid black; border-bottom: 1px solid black; border-left: 1px solid black;" width="80%">
                        <table width="100%">
                            <tr>
                                <td class="subHeading">
                                    <span style="color: #D66A2A; font-family: 'Century Gothic'; font-size: medium">OPTIONS</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="border-top: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" width="20%">
                        <div style="float: right;">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <a href="#">
                                            <img id="imgsaveSearch" title="Save Search" onclick="loadPopupMapSearchResults();" src='../Content/Images/Save-Search-Button.gif' style="border: none;" /></a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("ShowSavedEntry", "PropertySearch")">
                                            <img id="imgLoadSearch" title="Load Search" src='../Content/Images/Load-Search-Button.gif' style="border: none;" /></a>
                                    </td>
                                    <td><a href="@Url.Action("Home", "Home")">
                                        <img id="imgHomeButton" title="Home" src='../Content/Images/Home-Button.gif' style="border: none;" /></a>
                                    </td>
                                    <td><a href="#">
                                        <img id="imgCloseButton" title="Close" src='../Content/Images/X Close-Button.gif' style="border: none;" onclick="hideOption();" /></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>

    </tr>
    <tr class="content">
        <td>
            <div id="map_canvas" style="width: 1000px; height: 700px; background-color: GrayText"></div>
        </td>
    </tr>
</table>

<div id="ViewPropertyInfo" style="display: none;" class="EditPopupPropertyInfo">
    <table width="100%">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="float: left; color: #D66A2A; font-family: 'Century Gothic'">
                                    Property Info
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupPropertyInfo();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">

                <div id="divPropertyInfoDetails">
                    @* @Html.Partial("_PropertyInfo")*@
                </div>
            </td>
        </tr>
        @*<tr>
            <td class="footer">
                <img id="imgProcessingNewContactSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />

                <input type="submit" value="Add" class="buttonYellow_100" onclick="createNewClaimContact()" /></td>
        </tr>*@
    </table>
</div>
<div id="backgroundPopupPropertyInfo" onclick="disablePopupPropertyInfo();" class="backgroundPopupPropertyInfo" style="display: none;"></div>

<div id="MapSearchResults" style="display: none;" class="EditPopupMapSearchResults">
    <table width="100%">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="float: left; font-family: 'Century Gothic'">
                                    <span id=""></span>
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupMapSearchResults();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left"><a href="@Url.Action("PropertyFilters", "PropertyDetail")"></a>
                <div style="height: 500px; overflow-y: scroll;">
                    <div id="divMapSearchResults" style="display: none;">

                        @Html.Partial("_MapSearchResults")
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupMapSearchResults" onclick="disablePopupMapSearchResults();" class="backgroundPopupMapSearchResults" style="display: none;"></div>


<div id="ViewPropertyFavourite" style="display: none;" class="EditPopupPropertyFavourite">
    <table width="100%">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="float: left; color: #D66A2A; font-family: 'Century Gothic'">
                                    My Sites
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupPropertyFavourite();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">

                <div id="divFavouriteList">
                    @Html.Partial("_FavouriteList")
                </div>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupPropertyFavourite" onclick="disablePopupPropertyFavourite();" class="backgroundPopupPropertyFavourite" style="display: none;"></div>
<input type="hidden" id="hdnPropertyToSkip" name="hdnPropertyToSkip" value="@ViewBag.hdnPropertyToSkip"/>
<div id="divImageProgress" class="dvLoading" style="display: none;">
    <img id="imgProcessingNewContactSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle;" alt="Generating Report" />Loading...
</div>
<div id="backgroundLoadingImage" class="backgroundPopupProgress" style="display: none;"></div>
<div style="display: none;" id="divShowSalesVolumeOrLeaseRate" class="EditPopupVolumeLease">
    <table width="100%">
        <tr>
            <td class="mainHeader" colspan="2">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="float: left; font-family: 'Century Gothic'">
                                    <span id=""></span>
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupSalesVolumeOrLeaseRate();" />
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td style="padding-left: 10px; font-weight: bold;">Select Report Type: 
                           
            </td>
            <td align="left">
                <input type="radio" value="1" name="VolumeLease" id="radioVolume" />Display Sales Volume Only
                <input type="radio" value="2" name="VolumeLease" id="radioLease" />Display Sales/Lease Rate Only
                <input type="radio" value="3" name="VolumeLease" id="radioboth" />Both
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">

                <img id="imgShoeReport" alt="Report" src="~/Content/Images/Report-Button.gif" onclick="showReport()" />
                @*<input type="button" value="Show Report" onclick="showReport()"/>*@
            </td>
        </tr>
    </table>
</div>

<div id="backgroundPopupSalesVolumeOrLeaseRate" onclick="disablePopupSalesVolumeOrLeaseRate();" class="backgroundPopupMapSearchResults" style="display: none;"></div>































