﻿@{
    ViewBag.Title = "AdminLogin";
    
}

<script type="text/javascript">
  

</script>

<table width="100%" align="center">
    <tr>
        <td valign="top">
            <table align="left" width="300px">
                <tr>
                    @*<td class="headingBlack borderBottomLightGray">
                        Some Info</td>*@
                </tr>
                <tr>
                    <td>
                        <strong>
                            <br />
                        </strong>@*Some Text*@&nbsp;&nbsp;
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </td>
        <td valign="center" width="100%">
            <table align="center" width="300px" class="grayBox01">
                <tr>
                    <td class="headingBlack borderBottomLightGray">Site Administration</td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            <br />
                            @Html.Partial("_AdminLogin")
                        </strong>
                        <br />
                    </td>
                </tr>
                
            </table>
            <table width="300px" style="margin-left:60px">
                <tr>
                    <td style="text-align: right;">
                        <a href="@Url.Action("Login", "Account")" style="color:#949494;text-decoration:none">Return to site
                        <img src="@Url.Content("~/Content/Images/arrow_right.png")" title="Go to Admin" width="15" height="15" style="border: none; vertical-align: bottom;" />
                        </a>   
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top">
            <table align="left" width="300px">
                <tr>
                    @*<td class="headingBlack borderBottomLightGray">
                        Some Info</td>*@
                </tr>
                <tr>
                    <td>
                        <strong>
                            <br />
                        </strong>@*Some Text*@&nbsp;&nbsp;
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>