﻿@{
    ViewBag.Title = "Home";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.html5-placeholder-shim.js")"></script>
<script type="text/javascript">
    function openNewEntryForm() {
        window.location.href = "@Url.Action("NewEntry", "NewEntry")";
    }
    function OpenSavedEntry() {
        loadPopupSavedEntry();
    }

    function loadPopupSavedEntry() {
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupSavedEntry();
            $("#backgroundPopupSavedEntry").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupSavedEntry").fadeIn("slow");
            $("#divSavedEntry").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupSavedEntry() {
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupSavedEntry").fadeOut("slow");
            $("#divSavedEntry").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupSavedEntry() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divSavedEntry").height();
        var popupWidth = $("#divSavedEntry").width();
        //centering
        $("#divSavedEntry").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#backgroundPopupSavedEntry").css({
            "height": windowHeight
        });
        return false;
    }

    function searchmap(IsBrowseMap) {

        if (IsBrowseMap == false) {
            if ($('#txtSearchLocation').val() != '') {
                $('#hdnIsBrowseMap').val(IsBrowseMap);
                @*var location = location;
        window.location.href = "@Url.Action("ShowMap", "SearchMap", new {@IsBrowseMap = false})";*@
                $('#frmShowMap').submit();
            }
            else {
                alert('Please enter location to search')
                $('#txtSearchLocation').focus();
            }
        }
        else {
            $('#hdnIsBrowseMap').val(IsBrowseMap);
            $('#frmShowMap').submit();
        }
    }
    function BrowseMap(location) {
        window.location.href = "@Url.Action("ShowMap", "SearchMap", new { @IsBrowseMap = true })";
    }

    function EditsavedEntry(propertyid) {        
        var propertyid_encr = EncryptPropertyId(propertyid);        
        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
        @*var url = '@Url.Action("PropertyNewEntry", "PropertyDetail")?PropertyId=' + propertyid;*@
        var url = '@Url.Action("PropertyNewEntry", "PropertyDetail")?PropertyId=' + propertyid_encr;
        window.location.href = url;
    }

    //this function returns encrypted property id
    function EncryptPropertyId(propertyid) {
        var encryptedresult;
        $.ajax({
            type: "POST",
            async: false,
            cache: false,
            url: '@Url.Action("EncryptPropertyId", "PropertyDetail")',
            data: { propertyid },
            success: function (result) {
                encryptedresult = result;
            }
        });
        return encryptedresult;
    }

    function GetSavedEntry() {
        if ($('#txtfindSavedEntry').val() != '') {
            var PropertyResults;
            var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
            $.ajaxSetup({ cache: false });
            $.getJSON(APIControllerPath + "/SearchMap/GetMapResults?location=" + $('#txtfindSavedEntry').val() + "&radius=0&PageInfo=" + $('#hdnPageInfo').val(), {},
                function (tmpData) {
                    PropertyResults = tmpData[0];
                }).success(function () {
                    $('#divPropertyResults').empty();
                    $('#divPropertyResults').css('display', 'block');
                    for (var i = 1; i <= PropertyResults.length; i++) {
                        $('#divPropertyResults').append(i + '.  ' + PropertyResults[i - 1].PropertyName + ' ' + PropertyResults[i - 1].City + ", " + PropertyResults[i - 1].State + " " + PropertyResults[i - 1].Zipcode + '  ' + "<a href=\"#\"  style=\"padding-left:10px\"><img id=\"imgedit" + i + "\" name=\"imgedit\"  onclick=\" EditsavedEntry(" + PropertyResults[i - 1].PropertyId + ");\" alt=\"edit\" src=\"../Content/Images/Edit.png\" style=\"height:16px;width:16px; border: none;\" /></a><br />");
                    }
                })
        }
        else {
            alert('Please enter a location to Search');
        }
    }
</script>
<style type="text/css">
    .backgroundPopupSavedEntry {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupSavedEntry {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        height: 350px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }
</style>
<table align="center" width="300px" class="grayBox01">
    <tr>
        <td class="headingBlack borderBottomLightGray">Home</td>
    </tr>
    <tr>
        <td>
            <strong>
                <br />
                @* @using (Html.BeginForm("Login", "Account"))
                    {

                *@<div class="errorMsg">
                    @Html.ValidationSummary(true)
                </div>
                @using (Html.BeginForm("ShowMap", "SearchMap", FormMethod.Post, new { @id = "frmShowMap" }))
                {
                    <table width="100%">

                        <tr border="1">

                            <td>

                                <div style="height: 50px; width: 480px; float: left" class="divHeader">
                                    @Html.TextBox("txtSearchLocation", "", new { @ID = "txtSearchLocation", @style = "width: 430px;  height: 30px; margin-top:5px;border:solid;border-width: 2px;", placeholder = "Address, City, County, etc." })
                                    @Html.Hidden("hdnIsBrowseMap", "", new { @id = "hdnIsBrowseMap" })
                                    <a href="#" onclick="searchmap(false);" style="border: none; color: black; cursor: pointer;">
                                        <img src="@Url.Content("~/Content/Images/Home-Search-Button.gif")" title="Search" width="25" height="39" style="border: none; vertical-align: middle;" />
                                    </a>

                                    @*<a href="@Url.Action("ShowMap", "SearchMap", new { @Location = "Baltimore,MD" , @IsUserAddr =  false })" style="border: none; color: black; cursor: pointer;">
                                            <img src="@Url.Content("~/Content/Images/Home-Search-Button.gif")" title="Search" width="25" height="39" style="border: none; vertical-align: middle;" />
                                        </a>*@
                                </div>


                            </td>

                        </tr>

                        <tr>

                            <td colspan="2">
                                @*<input type="button" value="Browse map" class="buttonSearchEntryOrange" />*@
                                <div class="divHeader">
                                    <a href="#" onclick="searchmap(true);" style="color: white; text-decoration: none" title="Browse Map">
                                        Browse Map
                                        @*<img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />*@
                                    </a>
                                </div>
                            </td>
                        </tr>


                        <tr>

                            <td colspan="2">
                                @*<input type="button" value="Browse map" class="buttonSearchEntryOrange" />*@
                                <div class="divHeaderPurple" style="height: 1px">
                                    <a href="#" style="color: white; text-decoration: none">
                                        @*<img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />*@
                                    </a>
                                </div>
                            </td>
                        </tr>



                        <tr>

                            <td colspan="2">

                                @{
                                    if (Session["LoggedInUser"] != null)
                                    {
                                        SegallBll.User user = (SegallBll.User)Session["LoggedInUser"];
                                        if (user.CanAddRecords == true)
                                        {
                                            <div class="divHeaderPurple">
                                                <a href="@Url.Action("PropertyNewEntry", "PropertyDetail")" style="color:white;text-decoration:none" title="New Entry">
                                                    New Entry

                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="divHeaderPurple">
                                                <a href="#" style="color: white; text-decoration: none" title="New Entry">
                                                    New Entry

                                                </a>
                                            </div>
                                        }


                                    }


                                }


                            </td>
                        </tr>
                        <tr>

                            <td colspan="2">
                                <div class="divHeaderPurple">
                                    <a href="#" style="color: white; text-decoration: none" onclick="OpenSavedEntry()" title="Saved Entry">
                                        Saved Entry
                                        @*<img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />*@
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td colspan="2">
                                <div class="divHeaderPurple">
                                    <a href="@Url.Action("ShowSavedEntry", "PropertySearch")" style="color:white;text-decoration:none" title="Saved Search">
                                        Saved Search
                                        @*<img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />*@
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr style="display: none;">

                            <td colspan="2">
                                @*            <input type="button" value="New Entry" class="buttonSearchEntryPurple"  />*@
                                <div class="divHeaderPurple">
                                    <a href="@Url.Action("PropertyDemoNewEntry", "PropertyDetail")" style="color:white;text-decoration:none" title="New Entry">
                                        Demo New Entry
                                        @*<img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />*@
                                    </a>
                                </div>

                            </td>
                        </tr>
                        <tr>

                            <td colspan="2">
                                @*<input type="button" value="Browse map" class="buttonSearchEntryOrange" />*@
                                <div class="divHeaderPurple" style="height: 1px">
                                    <a href="#" style="color: white; text-decoration: none">
                                        @*<img src="@Url.Content("~/Content/Images/Edit.png")" title="Edit" width="15" height="15" style="border: none; vertical-align: bottom;" />*@
                                    </a>
                                </div>
                            </td>
                        </tr>

                    </table>}@*
                    }*@
                </strong>
                <br />
            </td>
        </tr>
    </table>



    <div id="divSavedEntry" style="display: none;" class="EditPopupSavedEntry">
        <table width="100%">
            <tr>
                <td class="mainHeader">
                    <div>
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <div style="float: left; color: #D66A2A; font-family: 'Century Gothic'">
                                        Saved Entry
                                    </div>
                                    <div style="float: right">
                                        <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupSavedEntry();" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="content" align="left">

                    <table width="100%">
                        <tr>
                            <td style="height: 15px"></td>
                        </tr>
                        <tr>
                            <td>
                                Find
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.TextBox("txtfindSavedEntry", "", new { @ID = "txtfindSavedEntry", @style = "width: 430px;  height: 30px; margin-top:5px;border:solid;border-width: 2px;", placeholder = "Address, City, County, etc." })

                                <a href="#" onclick="GetSavedEntry()" style="border: none; color: black; cursor: pointer;">
                                    <img src="@Url.Content("~/Content/Images/Home-Search-Button.gif")" title="Search" width="25" height="39" style="border: none; vertical-align: middle;" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="divPropertyResults" style="overflow-y: scroll; height: 200px; display: none"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            @*<tr>
                    <td class="footer">
                        <img id="imgProcessingNewContactSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />

                        <input type="submit" value="Add" class="buttonYellow_100" onclick="createNewClaimContact()" /></td>
                </tr>*@
        </table>
    </div>
    <div id="backgroundPopupSavedEntry" onclick="disablePopupPropertyInfo();" class="backgroundPopupSavedEntry" style="display: none;"></div>
