﻿@*@{
    ViewBag.Title = "testGeocode";
}

  <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;&v=2&key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw"></script>
<script type="text/javascript"> 
    var map;
    var myPano;   
    var panoClient;
    var houseMarker;

    $(function () { initialize(); })

    function initialize() {
        debugger;
      panoClient = new GStreetviewClient();      
      map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(42.345573,-71.098326), 15);
      map.addControl(new GSmallMapControl());
      map.addControl(new GMapTypeControl());

      houseMarker = new GMarker(new GLatLng(42.34611158, -71.09825849), {draggable: true});
      map.addOverlay(houseMarker); 
      houseMarker.openInfoWindowHtml("Drag me to angle the panorama towards a potential building location.");
      GEvent.addListener(houseMarker, "dragend", function() {
        panoClient.getNearestPanorama(houseMarker.getLatLng(), showPanoData);
      });
      
      myPano = new GStreetviewPanorama(document.getElementById("pano"));
      panoClient.getNearestPanorama(houseMarker.getLatLng(), showPanoData);
    }
    
    function showPanoData(panoData) {
        debugger;
      if (panoData.code != 200) {
        GLog.write('showPanoData: Server rejected with code: ' + panoData.code);
        return;
      }
      var angle = computeAngle(houseMarker.getLatLng(), panoData.location.latlng);
      myPano.setLocationAndPOV(panoData.location.latlng, {yaw: angle});
    }

    function computeAngle(endLatLng, startLatLng) {
        debugger;
      var DEGREE_PER_RADIAN = 57.2957795;
      var RADIAN_PER_DEGREE = 0.017453;

      var dlat = endLatLng.lat() - startLatLng.lat();
      var dlng = endLatLng.lng() - startLatLng.lng();
      // We multiply dlng with cos(endLat), since the two points are very closeby,
      // so we assume their cos values are approximately equal.
      var yaw = Math.atan2(dlng * Math.cos(endLatLng.lat() * RADIAN_PER_DEGREE), dlat)
             * DEGREE_PER_RADIAN;
      return wrapAngle(yaw);
   }

    function wrapAngle(angle) {
        debugger;
    if (angle >= 360) {
      angle -= 360;
    } else if (angle < 0) {
     angle += 360;
    }
    return angle;
  };

    </script>


 <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas" style="width: 500px; height: 400px"></div>
    <div name="pano" id="pano" style="width: 500px; height: 300px"></div>
    <input type="button" onclick="next()" value="Next"/>
  </body>*@







<table cellpadding='0' cellspacing='0' style='width: 90%;'>
    <tr>
        <th style="color: #D66A2A; text-align: left; height: 25px; padding: 0px; font-weight: bold;  vertical-align:middle;" nowrap="nowrap">About Faces</th>
        <th><a href="#" style="text-decoration: none">
            <img id="Favourite0" src="/Content/Images/NonFavourite flag.png" onclick="AddToFavourite(242,0);" title="Add to Favourite" width="30" height="30" style="display: block; border: none; vertical-align: bottom;" /></a><a href="#" style="text-decoration: none"><img id="UnFavourite0" src="/Content/Images/Favourite flag.png" onclick="DeleteFromFavourite(242,0);" title="Favourite" width="30" height="30" style="display: none; border: none; vertical-align: bottom;" /></a></th>
    </tr>
    <tr>
        <th colspan="2" nowrap="nowrap"  style="text-align: left; font-size: x-small">1809 Reisterstown Road, Pikesville , MD 21208</th>
    </tr>
    <tr>
        <th colspan="2" nowrap="nowrap" style="text-align: left; font-size: x-small;">Festival at Woodholme Center</th>
    </tr>
    <tr>
        <th colspan="2" style="text-align: left; font-size: x-small;" valign="top">0 sf</th>
        
    </tr>
    <tr>
        <td colspan="2" valign="top" style="text-align: right; width: 50%">
            <table valign="top" style="text-align: right; width: 100%">
                <tr>
                    <td width="50%">
                        <table width="100%">
                            <tr>
                                <td>
                                    <div class="divHeader" style="width: 100px; height: 15px; font-size: x-small;"><a href="#" style="color: white; text-decoration: none; font-size: x-small;" onclick="GetPropertyByRadius(21208)" title="Radius">Radius</a></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%">
                        <table width="100%">
                            <tr>
                                <td>
                                    <div class="divHeader" style="width: 100px; height: 15px; font-size: x-small;"><a href="#" onclick="loadPopupPropertyInfo(242);" style="color: white; text-decoration: none; font-size: x-small;" title="View Info">View Info</a></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
