﻿@model SegallBll.ViewModel.EmailViewModel
<style type="text/css">
    .emailText
    {
        width: 550px;
    }
</style>
<script type="text/javascript">
    
</script>
<table width="100%">
    <tr>
        <td style="border-top: 1px solid black; border-bottom: 1px solid black; border-left: 1px solid black; " width="800px" >
            
            <table width="100%">
                <tr>
                    <td class="subHeading"><span id="PropertymapCount" style="color: #D66A2A;font-family:'Century Gothic';font-size:medium">SEND REPORT</span></td>
                </tr>
            </table>
               
        </td>
        <td style="border-top: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;"  >
           
                <table width="10%" >
                    <tr>
                        <td><a href="#">
                            <img id="imgCancelButton" alt="Cancel" src='../Content/Images/Cancel-Button.gif' style="border: none;" /></a></td>
                        <td><a href="#">
                            <img id="imgsendEmailButton" alt="Send Email" onclick="SendMail()" src='../Content/Images/Send-Button.gif' style="border: none;" /></a></td>
                    </tr>
                </table>
           
        </td>

    </tr>
    <tr>
        <td colspan="2" style="height: 10px; display: none;"></td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <table width="80%">
                <tr>
                    <td style="text-align: left;">FROM :</td>
                    <td>
                        @Html.TextBoxFor(model => model.EmailFrom, new { @id="txtFromEmail",@class="emailText"})
                        @*<input type="text" id="txtFromEmail" class="emailText" />*@
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">TO :
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Emailto, new { @id="txttoEmail",@class="emailText"})
                        @*<input type="text" id="txttoEmail" class="emailText" />*@
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">SUBJECT :</td>
                    <td>
                        @Html.TextBoxFor(model => model.subject, new { @id="txtSubjectEmail",@class="emailText"})
                        @*<input type="text" id="txtSubjectEmail" class="emailText" />*@
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"> &nbsp</td>
                    <td align="left">
                        <a href="#" style="border: none; color: black; cursor: pointer;">
                            <img src="@Url.Content("~/Content/Images/Email-attachment.gif")" title="Attachment"  height="15" style="border: none; vertical-align: middle;" />
                        </a>
                        <span id="spnAttachmentName">SearchReport_@DateTime.Now.ToString("MMddyyyyhhmmss")</span>.pdf
                        @Html.HiddenFor(model=>model.AttachmentPath)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.TextAreaFor(model=>model.Body ,new{@class="emailText", @id="txtBodyEmail" ,@style="height: 100px"})
                        @*<textarea class="emailText" id="txtBodyEmail" style="height: 100px"></textarea>*@
                    </td>
                </tr>
            </table>
        </td>
    </tr>
     <tr>
        <td colspan="2" style="height: 10px; display: none;"></td>
    </tr>
</table>


