﻿<table width="100%" style="background-color: #A9ACAE; color: black;font-weight:300;padding-left:20px">
    <tr>
        <td width="15%">&nbsp;</td>
        <td width="75%">&nbsp;</td>
        <td width="10%">&nbsp;</td>
    </tr>
    <tr>
        <td>Sales</td>
        <td>
            @Html.TextBox("txtSales", null, new { @style="width:99%",@readonly="true"})
        </td>
        <td>
            <input type="button"  onclick="OptionSelection('Sales', 'divSalesVal');" class="buttonFilterOrange"  />
        </td>
    </tr>
    <tr>
        <td>Period</td>
        <td>
            @Html.TextBox("txtPeriod", null, new { @style="width:99%",@readonly="true"})
        </td>
        <td>
              <input type="button" onclick="OptionSelection('SalesPeriod', 'divSalesPeriodVal');" class="buttonFilterOrange"  />
        </td>
    </tr>
      <tr>
          <td colspan="3">
              &nbsp;
          </td>
      </tr>
</table>