﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/PageBody.css")" rel="stylesheet" type="text/css" />
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

     <script type="text/javascript">
         function Redirect() {
             var hdnRedirect = document.getElementById("hdnRedirect");
             if (hdnRedirect.value == 1) {
                 window.location.assign = "@Url.Action("Logout", "Account")";
            }
        }
        function CheckForLoadEvent() {
            if (window.ExecuteOnLoad != null)
                window.ExecuteOnLoad();
        }
    </script>
</head>
<body onload="CheckForLoadEvent()">


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
   

    <table width="100%" cellpadding="0" cellspacing="0">
       
        <tr>
            <td>
                <table align="center" width="1000px" cellpadding="0" cellspacing="0"
                    border="0" class="pageBorder" style="border-top: 0px !important;">
                    <tr>
                        <td bgcolor="#919191">
                        <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left" width="100%">&nbsp;&nbsp;&nbsp;&nbsp;
                            <table>
                                <tr>
                                    <td width="10%">
                                        <a href="@Url.Action("Home", "Home")" style="border:none; text-decoration:none;cursor:pointer;"  title="Home">
                                        <img src= "@Url.Content("~/Content/Images/logorevised.gif")" style="border:none;"  alt="Segall Groups." />
                                            </a></td>
                                    <td style="text-align:left; vertical-align:bottom;padding-left:10px" >
                                        <h1><span style="color:white;font-weight:200">Geo</span><span style="color:#D66A2A">APP</span></h1>
                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td valign="top" style="padding-right: 5px;">
                            @*<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=ItTB9b25O5spOO6aZgPikVm5L8xd19W6zcnK9mGR3Y8F1YE3NBu49lDek"></script></span>*@
                        </td>
                        <td align="right" valign="top" style="padding-right: 20px;">
                            <table >
                                <tr>


                                    <td align="right" nowrap="nowrap"></td>                               

                                    <td nowrap="nowrap" align="left">
                                        
                                       @{
                                            if (HttpContext.Current.User.Identity.Name == String.Empty)
                                            {
                        
                                             @*@Html.ActionLink("Login", "Login", "Account")*@
                       
                                            }
                                            else
                                            {
                                            <div style="display: inline;">
                                                @{
                                                SegallBll.User user = (SegallBll.User)Session["LoggedInUser"];
                                                <div style="display: inline ;color:white;font-size:small">@user.Firstname @user.Lastname</div>
                                                }
                                                
                                               @*@Html.ActionLink("logout", "logout", "Account")*@
                                                <a href="@Url.Action("logout", "Account")" style="color:white;text-decoration:none;cursor:pointer"   title="Logout">
                                                <img src="@Url.Content("~/Content/Images/Home-Logout-Button.gif")" title="Logout" style="border: none; vertical-align: bottom;" />
                                            </a>                                 
                                            </div>
                                            }
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                            </td>
                    </tr>
                    <tr>
                        <td bgcolor="#4A4A4C" class="mainContent">
                            @RenderBody()
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#919191" align="center" style="color: black; height: 40px;"
                            valign="middle">www.segallgroup.com
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <input id="hdnRedirect" name="hdnRedirect" type="hidden" value="@(Session["LoggedInUser"] == null && HttpContext.Current.User.Identity.IsAuthenticated == true ? "1" : "0")" />
</body>
</html>
