﻿@model SegallBll.ViewModel.LoginViewModel
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.html5-placeholder-shim.js")"></script>
<script type="text/javascript">

    var ie = $.browser.msie && typeof window['XMLHttpRequest'] !== "object";
    if (ie)
        $(window).resize();

    function GetLoginIdentity() {
        debugger;
        var username = $('#txtEmail').val();
        var password = $('#txtPassword').val();
        // Send an AJAX request
        $.ajaxSetup({ cache: false });
        $.getJSON("/api/users?username=" + username + "&password=" + password,

        function (data) {

            // On success, 'data' contains a list of products. 

        });
    }
</script>


@using (Html.BeginForm("Login", "Account"))
{
    
    <div class="errorMsg">
        @Html.ValidationSummary(true)
    </div>
    
    <table width="100%">
        @{
    if (HttpContext.Current.User.Identity.IsAuthenticated == false)
    {
            <tr>
                @*<td width="80">Email ID</td>*@
                <td>
                    <div class="divHeader" style="height:40px">
                        @Html.TextBoxFor(model => model.user.Email, "", new { @id = "txtEmail", @style = "width: 300px;border:solid;border-width: 2px;  height: 20px;margin:4px;", placeholder = "Email" })
                    </div>
                </td>
            </tr>
            <tr>
                @* <td width="80">Password</td>*@
                <td>
                    <div class="divHeader" style="height:40px">
                        @Html.PasswordFor(model => model.user.password,  new { @id = "txtPassword", @style = "width: 300px; border:solid;border-width: 2px; height: 20px;margin:4px;", placeholder = "Password" })
                    </div>
                    <div class="errorMsg">
                        @*@Html.ValidationMessageFor(model => model.Password)*@
                    </div>
                </td>
            </tr>
            <tr>
                @*<td width="80">&nbsp;</td>*@
                <td style="vertical-align:top" >&nbsp;<br />
                    <input type="submit" class="buttonSearchEntryPurple" value="Login" style="width:318px;height:30px" />
                </td>
            </tr>
    }
    else
    {
            <tr>
                <td align="center">You are logged in as <b>@HttpContext.Current.User.Identity.Name</b>
                </td>
            </tr>
    }
        }
    </table>
}