﻿<style type="text/css">
    #backgroundPopupFilters
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
        
    }

    .EditPopup
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 550px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }
</style>
<script type="text/javascript">

    function loadFiltersPopup() {

        document.getElementById("iframeFilters").src = '@Url.Action("PropertyFilters", "PropertyDetail", new { location = TempData["Location"] })';
        centerFiltersPopup();

        $("#backgroundPopupFilters").css({
        });

        $("#backgroundPopupFilters").fadeIn("slow");
        $("#divFilters").fadeIn("slow");

        return false;
    }

    function centerFiltersPopup() {

        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divFilters").height();
        var popupWidth = $("#divFilters").width();
        //centering
        $("#divFilters").css({
            "position": "absolute",
            "top": "20px",
            "left": "20px"

        });
        //only need force for IE6

        $("#backgroundPopupFilters").css({
            "height": windowHeight
        });
        return false;
    }

    function disableFiltersPopup() {

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupFilters").fadeOut("slow");
            $("#divFilters").fadeOut("slow");
            popupStatus = 0;
        }

    }

    function PropertyDetailDB() {
        var itemArray = new Array();
        itemArray[0] = new propertybasicresult();
        self.propertybasicresult = itemArray;

    }



    function propertybasicresult() {
        var self = this;
        self.PropertyName = "";
        self.Size = "";
        self.SizeUnit = "";
        self.Address = "";
        self.City = "";
        self.County = "";
        self.State = "";
        self.Zipcode = "";
        self.Latitude = "";
        self.Longitude = "";
        self.Center = "";
        self.GLA = "";
        self.Land = "";
        self.category = "";
        self.Zoning = "";
        self.PropertyAddedBy = "";




    }


    function GetPropertyDetails(propertyid) {
        debugger;
        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
        var objpropertybasic = new propertybasicresult();
        var propertyid_encr = EncryptPropertyId(propertyid);
        @*var url = '@Url.Action("PropertyNewEntry", "PropertyDetail")?PropertyId=' + propertyid;*@
        var url = '@Url.Action("PropertyNewEntry", "PropertyDetail")?PropertyId=' + propertyid_encr;
        window.location.href = url;

        @* $.ajax({
            type: "GET",
            url: APIControllerPath + "/api/PropertyBasic",
            data: { PropertyId: propertyid },
            datatype: JSON,
            data: JSON.stringify(new PropertyDetailDB()),
            contentType: "application/json;charset=utf-8",
            error: function (xhr, status, error) {
                // you may need to handle me if the json is invalid
                // this is the ajax object
            },
            success: function (json) {

                var url = '@Url.Action("LoadPropertyDetails", "PropertyDetail")?PropertyDetails=' + objpropertybasic;
                window.location.href = url;
            }
        });*@
        // Send an AJAX request
     @*$.ajaxSetup({ cache: false });
        $.getJSON(APIControllerPath + "/api/PropertyBasic?PropertyId=" + propertyid,

      function (data) {

          objpropertybasic = data[0];
          JSON.stringify(objpropertybasic);

         }).success(function () {
             var url = '@Url.Action("LoadPropertyDetails", "PropertyDetail")?PropertyDetails=' + objpropertybasic;
             window.location.href = url;

         });*@
    }

    //this function returns encrypted property id
    function EncryptPropertyId(propertyid) {
        var encryptedresult;
        $.ajax({
            type: "POST",
            async: false,
            cache: false,
            url: '@Url.Action("EncryptPropertyId", "PropertyDetail")',
            data: { propertyid },
            success: function (result) {
                encryptedresult = result;
            }
        });
        return encryptedresult;
    }

    function showRecordDetails(rowIndex) {
        //alert(rowIndex + '');

        document.getElementById('trRecordInfo' + rowIndex).style.display = 'table-row';
        document.getElementById('imgExpand' + rowIndex).style.display = 'none';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'block';

    }
    function hideRecordDetails(rowIndex) {
        //alert(rowIndex + '');

        document.getElementById('trRecordInfo' + rowIndex).style.display = 'none';
        document.getElementById('imgExpand' + rowIndex).style.display = 'block';
        document.getElementById('imgCollapse' + rowIndex).style.display = 'none';

    } function showRecordDetailsview(rowIndex, propertyid) {
        //alert(rowIndex + '');
        //$('#MapSearchResults').css('overflow-x', 'hidden');
        loadPopupPropertyInfoSearchMap(propertyid)
        document.getElementById('trRecordInfoview' + rowIndex).style.display = 'table-row';
        document.getElementById('imgExpandview' + rowIndex).style.display = 'none';
        document.getElementById('imgCollapseview' + rowIndex).style.display = 'block';
    }
    function hideRecordDetailsview(rowIndex) {
        //alert(rowIndex + '');

        document.getElementById('trRecordInfoview' + rowIndex).style.display = 'none';
        document.getElementById('imgExpandview' + rowIndex).style.display = 'block';
        document.getElementById('imgCollapseview' + rowIndex).style.display = 'none';
    }

    function GetPropertyInfoSearchMap(propertyid) {
        $.post('@Url.Content("~/SearchMap/GetPropertyInfoById")',
                    {
                        propertyid: propertyid,
                    },
                     function (data) {
                         $('#divPropertyInfoDetailsSearchMap').empty().append(data);
                     });
    }

    function loadPopupPropertyInfoSearchMap(propertyid) {
        GetPropertyInfoSearchMap(propertyid)
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupPropertyInfoSearchMap();
            $("#backgroundPopupPropertyInfoSearchMap").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupPropertyInfoSearchMap").fadeIn("slow");
            $("#ViewPropertyInfoSearchMap").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupPropertyInfoSearchMap() {
        //disables popup only if it is enabled

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupPropertyInfoSearchMap").fadeOut("slow");
            $("#ViewPropertyInfoSearchMap").fadeOut("slow");
            popupStatus = 0;
        }
        //$('#MapSearchResults').css('overflow-x', 'scroll');
    }
    function centerPopupPropertyInfoSearchMap() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#ViewPropertyInfoSearchMap").height();
        var popupWidth = $("#ViewPropertyInfoSearchMap").width();
        //centering
        $("#ViewPropertyInfoSearchMap").css({
            "position": "absolute",
            "top": "20px",
            "left": "10px"

        });
        //only need force for IE6

        $("#backgroundPopupPropertyInfoSearchMap").css({
            "height": windowHeight
        });
        return false;
    }
    function LoadPopupSaveSearchName() {

        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupSaveSearchName();
            $("#backgroundPopupSaveSearchName").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupSaveSearchName").fadeIn("slow");
            $("#divsaveSearchName").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupSaveSearchName() {
        //disables popup only if it is enabled

        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupSaveSearchName").fadeOut("slow");
            $("#divsaveSearchName").fadeOut("slow");
            popupStatus = 0;
        }

    }
    function centerPopupSaveSearchName() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divsaveSearchName").height();
        var popupWidth = $("#divsaveSearchName").width();
        //centering
        $("#divsaveSearchName").css({
            "position": "absolute",
            "top": "200px",
            "left": "200px"

        });
        //only need force for IE6

        $("#backgroundPopupSaveSearchName").css({
            "height": windowHeight
        });
        return false;
    }
    function saveSearch() {
        //  debugger;
        var saveSearchname = $('#txtSaveSearchName').val();
        if (saveSearchname != '') {
            $.post('@Url.Content("~/PropertySearch/saveSavedSearch")',
                       {
                           savedsearchName: $('#txtSaveSearchName').val(), Location: '@TempData["Location"]'
                       },
                        function (data) {
                            alert('Search Saved Successfully');
                            disablePopupSaveSearchName();
                        });
        }
        else { alert('Please provide a Save Search Name'); }
    }
    function DeleteProperty(PropertyId)
    {

        if(confirm('Are you sure you want to delete this property!')){
             $.post('@Url.Content("~/PropertyDetail/DeleteProperty")',
                          {
                              PropertyId: PropertyId
                          },
                            function (data) {
                                alert(data);
                                window.location.href = "@Url.Action("ShowMap", "SearchMap")";
                            });
           @* jQuery.support.cors = true;
            var id = PropertyId;
            var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
            $.ajax({
                url: APIControllerPath + '/api/PropertyBasic/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });*@

        }

    }
    function getTextBetweenTags($string, $tagname) {
        $pattern = "/<$tagname ?.*>(.*)<\/$tagname>/";
        preg_match($pattern, $string, $matches);
        return $matches[1];
    }
    function setmapSearchValues(tempdata) {

        var data = tempdata;
        var htmlstring = "<table width=\"100%\" style=\"font-family:'Century Gothic';\">";
        htmlstring += "<tr><td class=\"subHeading\" width=\"60%\"><span id=\"PropertymapCount\"></span> RESULTS (Properties <span id=\"PropertymaprestaurantCount\"></span>)</td><td width=\"40%\"><table><tr><td><a href=\"#\" style=\"display: none;\"><img id=\"imgFilterButton\" alt=\"Filter\"   src='../Content/Images/Filter-Button-Gray.gif' style=\"border: none;\" /></a></td><td><a href=\"#\"  ><img id=\"imgFilterButton\" alt=\"Filter\" onclick=\"loadFiltersPopup();\" src='../Content/Images/Filter-Button-Gray.gif' style=\"border: none;\" /></a></td><td><a href=\"#\"><img id=\"imgReportButton\" alt=\"Report\" onclick=\"showReportVolumeOrlease();\"  src='../Content/Images/Report-Button.gif'  style=\"border: none;\" /></a></td><td><a href=\"#\"><img id=\"imgSaveButton\" alt=\"Save\" onclick=\"LoadPopupSaveSearchName();\" src='../Content/Images/Save-Button.gif'  style=\"border: none;\" /></a></td></tr></table></td></tr>"
        var j = 0;
        var k = 1;
        var propertyname = "";
        if (data != 0) {
            for (i = 0; i < data.length; i++) {
                if (i == 0) {
                    htmlstring += "<tr><td colspan=\"2\">";
                    htmlstring += "<table style=\"\"><tr>";
                    htmlstring += "<td width=\"18px\"><a href=\"#\"><img id=\"ResultSrNo" + i + "\"   src='../Content/Images/ResultSrNo.png' onclick=\"DeleteProperty(" + data[i].PropertyId + ")\" style=\"border: none;height:18px;display:none;\" /></a></td><td width=\"40px\">";
                    htmlstring += "<a href=\"#\"><img id=\"imgExpand" + i + "\" alt=\"Expand\" name=\"imgExpand\"  src='../Content/Images/Results-List-Box-Plus.gif' onclick=\"showRecordDetails(" + i + ")\" style=\"border: none;\" /></a>";
                    htmlstring += "<a href=\"#\"><img id=\"imgCollapse" + i + "\" name=\"imgCollapse\"  onclick=\"hideRecordDetails(" + i + ")\" alt=\"Collapse\" src=\"../Content/Images/Results-List-Box-Dash.gif\" style=\"display: none; border: none;\" /></a>";
                    htmlstring += "</td><td> <span style=\"font-size:large\" id=\"mapSearchPropertyName" + i + "\"></span>&nbsp;&nbsp;&nbsp;&nbsp;( mapSearchPropertyCount" + i + " )";
                    htmlstring += "</td></tr><tr><td colspan=\"3\"><div id=\"trRecordInfo" + i + "\" style=\"display: none;\"><table>";
                    j++;
                    propertyname = "mapSearchPropertyCount" + i;
                }
                else {
                    if (data[i].PropertyName != data[i - 1].PropertyName) {

                        htmlstring += "<tr><td colspan=\"2\">";
                        htmlstring += "<table><tr><td width=\"18px\"><a href=\"#\"><img id=\"ResultSrNo" + i + "\"   src='../Content/Images/ResultSrNo.png' onclick=\"DeleteProperty(" + data[i].PropertyId + ")\" style=\"border: none;height:18px;display:none;\" /></a><td width=\"40px\">";
                        htmlstring += "<a href=\"#\"><img id=\"imgExpand" + i + "\" alt=\"Expand\" name=\"imgExpand\"  src='../Content/Images/Results-List-Box-Plus.gif' onclick=\"showRecordDetails(" + i + ")\" style=\"border: none;\" /></a>";
                        htmlstring += "<a href=\"#\"><img id=\"imgCollapse" + i + "\" name=\"imgCollapse\"  onclick=\"hideRecordDetails(" + i + ")\" alt=\"Collapse\" src=\"../Content/Images/Results-List-Box-Dash.gif\" style=\"display: none; border: none;\" /></a>";
                        htmlstring += "</td><td>  <span style=\"font-size:large\" id=\"mapSearchPropertyName" + i + "\"></span>&nbsp;&nbsp;&nbsp;&nbsp;( mapSearchPropertyCount" + i + " )";
                        htmlstring += "</td></tr><tr><td colspan=\"3\"><div id=\"trRecordInfo" + i + "\" style=\"display: none;\"><table>";
                        //j = 0;
                        j++;
                        propertyname = "mapSearchPropertyCount" + i;
                    }
                    else { k++; }
                }
                $('#hdnPropertyId').val();
                htmlstring += "<tr >";
                htmlstring += "<td colspan=\"10\">";
                htmlstring += "<table width=\"100%\" cellspacing=\"0\">";
                htmlstring += "<tr>";
                htmlstring += "<td style=\"padding-left:40px\" width=\"10px\">";
                htmlstring += "<a href=\"#\"><img id=\"imgTogglefadeoutview" + i + "\"  src='../Content/Images/ToggleApply.png' onclick=\"ToggleReportResult(" + data[i].PropertyId + ", 'show', " + i + ")\" style=\"border: none;\" /></a>";
                htmlstring += "<a href=\"#\"><img id=\"imgTogglefadeinview" + i + "\"  src='../Content/Images/ToggleApplyCollapse.png' onclick=\"ToggleReportResult(" + data[i].PropertyId + ", 'hide', " + i + ")\" style=\"display: none; border: none;\" /></a>";
                htmlstring += "  </td>";
                htmlstring += "<td valign=\"top\" style=\"padding-left:10px;padding-top:3px;width:50px\">";
                htmlstring += "<a href=\"#\"><img id=\"imgExpandview" + i + "\" alt=\"Expand\" name=\"imgExpand\"  src='../Content/Images/Results-List-View-Button-Gray.gif' onclick=\"showRecordDetailsview(" + i + ", " + data[i].PropertyId + ")\" style=\"border: none;\" /></a>";
                htmlstring += "<a href=\"#\"><img id=\"imgCollapseview" + i + "\" name=\"imgCollapse\"  onclick=\"hideRecordDetailsview(" + i + ")\" alt=\"Collapse\" src=\"../Content/Images/Results-List-View-Button-Gray.gif\" style=\"display: none; border: none;\" /></a>";
                htmlstring += "</td>";
                htmlstring += "<td  style=\"padding-left:0px\"><span style=\"font-size:small\" id=\"mapSearchPropertyAddress" + i + "\"></span>";
                if (data[i].Favorite == 1) {
                    htmlstring += "<a href=\"#\"  style=\"padding-left:10px\"><img id=\"favourite" + i + "\" alt=\"favourite\" src=\"../Content/Images/Flag.jpg\" style=\"height:16px;width:16px; border: none;\" /></a>";
                }
                if (data[i].CanEditRecord == 1) {
                    htmlstring += "<a href=\"#\"  style=\"padding-left:10px\"><img id=\"imgedit" + i + "\" name=\"imgedit\"  onclick=\" GetPropertyDetails(" + data[i].PropertyId + ");\" alt=\"edit\" src=\"../Content/Images/Edit.png\" style=\"height:16px;width:16px; border: none;\" /></a>";
                }

                if (data[i].CanDeleteRecord == 1) {
                    htmlstring += "<a href=\"#\"  style=\"padding-left:10px\"><img id=\"imgdelete" + i + "\" name=\"imgdelete\"  onclick=\" DeleteProperty(" + data[i].PropertyId + ");\" alt=\"Delete\" src=\"../Content/Images/Cancel.png\" style=\"height:16px;width:16px; border: none;\" /></a>";
                }
                htmlstring += "</td>";
                htmlstring += "</tr>";
                htmlstring += "<tr><td colspan=\"3\"  style=\"padding-left:100px;\" >";
                htmlstring += "<table width=\"100%\" cellspacing=\"0\" id=\"trRecordInfoview" + i + "\" style=\"display:none;\">";
                htmlstring += "<tr  >";
                htmlstring += "<td width=\"10%\" style=\"padding-left:40px\">Property:  ";
                htmlstring += "</td>";
                htmlstring += "<td align=\"left\" style=\"padding-left:10px\"> <span style=\"font-size:small\" id=\"mapSearchPropertyCenter" + i + "\"></span> ";
                htmlstring += "</td>";
                htmlstring += "  </tr>";
                htmlstring += "<tr>";
                htmlstring += "<td width=\"10%\" style=\"padding-left:40px\">Size:  ";
                htmlstring += "</td>";
                htmlstring += "<td align=\"left\" style=\"padding-left:10px\"> <span style=\"font-size:small\" id=\"mapSearchPropertySize" + i + "\"></span> ";
                htmlstring += "</td>";
                htmlstring += "</tr>";
                htmlstring += "<tr>";
                htmlstring += "<td width=\"10%\" style=\"padding-left:40px\">Cat: ";
                htmlstring += "</td>";
                htmlstring += "<td align=\"left\" style=\"padding-left:10px\"><span style=\"font-size:small\" id=\"mapSearchPropertyCat" + i + "\"></span> ";
                htmlstring += "</td>";
                htmlstring += "</tr>";
                htmlstring += "<tr>";
                htmlstring += "<td width=\"10%\" style=\"padding-left:40px\">Zoining: </td>";
                htmlstring += "<td align=\"left\" style=\"padding-left:10px\"> <span style=\"font-size:small\" id=\"mapSearchPropertyZoining" + i + "\"></span>";
                htmlstring += "</td>";
                htmlstring += "</tr>";
                htmlstring += "</table></td></tr></table>";
                htmlstring += "</td></tr>";
                if (i == data.length - 1) {
                    htmlstring += "</table></div></td></tr></table></td></tr>";
                }
                else {
                    if (data[i].PropertyName != data[i + 1].PropertyName) {
                        htmlstring += "</table></div></td></tr></table></td></tr>";

                        htmlstring = htmlstring.replace(propertyname, k);

                        k = 1;
                    }
                }
            }

            htmlstring = htmlstring.replace(propertyname, k)
        }
        htmlstring += "</table>";
        $("#divResult").empty();
        $("#divResult").html("");
        $("#divResult").html(htmlstring);
        $('#PropertymaprestaurantCount').text(data.length)
        $('#PropertymapCount').text(j.toString());
        for (i = 0; i < data.length; i++) {

            $('#mapSearchPropertyName' + i).text(data[i].PropertyName)
            $('#mapSearchPropertyAddress' + i).text(data[i].Address + ", " + data[i].City + ", " + data[i].State + " " + data[i].Zipcode)
            $('#mapSearchPropertyCenter' + i).text(data[i].Center)
            $('#mapSearchPropertySize' + i).text(data[i].Size)
            $('#mapSearchPropertyCat' + i).text('Restaurant')
            $('#mapSearchPropertyZoining' + i).text(data[i].Zoning)
        }

    }


    function ToggleReportResult(propertyid, ImgDisplay, PropertyIndex) {

        var id = propertyid;

        if (ImgDisplay == 'show') {

            $('#imgTogglefadeoutview' + PropertyIndex).css('display', 'none')
            $('#imgTogglefadeinview' + PropertyIndex).css('display', 'block')
            $('#mapSearchPropertyAddress' + PropertyIndex).css('color', '#BBBDC0');
            id = $('#hdntoggleDisplay').val();
            id += propertyid + ', ';
            $('#hdntoggleDisplay').val(id)
        }
        else if (ImgDisplay == 'hide') {
            $('#imgTogglefadeoutview' + PropertyIndex).css('display', 'block')
            $('#imgTogglefadeinview' + PropertyIndex).css('display', 'none')
            $('#mapSearchPropertyAddress' + PropertyIndex).css('color', '#919191');
            id = $('#hdntoggleDisplay').val();
            id = id.replace(propertyid + ', ', '')
            $('#hdntoggleDisplay').val(id);
        }
    }
</script>

<style type="text/css">
    .backgroundPopupPropertyInfoSearchMap
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupPropertyInfoSearchMap
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 700px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    .backgroundPopupSavesSearchName
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupSaveSearchname
    {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }
</style>
<div id="divResult"></div>

<div id="backgroundPopupFilters" onclick="disableFiltersPopup();"></div>
<div id="divFilters" class="EditPopup" style="width: 700px; height: 500px">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content" align="center">
                <iframe id="iframeFilters" width="700px" height="500px" frameborder="0" scrolling="auto"></iframe>
            </td>
        </tr>


    </table>

</div>

<div id="ViewPropertyInfoSearchMap" style="display: none;" class="EditPopupPropertyInfoSearchMap">
    <table width="100%">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="float: left; color: #D66A2A; font-family: 'Century Gothic'">
                                    Property Info
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupPropertyInfoSearchMap();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">

                <div id="divPropertyInfoDetailsSearchMap">
                    @* @Html.Partial("_PropertyInfo")*@
                </div>
            </td>
        </tr>
        @*<tr>
            <td class="footer">
                <img id="imgProcessingNewContactSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />

                <input type="submit" value="Add" class="buttonYellow_100" onclick="createNewClaimContact()" /></td>
        </tr>*@
    </table>
</div>
<div id="backgroundPopupPropertyInfoSearchMap" onclick="disablePopupPropertyInfoSearchMap();" class="backgroundPopupPropertyInfoSearchMap" style="display: none;"></div>



<div id="divsaveSearchName" style="display: none;" class="EditPopupSaveSearchname">
    <table width="100%">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="float: left; color: #D66A2A; font-family: 'Century Gothic'">
                                    Save Search
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupSaveSearchName();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">
                <table>
                    <tr>
                        <td>Save Search Name:</td>
                        <td>
                            <input type="text" id="txtSaveSearchName" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="footer">
                <img id="imgProcessingNewContactSubmit" src="~/Content/Images/progress01.gif" height="16" width="16" style="vertical-align: middle; display: none;" alt="Saving" />

                <div class="divHeader" style="height: 18px; width: 90px; font-size: x-small;">
                    <a href="#" onclick="saveSearch();" style="color: white; text-decoration: none" title="Browse Map">Save Search
                                                
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="backgroundPopupSaveSearchName" onclick="disablePopupSaveSearchName();" class="backgroundPopupSavesSearchName" style="display: none;"></div>

@Html.Hidden("hdnPropertyId", "", new { @id = "hdnPropertyId" })
<input type="hidden" id="hdntoggleDisplay" value="@ViewBag.hdntoggleDisplay"/>













