﻿@model SegallBll.ViewModel.PropertyDetailViewModel
<script type="text/javascript">
    function GetLatitudeLongitude() {

        var state = $('#ddlState option:selected').val();
        var address = $('#txtPropertyName').val() + ' ' + $('#txtPropertyAddress').val() + ' ' + $('#txtCity').val() + ' ' + state + ' ' + $('#txtZipcode').val()
        showAddress(address);
    }
</script>

    <table width="100%" style="background-color: #A9ACAE; color: black; font-weight: 300; padding-left: 5px">
        <tr>
            <td>NAME</td>
            <td colspan="3">
                @Html.TextBoxFor(model => model.propertybasic.PropertyName, new { @style = "width:40%", @id = "txtPropertyName" })
            </td>
        </tr>
        <tr>
            <td width="10%">SIZE</td>
            <td colspan="3" width="80%">
                @{
                    if (Model.propertybasic.SizeUnit == 3)
                    {
                        @Html.TextBoxFor(model => model.propertybasic.Size, String.Format("{0:0.00}", Model.propertybasic.Size), new { @style = "width:26%", @id = "txtPropertySize", @onchange = "return ChangePropertySize()" })

                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.propertybasic.Size, String.Format("{0:#,##0}", Model.propertybasic.Size), new { @style = "width:26%", @id = "txtPropertySize", @onchange = "return ChangePropertySize()" })


                    }
                }
                @*     @Model.propertyInfoDetails.propertyInfo.Size.ToString("#,##0") 0:n0 *@
                @*   @Model.propertyInfoDetails.propertyInfo.Size.ToString("N2")*@
                @*
                    @Html.TextBoxFor(model => model.propertybasic.Size, String.Format("{0:0.00}", Model.propertybasic.Size), new { @style = "width:26%", @id = "txtPropertySize", @class = "decimal" })*@
                @*</td>
                    <td>*@

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.DropDownListFor(model => model.propertybasic.SizeUnit, Model.SizeList, new { @id = "ddlSize" })
                @if (Model.PropertyId > 0)
                {
                    <input type="button" id="btnSaveSize" onclick="return SaveSizeAndVolume();" class="buttonSavePage" style="width:150px !important;" value="Recalculate Volume" />
                }

            </td>

        </tr>
        <tr>
            <td>ADDRESS</td>
            <td colspan="3">
                @Html.TextBoxFor(model => model.propertybasic.Address, new { @style = "width:40%", @id = "txtPropertyAddress" })
            </td>
        </tr>
        <tr>
            <td>CITY</td>
            <td colspan="3">
                @Html.TextBoxFor(model => model.propertybasic.City, new { @style = "width:26%", @id = "txtCity" })
            </td>
        </tr>
        <tr>
            <td>COUNTY</td>
            <td colspan="3">
                @Html.TextBoxFor(model => model.propertybasic.County, new { @style = "width:26%", @id = "txtCounty" })
            </td>
        </tr>
        <tr>
            <td width="10%">STATE</td>
            <td width="40%">
                @*@Html.TextBoxFor(model => model.propertybasic.State, new { @style = "width:90%",@id="txtState" })*@
                @Html.DropDownListFor(model => model.propertybasic.State, Model.StateList, new { @style = "width:61%", @id = "ddlState" })
            </td>
            <td width="10%">ZIPCODE</td>
            <td width="40%">
                @Html.TextBoxFor(model => model.propertybasic.Zipcode, new { @style = "width:40%", @id = "txtZipcode" })
            </td>
        </tr>
        <tr>
            <td>CENTER</td>
            <td colspan="3">
                @Html.TextBoxFor(model => model.propertybasic.Center, new { @style = "width:40%", @id = "txtCenter" })
            </td>
        </tr>
        <tr>
            <td width="10%">
                LATITUDE <a href="#" onclick="GetLatitudeLongitude()" style="cursor: pointer; border: none; color: black; padding-left: 5px">
                    <img src="@Url.Content("~/Content/Images/map_marker.png")" title="Get Latitude and Longitude" width="25" height="25" style="border: none; vertical-align: middle;" />
                </a>
            </td>
            <td width="40%">
                @Html.TextBoxFor(model => model.propertybasic.Latitude, new { @style = "width:90.5%", @id = "txtLatitude", @class = "location" })
            </td>
            <td width="10%">LONGITUDE</td>
            <td width="40%">
                @Html.TextBoxFor(model => model.propertybasic.Longitude, new { @style = "width:80%", @id = "txtLongitude", @class = "location" })
            </td>
        </tr>

        <tr>
            <td width="10%">GLA</td>
            <td width="40%">
                @Html.TextBoxFor(model => model.propertybasic.GLA, String.Format("{0:0.00}", Model.propertybasic.GLA), new { @style = "width:59%", @id = "txtGLA", @class = "decimal" })
            </td>
            <td width="10%">LAND</td>
            <td width="40%">
                @Html.TextBoxFor(model => model.propertybasic.Land, String.Format("{0:0.00}", Model.propertybasic.Land), new { @style = "width:80%", @id = "txtLand", @class = "decimal" })
            </td>
        </tr>
        <tr>
            <td width="10%">CATEGORY</td>
            <td width="40%">
                @Html.DropDownListFor(model => model.propertybasic.category, Model.CategoryList, new { @style = "width:61%", @id = "ddlCategory" })
            </td>
            <td width="10%">ZONING</td>
            <td width="40%">
                @Html.TextBoxFor(model => model.propertybasic.Zoning, new { @style = "width:80%", @id = "txtZoning" })
            </td>
        </tr>
        <tr>
            <td>TENANT</td>
            <td colspan="3">
                @Html.TextBoxFor(model => model.propertybasic.Tenant, new { @style= "width:26%;",@id="txtTenant" })
            </td>
        </tr>
        <tr>
            <td>NOTES</td>
            <td colspan="3">
                @Html.TextAreaFor(model => model.propertybasic.Notes, new { @style = "width:91%;height:80px;resize: none", @id = "txtNotes" })
            </td>
        </tr>
    </table>

