﻿@model SegallBll.ViewModel.PropertyInfoViewModel
    
<style>
    .buttonEdit {
        text-align: center;
        color: #ECECED;
        background-color: #4C4D4F;
        border: solid;
        border-color: black;
        border-width: thin;
        width: 60px;
        height: 27px;
    }
</style>
<script type="text/javascript">

    function GetPropertyDetails() {
        var propertyid = '@Model.propertyInfoDetails.propertyInfo.PropertyId';
        var propertyid_encr = EncryptPropertyId(propertyid);

        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
        @*var url = '@Url.Action("PropertyNewEntry", "PropertyDetail")?PropertyId=' + propertyid;*@
        var url = '@Url.Action("PropertyNewEntry", "PropertyDetail")?PropertyId=' + propertyid_encr;
        @*var url='@Url.Action("PropertyNewEntry", "PropertyDetail",new { propertyid = SegallBll.Custom_Class.Encryption.encriptString(@Model.propertyInfoDetails.propertyInfo.PropertyId.ToString()) })'*@
        window.location.href = url;
    }

    //this function returns encrypted property id
    function EncryptPropertyId(propertyid) {
        var encryptedresult;
        $.ajax({
            type: "POST",
            async: false,
            cache: false,
            url: '@Url.Action("EncryptPropertyId", "PropertyDetail")',
            data: { propertyid },
            success: function (result) {
                encryptedresult = result;
            }
        });
        return encryptedresult;
    }

</script>

<table width="100%" style="font-family: 'Century Gothic'; font-weight: 400;">
    <tr>
        <td colspan="2">
            @*Commented by Jaywanti for displaying Chargeslip created broker name if chargeslip is created by SegallChargeslip or GeoApp App*@
            @*      @{
                    SegallBll.SegallEntities sgl = new SegallBll.SegallEntities();
                    SegallBll.User userAdded = new SegallBll.User();
                    userAdded = sgl.Users.Where(x => x.UserId == @Model.propertyInfoDetails.propertyInfo.PropertyAddedBy).First();
                    SegallBll.User userEdited = new SegallBll.User();
                    if (sgl.Users.Where(x => x.UserId == @Model.propertyInfoDetails.propertyInfo.PropertyEditedBy).Count() > 0)
                    {
                        userEdited = sgl.Users.Where(x => x.UserId == @Model.propertyInfoDetails.propertyInfo.PropertyEditedBy).First();
                    <span style="font-weight: bold">Created By:</span><span> @userAdded.Firstname @userAdded.Lastname</span><span style="font-weight: bold"> / Edited By:</span><span> @userEdited.Firstname @userEdited.Lastname </span>
                    }
                    else
                    {
                    <span style="font-weight: bold">Created By:</span><span> @userAdded.Firstname @userAdded.Lastname</span><span style="font-weight: bold"> / Edited By:</span>
                    }

                }*@
            @*   Added by Jaywanti for displaying Chargeslip created broker name if chargeslip is created by SegallChargeslip or GeoApp App*@
            <span style="font-weight: bold">Created By:</span><span> @Model.propertyInfoDetails.propertyInfo.CreatedBrokerName</span><span style="font-weight: bold"> / Edited By:</span><span>@Model.propertyInfoDetails.propertyInfo.EditedBrokerName</span>

        </td>

    </tr>
    <tr>
        <td colspan="2">
            <span style="font-weight: bold">Edited Date: </span><span>@(Model.propertyInfoDetails.propertyInfo.PropertyEditedDate.HasValue ? Model.propertyInfoDetails.propertyInfo.PropertyEditedDate.Value.ToString("MM/dd/yyyy") : Model.propertyInfoDetails.propertyInfo.PropertyAddedDate.ToString("MM/dd/yyyy"))</span><span style="font-weight: bold"></span>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            @{
                if (Model.propertyaccessright != null && Model.propertyaccessright[0].CanEditRecord == 1)
                {
                    <input type="button" title="Edit" value="Edit" class="buttonEdit" onclick="GetPropertyDetails()" style="float: right;" />
                }
                else
                {

                }

            }
        </td>
    </tr>
    <tr>
        <td width="45%" style="vertical-align: top;">
            <table width="100%">
                <tr>
                    <td class="subHeading" colspan="2" style="color: #D66A2A">
                        BASIC

                    </td>
                </tr>
                <tr>
                    <td width="20%">Name: </td>
                    <td>
                        @Model.propertyInfoDetails.propertyInfo.PropertyName
                    </td>
                </tr>
                <tr>
                    <td width="20%">Size: </td>
                    <td>
                        @{
                            if (@Model.propertyInfoDetails.propertyInfo.SizeUnit == 3)
                            {
                                @Model.propertyInfoDetails.propertyInfo.Size.ToString("N2")
                            }
                            else
                            {
                                @Model.propertyInfoDetails.propertyInfo.Size.ToString("#,##0")

                            }
                        }

                        &nbsp; @Model.propertyInfoDetails.propertyInfo.SizeUnitDesc

                    </td>
                </tr>
                <tr>
                    <td width="20%">Address: </td>
                    <td>
                        @Model.propertyInfoDetails.propertyInfo.Address

                    </td>
                </tr>
                <tr>
                    <td width="20%">City: </td>
                    <td>
                        @Model.propertyInfoDetails.propertyInfo.City
                    </td>
                </tr>
                <tr>
                    <td width="20%">State: </td>
                    <td>
                        @Model.propertyInfoDetails.propertyInfo.State
                    </td>
                </tr>
                <tr>
                    <td width="20%">Zipcode: </td>
                    <td>
                        @Model.propertyInfoDetails.propertyInfo.Zipcode

                    </td>
                </tr>
                <tr>
                    <td width="20%">Center: </td>
                    <td>
                        @Model.propertyInfoDetails.propertyInfo.Center

                    </td>
                </tr>
                <tr>
                    <td width="20%">GLA: </td>
                    <td>
                        @Model.propertyInfoDetails.propertyInfo.GLA.ToString("N2")

                    </td>
                </tr>
                <tr>
                    <td width="20%">Land: </td>
                    <td>
                        @Model.propertyInfoDetails.propertyInfo.Land.ToString("N2")

                    </td>
                </tr>
                <tr>
                    <td width="20%">Zoning: </td>
                    <td>
                        @Model.propertyInfoDetails.propertyInfo.Zoning

                    </td>
                </tr>

            </table>
        </td>
        <td width="55%" style="vertical-align: top;">
            <table width="100%">
                @{

                    if (Model.propertyaccessright != null)
                    {
                        Model.SalesVolume = Model.propertyaccessright[0].SalesVolume.Value;
                        Model.RentInformation = Model.propertyaccessright[0].RentInformation.Value;


                        //foreach (var paright in Model.propertyaccessright)
                        //{
                        //    Model.SalesVolume = paright.SalesVolume;
                        //    Model.RentInformation = paright.RentInformation;
                        //}


                        if (!Model.SalesVolume)
                        {
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tr>
                                            <td colspan="2" class="subHeading" style="color: #D66A2A">STORE PERFORMANCE</td>
                                        </tr>
                                        <tr>
                                            <td style="color: red; font-size: large">
                                                Blocked
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        }
                        else
                        {
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tr>
                                            <td>


                                                <div style="overflow-y: scroll; height: 200px">
                                                    <table width="100%">
                                                        <tr>
                                                            <td colspan="2" class="subHeading" style="color: #D66A2A">STORE PERFORMANCE</td>
                                                        </tr>

                                                        @foreach (var propertysalesVolume in Model.propertyInfoDetails.propertySalesVolume)
                                                        {
                                                            <tr>
                                                                <td width="20% " style="vertical-align: top;">
                                                                    Sales:

                                                                </td>
                                                                <td>
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                @if (propertysalesVolume.PeriodYear.HasValue)
                                                                                {
                                                                                    if (propertysalesVolume.PeriodYear > 0)
                                                                                    {
                                                                                        @:(@propertysalesVolume.PeriodYear) <br />
                                                                            }
                                                                                    else
                                                                                    {
                                                                                        if (propertysalesVolume.PeriodFrom.HasValue && propertysalesVolume.PeriodTo.HasValue)
                                                                                        {
                                                                                            @:(@propertysalesVolume.PeriodFrom.Value.Month/@propertysalesVolume.PeriodFrom.Value.Day/@propertysalesVolume.PeriodFrom.Value.Year - @propertysalesVolume.PeriodTo.Value.Month/@propertysalesVolume.PeriodTo.Value.Day/@propertysalesVolume.PeriodTo.Value.Year) <br />




                                                                                        }
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    if (propertysalesVolume.PeriodFrom.HasValue && propertysalesVolume.PeriodTo.HasValue)
                                                                                    {
                                                                                        @:(@propertysalesVolume.PeriodFrom.Value.Month/@propertysalesVolume.PeriodFrom.Value.Day/@propertysalesVolume.PeriodFrom.Value.Year - @propertysalesVolume.PeriodTo.Value.Month/@propertysalesVolume.PeriodTo.Value.Day/@propertysalesVolume.PeriodTo.Value.Year) <br />




                                                                                    }
                                                                                }



                                                                                $@(propertysalesVolume.SalesWeekly.HasValue ? propertysalesVolume.SalesWeekly.Value.ToString("N2") : "") weekly
                                                                                <br />
                                                                                $@(propertysalesVolume.SalesMonthly.HasValue ? propertysalesVolume.SalesMonthly.Value.ToString("N2") : "") monthly
                                                                                <br />
                                                                                $@(propertysalesVolume.SalesAnnually.HasValue ? propertysalesVolume.SalesAnnually.Value.ToString("N2") : "") annually


                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            if (!string.IsNullOrEmpty(propertysalesVolume.SourceType))
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        Source:
                                                                    </td>

                                                                    <td>
                                                                        @(propertysalesVolume.SourceType == "0" ? "-" : @propertysalesVolume.SourceType)
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        @propertysalesVolume.BrokerName
                                                                    </td>
                                                                </tr>

                                                            }



                                                            <tr>
                                                                <td>Vol/sf: </td>
                                                                <td>$@(propertysalesVolume.VolumePerSF.HasValue ? propertysalesVolume.VolumePerSF.Value.ToString("N2") + " psf" : "")</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"><hr /></td>
                                                            </tr>
                                                        }



                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        }
                        if (!Model.RentInformation)
                        {
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tr>
                                            @*  <td colspan="2" class="subHeading" style="color: #D66A2A">SALES/LEASE PERFORMANCE </td>*@@*Commented by Jaywanti on 14-09-2015*@
                                            <td colspan="2" class="subHeading" style="color: #D66A2A">SALE/LEASE RATE </td>
                                        </tr>
                                        <tr>
                                            <td style="color: red; font-size: large">
                                                Blocked
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        }
                        else
                        {
                            <tr>
                                <td height="10px"></td>
                            </tr>
                            <tr>
                                <td>
                                    @{
                                        int i = 1;
                                    }
                                    <div style="overflow-y:scroll;height:200px;">
                                        <table width="100%">

                                            <tr>
                                                @*          <td class="subHeading" colspan="2" style="color: #D66A2A">SALES/LEASE PERFORMANCE </td>*@@*Commented by Jaywanti on 14-09-2015*@
                                                <td class="subHeading" colspan="2" style="color: #D66A2A">SALE/LEASE RATE </td>
                                            </tr>

                                            @if (Model.propertyInfoDetails.propertyDeal.Count() > 0)
                                            {
                                                foreach (var deals in Model.propertyInfoDetails.propertyDeal)
                                                {
                                                    if (i != 1)
                                                    {
                                                        <tr>
                                                            <td class="subHeading" colspan="2" style="color: #D66A2A"></td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td width="20%">Trans: </td>
                                                        <td>&nbsp;@deals.DealType, @deals.DealSubType</td>
                                                    </tr>

                                                    if (!string.IsNullOrEmpty(deals.SourceType))
                                                    {
                                                        <tr>
                                                            <td>Source:</td>
                                                            <td>
                                                                &nbsp;@(deals.SourceType == "0" ? "-" : @deals.SourceType)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>
                                                                &nbsp;@deals.BrokerName
                                                            </td>
                                                        </tr>
                                                    }

                                                    if (@deals.DealType == "Sales")
                                                    {
                                                        <tr>
                                                            <td width="20%">Land Size:  </td>
                                                            <td>
                                                                &nbsp;
                                                                @{
                                                                    if (@Model.propertyInfoDetails.propertyInfo.SizeUnit == 3)
                                                                    {
                                                                        @deals.LandSize.ToString("N2")
                                                                    }
                                                                    else
                                                                    {
                                                                        @deals.LandSize.ToString("#,##0")

                                                                    }
                                                                }
                                                                @deals.LandSizeUnit
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20%">Building Size:  </td>
                                                            <td>
                                                                &nbsp;
                                                                @{
                                                                    if (@Model.propertyInfoDetails.propertyInfo.SizeUnit == 3)
                                                                    {
                                                                        @deals.BuildingSize.ToString("N2")
                                                                    }
                                                                    else
                                                                    {
                                                                        @deals.BuildingSize.ToString("#,##0")

                                                                    }
                                                                }@deals.BuildingSizeUnit
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="20%">Consideration:  </td>
                                                            <td>&nbsp;@deals.ConsiderationAmt.ToString("N2")</td>
                                                        </tr>
                                                                    }
                                                                    if (@deals.DealType == "Lease")
                                                                    {
                                                                        <tr>
                                                                            <td width="20%">Rent:  </td>
                                                                            <td>&nbsp;$@deals.RentAmount.ToString("N2") @deals.RentUnit</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="20%" valign="top">NETS:  </td>
                                                                            <td>
                                                                                &nbsp;@{if (deals.Nets.ToString("N2") != "")
                                                                                    {<span>$</span>@deals.Nets.ToString("N2") <<br />}
                                                                                    else
                                                                                    {@deals.Nets.ToString("N2")<br />}
                                                                                }
                                                                                &nbsp;@{if (deals.Camcharge.ToString("N2") != "")
                                                                                    {<span>CAM $</span>@deals.Camcharge.ToString("N2") <span>, </span>}
                                                                                    else
                                                                                    {<span>CAM </span>@deals.Camcharge.ToString("N2")<<<span>, </span>}
                                                                                }
                                                                                @{if (deals.Insurance.ToString("N2") != "")
                                                                                    {<span>INS $</span>@deals.Insurance.ToString("N2")<<span>, </span>}
                                                                                    else
                                                                                    {<span>INS </span>@deals.Insurance.ToString("N2") <span>, </span>}
                                                                                }
                                                                                @{if (deals.Tax.ToString("N2") != "")
                                                                                    {<span>TAX $</span>@deals.Tax.ToString("N2")<span>, </span>}
                                                                                    else
                                                                                    {<span>TAX </span>@deals.Tax.ToString("N2")<span>, </span>}
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="20%">TI:  </td>
                                                                            <td>&nbsp;@(deals.TIUnitValue == 2 ? "$" : "")@deals.TICharge.ToString("N2") @(deals.TIUnitValue == 2 ? "" : deals.TIUnit)</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="20%">FR:  </td>
                                                                            <td>&nbsp;@deals.FreeRent.ToString("N2") @deals.FreeRentUnit</td>
                                                                        </tr>
                                                                                            }
                                                                                            i++;
                                                                                        }
                                                                                    }
                                        </table>
                                    </div>
                                </td>
                            </tr>

                                                                                        }
                                                                                    }
                }



            </table>
        </td>
    </tr>

    <tr>
        <td>Latitude: @Model.propertyInfoDetails.propertyInfo.Latitude</td>
    </tr>
    <tr>
        <td>Longitude: @Model.propertyInfoDetails.propertyInfo.Longitude</td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="2">NOTES</td>
    </tr>
    <tr>
        <td colspan="2" style="color: gray; font-weight: 400; font-family: Century Gothic;">@Html.TextAreaFor(m => m.propertyInfoDetails.propertyInfo.Notes, new { cols = "80", rows = "5", @readonly = true, @style = "font-weight:400;font-family:Century Gothic;color:gray;" })</td>
    </tr>
</table>
