﻿
@model SegallBll.ViewModel.PropertyDetailViewModel
@{
    ViewBag.Title = "PropertyDemoNewEntry";
}

<style>
      .buttonSavePage {
    background-color: #4c4d4f;
    color: #d0d1d2;
    width: 100px !important;
    height: 35px !important;
    background-position: center;
    background-repeat: no-repeat;
     border: 1px solid black;
    cursor: pointer !important;
    font-weight:bold;
}
    .divHeader {
        background-color: #D66A2A;
        height: 30px;
        border: solid;
        border-width: 2px;
        border-color: black;
        text-align: center;
        font-weight: 100;
        font-size: large;
    }
</style>
<script type="text/javascript">

    $(document).on('change blur', '.decimal', function () {
        var amt = parseFloat(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt.toFixed(2));
        }
    });

    $(document).on('change blur', '.integer', function () {
        var amt = parseInt(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt);
        }
    });

    //Basic Section
    function expandBasic() {
        document.getElementById("trBasic").style.display = "table-row";
        document.getElementById("lblExpandBasic").style.display = "none";
        document.getElementById("lblCollapseBasic").style.display = "inline";
        //Collapse SalesVolume Section
        collapseSalesVolume();
        //Collapse SalesLease Section
        collapseSaleLease();
    }
    function collapseBasic() {
        document.getElementById("trBasic").style.display = "none";
        document.getElementById("lblExpandBasic").style.display = "inline";
        document.getElementById("lblCollapseBasic").style.display = "none";

    }

    //SalesVolume Section
    function expandSalesVolume() {
        document.getElementById("trSalesVolume").style.display = "table-row";
        document.getElementById("lblExpandSalesVolume").style.display = "none";
        document.getElementById("lblCollapseSalesVolume").style.display = "inline";
        //Collapse Basic Section
        collapseBasic();
        //Collapse SalesLease Section
        collapseSaleLease();
    }
    function collapseSalesVolume() {
        document.getElementById("trSalesVolume").style.display = "none";
        document.getElementById("lblExpandSalesVolume").style.display = "inline";
        document.getElementById("lblCollapseSalesVolume").style.display = "none";
    }

    //Sale/Lease Section
    function expandSaleLease() {
        document.getElementById("trSaleLease").style.display = "table-row";
        document.getElementById("lblExpandSaleLease").style.display = "none";
        document.getElementById("lblCollapseSaleLease").style.display = "inline";
        //Collapse Basic Section
        collapseBasic();
        //Collapse SalesVolume Section
        collapseSalesVolume();
    }
    function collapseSaleLease() {
        document.getElementById("trSaleLease").style.display = "none";
        document.getElementById("lblExpandSaleLease").style.display = "inline";
        document.getElementById("lblCollapseSaleLease").style.display = "none";
    }

    function expandOptions()
    { 

        document.getElementById("trOptions").style.display = "table-row";
    }
    function collapseOptions()
    {
        document.getElementById("trOptions").style.display = "none";
    }

    function redirectHome()
    {
        window.location.href = '@Url.Action("Home","Home")';
    }

    function SavePropertyBasic() {

        if ($('#txtPropertyName').val() == "") {
            alert("Please Enter Property Name.");
            return false;
        }
        else if ($('#txtZipcode').val() == "") {
            alert("Please Enter Zipcode.");
            return false;
        }
        else if ($('#ddlSalesPeriod').val() == 0) {
            alert("Please Select SalesPeriod");
            return false;
        }

        function PropertyBasic() {
            var self = this;
            self.PropertyName = $('#txtPropertyName').val();
            self.Size = $('#txtPropertySize').val();
            self.SizeUnit = $('#ddlSize').val();
            self.Address = $('#txtPropertyAddress').val();
            self.City = $('#txtCity').val();
            self.County = $('#txtCounty').val();
            self.State = $('#txtState').val();
            self.Zipcode = $('#txtZipcode').val();
            self.Latitude = $('#txtLatitude').val();
            self.Longitude = $('#txtLongitude').val();
            self.Center = $('#txtCenter').val();
            self.GLA = $('#txtGLA').val();
            self.Land = $('#txtLand').val();
            self.category = $('#ddlCategory').val();
            self.Zoning = $('#txtZoning').val();
            self.PropertyAddedBy = $('#hdnLoggedInUser').val();

            var itemArray = new Array();
            itemArray[0] = new PropertySalesVolume();
            self.PropertySalesVolumes = itemArray;

            var itemPropertyDealsArray = new Array();
            var iCnt = 0;

            if ($('#txtLandSize').val() != '') {
                itemPropertyDealsArray[iCnt] = new PropertyDealsSalesImproved();
                iCnt = iCnt + 1;
            }

            if ($('#txtLandSizeUIS').val() != '') {
                itemPropertyDealsArray[iCnt] = new PropertyDealsSalesUnImproved();
                iCnt = iCnt + 1;
            }

            if ($('#txtRentedSize').val() != '') {
                itemPropertyDealsArray[iCnt] = new PropertyDealsLeaseBuilding();
                iCnt = iCnt + 1;
            }

            if ($('#txtLandSizeGL').val() != '') {
                itemPropertyDealsArray[iCnt] = new PropertyDealsLeaseGround();
                iCnt = iCnt + 1;
            }

            self.PropertyDeals = itemPropertyDealsArray;

            //var propertydealsunimproved = [

            //    {
            //        DealType: 1,
            //        DealSubType: 2,
            //        LandSize: $('#txtLandSizeUIS').val(),
            //        LandSizeUnit: $('#ddlLandSizeUIS').val(),
            //        BuildingSize: $('#txtBLDGSizeUIS').val(),
            //        BuildingSizeUnit: $('#ddlBLDGSizeUIS').val(),
            //        ConsiderationAmt: $('#txtConsiderationUIS').val()
            //    }
            //];



        }


        function PropertySalesVolume() {
            var self = this;

            self.SalesPeriodId = $('#ddlSalesPeriod').val();
            self.SalesWeekly = $('#txtSalesWeekly').val();
            self.SalesMonthly = $('#txtSalesMonthly').val();
            self.SalesAnnually = $('#txtSalesAnnually').val();
            self.VolumePerSF = $('#txtVolumePerSF').val();

        }

        function PropertyDeals() {
            var self = this;





            //        if ($('#hdnImprovedSales') != null)
            //        {
            //            if ($('#hdnImprovedSales') != "")
            //            {
            //                var propertydealssales = 

            //                self.RentedSize = null;
            //                self.RentAmount = null;
            //                self.RentUnit = null;
            //                self.CAMCharge = null;
            //                self.Insurance = null;
            //                self.Tax = null;
            //                self.TICharge = null;
            //                self.TIUnit = null;
            //                self.FreeRent = null;
            //                self.FreeRentUnit = null;
            //            }
            //        }
            //    }
            //}
            //if ($('#hdnSalesTransaction') != null) {
            //    if ($('#hdnSalesTransaction') != "") {
            //        self.DealType = 1;
            //        if ($('#hdnUnImprovedSales') != null) {
            //            if ($('#hdnUnImprovedSales') != "") {
            //                self.DealSubType = 2;
            //                self.LandSize = $('#txtLandSize').val();
            //                self.LandSizeUnit = $('#ddlLandSize').val();
            //                self.BuildingSize = $('#txtBLDGSize').val();
            //                self.BuildingSizeUnit = $('#ddlBLDGSize').val();
            //                self.ConsiderationAmt = $('#txtConsideration').val();
            //                self.RentedSize = null;
            //                self.RentAmount = null;
            //                self.RentUnit = null;
            //                self.CAMCharge = null;
            //                self.Insurance = null;
            //                self.Tax = null;
            //                self.TICharge = null;
            //                self.TIUnit = null;
            //                self.FreeRent = null;
            //                self.FreeRentUnit = null;
            //            }
            //        }
            //    }
            //}

            //self.RentedSize = $('#').val();
            //self.RentAmount = $('#').val();
            //self.RentUnit = $('#').val();
            //self.CAMCharge = $('#').val();
            //self.Insurance = $('#').val();
            //self.Tax = $('#').val();
            //self.TICharge = $('#').val();
            //self.TIUnit = $('#').val();
            //self.FreeRent = $('#').val();
            //self.FreeRentUnit = $('#').val();

        }

        function PropertyDealsSalesImproved() {
            var self = this;

            self.DealType = 1;
            self.DealSubType = 1;
            self.LandSize = $('#txtLandSize').val();
            self.LandSizeUnit = $('#ddlLandSize').val();
            self.BuildingSize = $('#txtBLDGSize').val();
            self.BuildingSizeUnit = $('#ddlBLDGSize').val();
            self.ConsiderationAmt = $('#txtConsideration').val();


        }

        function PropertyDealsSalesUnImproved() {
            var self = this;

            self.DealType = 1;
            self.DealSubType = 2;
            self.LandSize = $('#txtLandSizeUIS').val();
            self.LandSizeUnit = $('#ddlLandSizeUIS').val();
            self.BuildingSize = $('#txtBLDGSizeUIS').val();
            self.BuildingSizeUnit = $('#ddlBLDGSizeUIS').val();
            self.ConsiderationAmt = $('#txtConsiderationUIS').val();


        }

        function PropertyDealsLeaseBuilding() {
            var self = this;

            self.DealType = 2;
            self.DealSubType = 1;
            self.LandSize = $('#txtRentedSize').val();
            self.LandSizeUnit = $('#ddlRentedSizeUnit').val();
            self.RentAmount = $('#txtRentAmount').val();
            self.RentUnit = $('#ddlRentedSize').val();
            self.CAMCharge = $('#txtCAMCharge').val();
            self.Insurance = $('#txtInsurance').val();
            self.Tax = $('#txtTax').val();
            self.TICharge = $('#txtTICharge').val();
            self.TIUnit = $('#ddlTIUnit').val();
            self.FreeRent = $('#txtFreeRent').val();
            self.FreeRentUnit = $('#ddlFreeRentUnit').val();


        }

        function PropertyDealsLeaseGround() {
            var self = this;

            self.DealType = 2;
            self.DealSubType = 2;
            self.LandSize = $('#txtLandSizeGL').val();
            self.LandSizeUnit = $('#ddlLandSizeGL').val();
            self.ConsiderationAmt = $('#txtNetGL').val();
            self.RentAmount = $('#txtPriceGL').val();
            self.RentUnit = $('#ddlRentalAmountUnit').val();//Added by Jaywanti on 23-10-2015

        }

        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';

        $.ajax({

            url: APIControllerPath + '/api/PropertyBasic',
            type: 'POST',
            datatype: JSON,
            data: JSON.stringify(new PropertyBasic()),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data > 0) {
                    alert("Successfully Inserted!");
                    window.location.reload();
                }
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

    }
</script>

@*@using (Html.BeginForm("PropertyNewEntry", "PropertyDetail", FormMethod.Post))
{
    
    *@<input type="hidden" id="hdnLoggedInUser" name="hdnLoggedInUser" value="@Model.LoggedInUser" />
    @{
        SegallBll.User LoggedInUser = new SegallBll.User();
            LoggedInUser = (SegallBll.User)Session["LoggedInUser"];
            Model.LoggedInUser = Convert.ToInt64(LoggedInUser.UserId.ToString());
        }
    <table width="100%">

        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td valign="center" width="60%" class="divSearch" style="border-right:none;">
                            @Html.TextBox("txtSearch", "", new { @id = "txtSearch", @style = "width: 65%;  height: 25px; margin:5px;border:solid;border-width: 2px;margin-left:10px" })
                            <a href="#" onclick="showAddress($('#txtSearch').val())" style="border: none; color: black; cursor: pointer">
                                <img src="@Url.Content("~/Content/Images/Map Search-Button.gif")" title="Search" width="35" height="30" style="border: none; vertical-align: middle;" />
                            </a>
                          
                        </td>
                        <td valign="center" class="divSearch" style="border-left:none;border-right:none" width="35%">
                              <input type="button" value="SAVE PAGE" class="buttonSavePage" title="Save Page" onclick="SavePropertyBasic()" style="float:right" />
                        </td>
                        <td valign="center" class="divSearch" style="border-left:none" width="5%">
                         <a href="#" style="border: none; color: black; cursor: pointer;">
                        <img src="@Url.Content("~/Content/Images/Options-Button.gif")" title="Search" width="35" height="35" style="border: none; vertical-align: middle;" onclick="expandOptions();" />
                    </a>
                            </td>
                    </tr>
                </table>
            </td>
        </tr>
        
        <tr id="trOptions" style="display: none;">
            <td valign="center">
                <div id="divOptions" style="background-color:white;height:50px" >
                     <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="60%" style="text-align:left;color:#D66A2A;font-size:x-large;margin-left:10px;border-bottom:solid;border-bottom-color:black;border-bottom-width:thin" valign="center"  >
                                OPTIONS
                            </td>
                            <td width="35%" valign="center" >
                                <input type="button" value="" class="buttonHome" title="Save" onclick="redirectHome()" style="float:right" />
                            </td>
                               <td valign="center" style="border-left:none" width="5%">
                                    <input type="button" value="" class="buttonClose" title="Save" onclick="collapseOptions()" style="float:right" />
                               </td>
                        </tr>
                    </table>

                </div>
            </td>
        </tr>
        <tr>
            <td class="divHeader">

                <a id="lblExpandBasic" href="#" onclick="expandBasic()" style="text-decoration: none;color:black">BASIC</a>
                <a id="lblCollapseBasic" href="#" onclick="collapseBasic()" style="display: none; text-decoration: none;color:black">BASIC</a>
            </td>
        </tr>

        <tr id="trBasic" style="display: none;">
            <td class="content">

                @Html.Partial("_NewEntryBasic")

            </td>
        </tr>
        <tr>
            <td class="divHeader">

                <a id="lblExpandSalesVolume" href="#" onclick="expandSalesVolume()" style="text-decoration: none;color:black">SALES VOLUME</a>
                <a id="lblCollapseSalesVolume" href="#" onclick="collapseSalesVolume()" style="display: none; text-decoration: none;color:black">SALES VOLUME</a>
            </td>
        </tr>

        <tr id="trSalesVolume" style="display: none;">
            <td class="content">

                @Html.Partial("_NewEntrySalesVolume")

            </td>
        </tr>
        <tr>
            <td class="divHeader">

              @*  <a id="lblExpandSaleLease" href="#" onclick="expandSaleLease()" style="text-decoration: none;color:black">SALE/LEASE COMPARABLE</a>*@@*Changed by Jaywanti Jain on 14-09-2015*@
                  <a id="lblExpandSaleLease" href="#" onclick="expandSaleLease()" style="text-decoration: none;color:black">SALE/LEASE RATE</a>
               @* <a id="lblCollapseSaleLease" href="#" onclick="collapseSaleLease()" style="display: none; text-decoration: none;color:black">SALE/LEASE COMPARABLE</a>*@@*Changed by Jaywanti Jain on 14-09-2015*@
                 <a id="lblCollapseSaleLease" href="#" onclick="collapseSaleLease()" style="display: none; text-decoration: none;color:black">SALE/LEASE RATE</a>
            </td>
        </tr>
        
        <tr id="trSaleLease" style="display: none;">
            <td class="content">
                @using (@Html.BeginForm("submit", "PropertyDetail",FormMethod.Post))
                {
                @Html.Partial("_NewEntryDemoSalesLease")
                }
            </td>
        </tr>
        
    </table>
@*}*@


