﻿@model SegallBll.ViewModel.PropertyDetailViewModel
@{
    ViewBag.Title = "PropertyNewEntry";
}

@*<script src="~/Scripts/DateTimePicker/jquery-1.8.0.min.js"></script>*@
<script src="~/Scripts/DateTimePicker/jquery-ui-1.8.23.custom.min.js"></script>
<link href="~/Content/DateTimePicker/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<style>
    .buttonSavePage {
        background-color: #4c4d4f;
        color: #d0d1d2;
        width: 100px !important;
        height: 35px !important;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid black;
        cursor: pointer !important;
        font-weight: bold;
    }

    .divHeader {
        background-color: #D66A2A;
        height: 30px;
        border: solid;
        border-width: 2px;
        border-color: black;
        text-align: center;
        font-weight: 100;
        font-size: large;
    }

    .selectHeader {
        background-color: gray;
        height: 20px;
        width: 50px;
        border: solid;
        border-width: 1px;
        border-color: black;
        text-align: center;
        font-weight: 100;
        font-size: large;
    }

    .selectOrangeHeader {
        background-color: #D66A2A;
        height: 20px;
        width: 50px;
        border: solid;
        border-width: 1px;
        border-color: black;
        text-align: center;
        font-weight: 100;
        font-size: large;
    }

    .dealTypes {
        width: 200px;
    }

    .buttonAdd {
        text-align: center;
        color: #ECECED;
        background-color: #4C4D4F;
        border: solid;
        border-color: black;
        border-width: thin;
        width: 60px;
        height: 27px;
    }

    .backgroundPopupPropertyInfo {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupPropertyInfo {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 750px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    .backgroundPopupPrivacySettings {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupPrivacySettings {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 750px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }

    .backgroundPopupSavedEntry {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: #000000;
        border: 1px solid #cecece;
        z-index: 1;
    }

    .EditPopupSavedEntry {
        display: none;
        position: fixed;
        _position: absolute; /* hack for internet explorer 6*/
        width: 500px;
        height: 350px;
        background: #FFFFFF;
        border: 2px solid #cecece;
        z-index: 2;
        font-size: 13px;
    }
</style>
<script type="text/javascript">


    $(document).on('change blur', '.decimal', function () {
        var amt = parseFloat(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt.toFixed(2));
        }
    });

    $(document).on('change blur', '.location', function () {
        var amt = parseFloat(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt.toFixed(6));
        }
    });

    $(document).on('change blur', '.integer', function () {
        var amt = parseInt(this.value);
        if (isNaN(amt)) {
            $(this).val('');
        }
        else {
            $(this).val(amt);
        }
    });

    window.onload = function () { expandBasic(); };

    $(document).ready(function () {

        if ('@Model.PropertyId' != null) {
            if ('@Model.PropertyId' > 0) {
                //&& 'Model.propertydetail.propertydealsresult.ToArray().Length' > 0 alert('deal exists');

                editPropertyDetailDeals();
                editPropertyDetailSalesVolume();
            }
            else {
                $('#ddlDealtype').prop("disabled", false);
                $('#ddlDealSubType').prop("disabled", false);
            }
        }

        //Added by Jaywanti on 14-12-2015
        $('#ddlSize').on('change', function () {
            // alert($('#ddlLandSize').val());
            $('#ddlLandSize').val($('#ddlSize').val());
            $('#ddlLandSizeUIS').val($('#ddlSize').val());
            $('#ddlRentedSizeUnit').val($('#ddlSize').val());
            $('#ddlLandSizeGL').val($('#ddlSize').val());
        });

    });
    function ChangePropertySize() {
        // alert('hi');
        $('#txtLandSize').val($('#txtPropertySize').val());
        $('#txtLandSizeUIS').val($('#txtPropertySize').val());
        $('#txtRentedSize').val($('#txtPropertySize').val());
        $('#txtLandSizeGL').val($('#txtPropertySize').val());
        calculateBuildingSize();
        return true;
    }
    //Added by Jaywanti on 14-12-2015

    function SaveSizeAndVolume() {
        var propertyId = '@Model.PropertyId';
        //alert($('#txtPropertySize').val());
        // alert(propertyId);
        // alert('hi');
        var PropertySize = $('#txtPropertySize').val().replace(",", "");
        // alert(propertyId);
        if (propertyId > 0) {
            $.post('@Url.Content("~/PropertyDetail/SaveSizeAndVolume")',
                        {
                            propertyid: propertyId, sizeData: PropertySize
                        },
                         function (data) {
                             if (data > 0) {
                                 alert("Saved Successfully!");

                                 $.post('@Url.Content("~/PropertyDetail/SalesVolumeData")',
                                                           {
                                                               propertyid: $('#hdnPropertyId').val(),
                                                           },
                                                           function (data) {

                                                               $('#divSalesVolumeList').empty().append(data);
                                                               //editNewSalesVolume();
                                                           });

                             }
                             else {
                                 alert("No Data Available for Saving!");

                             }
                         });
        }


        return true;


    }
    function editPropertyDetailDeals() {

        var myOptions;
        var ddlDealSubType = 0;
        if ('@Model.propertydeal.DealType' == 1 && '@Model.propertydeal.DealSubType' == 1) {
            $('#trSales').css('display', 'table-row');
            $('#trImprovedSales').css('display', 'table-row');
            $('#ddlDealtype').val(1);
            ddlDealSubType = 1;
        }
        if ('@Model.propertydeal.DealType' == 1 && '@Model.propertydeal.DealSubType' == 2) {
            $('#trSales').css('display', 'table-row');
            $('#trUnImprovedSales').css('display', 'table-row');
            $('#ddlDealtype').val(1);
            ddlDealSubType = 2;
        }
        if ('@Model.propertydeal.DealType' == 2 && '@Model.propertydeal.DealSubType' == 3) {
            $('#trSales').css('display', 'table-row');
            $('#trBuildingLease').css('display', 'table-row');
            $('#ddlDealtype').val(2);
            ddlDealSubType = 3;
        }
        if ('@Model.propertydeal.DealType' == 2 && '@Model.propertydeal.DealSubType' == 4) {
            $('#trSales').css('display', 'table-row');
            $('#trGroundLease').css('display', 'table-row');
            $('#ddlDealtype').val(2);
            ddlDealSubType = 4;
        }
        var text = $("#ddlDealtype option:selected").text();
        if (text != "---SELECT---") {
            $('#trSales').css('display', 'table-row');
        }
        else { $('#trSales').css('display', 'none'); }
        if (text == "SALES TRANSACTION") {
            myOptions = {
                0: '---SELECT---',
                1: 'IMPROVED',
                2: 'UNIMPROVED'
            };


        }
        else if (text == "LEASE TRANSACTION") {
            myOptions = {
                0: '---SELECT---',
                3: 'BUILDING LEASE',
                4: 'GROUND LEASE'
            };

        }

        if ('@Model.propertydeal.DealType' != '') {
            if ('@Model.propertydeal.DealSubType' != '') {
                $('#ddlDealSubType').empty();
                $.each(myOptions, function (val, text) {
                    $('#ddlDealSubType').append(new Option(text, val));

                });



                if ('@Model.propertydeal.DealSubType' == 1) {
                    $('#ddlDealSubType').val(1);
                }
                else if ('@Model.propertydeal.DealSubType' == 2) {
                    $('#ddlDealSubType').val(2);
                }
                else if ('@Model.propertydeal.DealSubType' == 3) {
                    $("#ddlDealSubType option:selected").text('BUILDING LEASE');
                }
                else if ('@Model.propertydeal.DealSubType' == 4) {
                    $("#ddlDealSubType option:selected").text('GROUND LEASE');
                }
            }
        }


        $('#tblDealsDetails').css('display', 'table');
        $('#trSaveDeals').css('display', 'table-row');

        $('#ddlDealtype').prop("disabled", true);
        $('#ddlDealSubType').prop("disabled", true);

        $('#hdnDealTransactionType').val(2);
        $('#hdnPropertyDealId').val('@Model.PropertyDealId');
        $('#hdnPropertyId').val('@Model.PropertyId');
        $('#ddlDealSubType').val('@Model.propertydeal.DealSubType');



    }

    function editPropertyDetailSalesVolume() {

        $('#tblSalesVolumeDetails').css('display', 'table');
        $('#trSaveSalesVolume').css('display', 'table-row');

        $('#hdnSalesVolumeTransactionType').val(2);

        $('#hdnSalesVolumeId').val('@Model.SalesVolumeId');


    }

    //Basic Section
    function expandBasic() {
        document.getElementById("trBasic").style.display = "table-row";
        document.getElementById("lblExpandBasic").style.display = "none";
        document.getElementById("lblCollapseBasic").style.display = "inline";
        //Collapse SalesVolume Section
        collapseSalesVolume();
        //Collapse SalesLease Section
        collapseSaleLease();
    }
    function collapseBasic() {
        document.getElementById("trBasic").style.display = "none";
        document.getElementById("lblExpandBasic").style.display = "inline";
        document.getElementById("lblCollapseBasic").style.display = "none";

    }

    //SalesVolume Section
    function expandSalesVolume() {
        document.getElementById("trSalesVolume").style.display = "table-row";
        document.getElementById("lblExpandSalesVolume").style.display = "none";
        document.getElementById("lblCollapseSalesVolume").style.display = "inline";
        //Collapse Basic Section
        collapseBasic();
        //Collapse SalesLease Section
        collapseSaleLease();
    }
    function collapseSalesVolume() {
        document.getElementById("trSalesVolume").style.display = "none";
        document.getElementById("lblExpandSalesVolume").style.display = "inline";
        document.getElementById("lblCollapseSalesVolume").style.display = "none";
    }

    //Sale/Lease Section
    function expandSaleLease() {
        document.getElementById("trSaleLease").style.display = "table-row";
        document.getElementById("lblExpandSaleLease").style.display = "none";
        document.getElementById("lblCollapseSaleLease").style.display = "inline";
        //Collapse Basic Section
        collapseBasic();
        //Collapse SalesVolume Section
        collapseSalesVolume();
    }
    function collapseSaleLease() {
        document.getElementById("trSaleLease").style.display = "none";
        document.getElementById("lblExpandSaleLease").style.display = "inline";
        document.getElementById("lblCollapseSaleLease").style.display = "none";
    }

    function expandOptions() {

        document.getElementById("trOptions").style.display = "table-row";
    }
    function collapseOptions() {
        document.getElementById("trOptions").style.display = "none";
    }

    function redirectHome() {
        window.location.href = '@Url.Action("Home", "Home")';
    }

    $(function () {
        $(".DatePickerTextBox").datepicker({
            showOn: "button",
            buttonImage: "@Url.Content("~/Content/Images/calendar.gif")",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+20"

        });
    });

    function SavePropertyBasic() {
        debugger;
        if ($('#txtLatitude').val() != '' && $('#txtLongitude').val() != '') {
            if ($('#txtPropertyName').val() == "") {
                alert("Please Enter Property Name.");
                return false;
            }
            else if ($('#txtCity').val() == "") {
                alert("Please Enter City.");
                return false;
            }
            else if ($('#ddlState').val() == "0") {
                alert("Please Enter State.");
                return false;
            }
            else if ($('#txtZipcode').val() == "") {
                alert("Please Enter Zipcode.");
                return false;
            }
            else if ($('#txtSalesWeekly').val() != "" || $('#txtSalesMonthly').val() != "" || $('#txtSalesAnnually').val() != "") {
                if ($('#txtperiodYear').val() == "") {
                    if ($('#txtPeriodFrom').val() == "") {
                        alert("Please Enter Start Period.");
                        return false;
                    }
                    if ($('#txtPeriodTo').val() == "") {
                        alert("Please Enter End Period.");
                        return false;
                    }
                }

            }


            function PropertyBasic() {

                var self = this;
                self.PropertyId = '@Model.PropertyId';
                self.PropertyName = $('#txtPropertyName').val();
                self.Size = $('#txtPropertySize').val();
                self.SizeUnit = $('#ddlSize').val();
                self.Address = $('#txtPropertyAddress').val();
                self.City = $('#txtCity').val();
                self.County = $('#txtCounty').val();
                self.State = $('#ddlState').val();
                self.Zipcode = $('#txtZipcode').val();
                self.Latitude = $('#txtLatitude').val();
                self.Longitude = $('#txtLongitude').val();
                self.Center = $('#txtCenter').val();
                self.GLA = $('#txtGLA').val();
                self.Land = $('#txtLand').val();
                self.category = $('#ddlCategory').val();
                self.Zoning = $('#txtZoning').val();
                self.PropertyAddedBy = '@Model.LoggedInUser'
                //self.PropertyAddedBy = $('#hdnLoggedInUser').val();
                self.PropertyEditedBy = '@Model.LoggedInUser'
                self.Notes = $('#txtNotes').val();
                self.Tenant = $('#txtTenant').val();

                var itemArray = new Array();
                itemArray[0] = new PropertySalesVolume();
                self.PropertySalesVolumes = itemArray;

                var itemPropertyDealsArray = new Array();
                var iCnt = 0;


                //Added by Jaywanti on 17-02-2016
                if ($('#ddlDealtype').val() == "1" && $('#ddlDealSubType').val() == "1") {
                    itemPropertyDealsArray[iCnt] = new PropertyDealsSalesImproved();
                    iCnt = iCnt + 1;
                }
                else if ($('#ddlDealtype').val() == "1" && $('#ddlDealSubType').val() == "2") {
                    itemPropertyDealsArray[iCnt] = new PropertyDealsSalesUnImproved();
                    iCnt = iCnt + 1;
                }
                else if ($('#ddlDealtype').val() == "2" && $('#ddlDealSubType').val() == "3") {
                    itemPropertyDealsArray[iCnt] = new PropertyDealsLeaseBuilding();
                    iCnt = iCnt + 1;
                }
                else if ($('#ddlDealtype').val() == "2" && $('#ddlDealSubType').val() == "4") {
                    itemPropertyDealsArray[iCnt] = new PropertyDealsLeaseGround();
                    iCnt = iCnt + 1;
                }
                //Commented by Jaywanti  on 17-02-2016
                //if ($('#txtLandSize').val() != '') {
                //    itemPropertyDealsArray[iCnt] = new PropertyDealsSalesImproved();
                //    iCnt = iCnt + 1;
                //}

                //if ($('#txtLandSizeUIS').val() != '') {
                //    itemPropertyDealsArray[iCnt] = new PropertyDealsSalesUnImproved();
                //    iCnt = iCnt + 1;
                //}

                //if ($('#txtRentedSize').val() != '') {
                //    itemPropertyDealsArray[iCnt] = new PropertyDealsLeaseBuilding();
                //    iCnt = iCnt + 1;
                //}

                //if ($('#txtLandSizeGL').val() != '') {
                //    itemPropertyDealsArray[iCnt] = new PropertyDealsLeaseGround();
                //    iCnt = iCnt + 1;
                //}

                self.PropertyDeals = itemPropertyDealsArray;

                //var propertydealsunimproved = [

                //    {
                //        DealType: 1,
                //        DealSubType: 2,
                //        LandSize: $('#txtLandSizeUIS').val(),
                //        LandSizeUnit: $('#ddlLandSizeUIS').val(),
                //        BuildingSize: $('#txtBLDGSizeUIS').val(),
                //        BuildingSizeUnit: $('#ddlBLDGSizeUIS').val(),
                //        ConsiderationAmt: $('#txtConsiderationUIS').val()
                //    }
                //];



            }

            function PropertySalesVolume() {
                var self = this;

                self.SalesVolumeId = '@Model.SalesVolumeId';
                self.SalesWeekly = $('#txtSalesWeekly').val();
                self.SalesMonthly = $('#txtSalesMonthly').val();
                self.SalesAnnually = $('#txtSalesAnnually').val();
                self.VolumePerSF = $('#txtVolumePerSF').val();
                self.PeriodFrom = $('#txtPeriodFrom').val();
                self.PeriodTo = $('#txtPeriodTo').val();
                self.BrokerName = $('#txtBrokerName').val();
                self.SourceType = $('#ddlSourceTypeList').val();
                self.PeriodYear = $('#txtperiodYear').val();
                self.BrokerId = $('#ddlUsersActiveList').val();
            }

            function PropertyDeals() {
                var self = this;

            }

            function PropertyDealsSalesImproved() {
                var self = this;

                self.DealType = $('#ddlDealtype').val();
                self.DealSubType = $('#hdnDealSubTypeValue').val();
                self.LandSize = $('#txtLandSize').val();
                self.LandSizeUnit = $('#ddlLandSize').val();
                self.BuildingSize = $('#txtBLDGSize').val();
                self.BuildingSizeUnit = $('#ddlBLDGSize').val();
                self.ConsiderationAmt = $('#txtConsideration').val();

                self.SourceType = $('#ddlLeaseSourceTypeList').val();
                self.BrokerName = $('#txtLeaseBrokerName').val();
                self.BrokerId = $('#ddlLeaseUserActiveList').val();
            }

            function PropertyDealsSalesUnImproved() {
                var self = this;

                self.DealType = $('#ddlDealtype').val();
                self.DealSubType = $('#hdnDealSubTypeValue').val();
                self.LandSize = $('#txtLandSizeUIS').val();
                self.LandSizeUnit = $('#ddlLandSizeUIS').val();
                self.BuildingSize = $('#txtBLDGSizeUIS').val();
                self.BuildingSizeUnit = $('#ddlBLDGSizeUIS').val();
                self.ConsiderationAmt = $('#txtConsiderationUIS').val();

                self.SourceType = $('#ddlLeaseSourceTypeList').val();
                self.BrokerName = $('#txtLeaseBrokerName').val();
                self.BrokerId = $('#ddlLeaseUserActiveList').val();
            }

            function PropertyDealsLeaseBuilding() {
                var self = this;
                self.DealType = $('#ddlDealtype').val();
                self.DealSubType = $('#hdnDealSubTypeValue').val();
                self.LandSize = $('#txtRentedSize').val();
                self.LandSizeUnit = $('#ddlRentedSizeUnit').val();
                self.RentAmount = $('#txtRentAmount').val();
                self.RentUnit = $('#ddlRentedSize').val();
                self.CAMCharge = $('#txtCAMCharge').val();
                self.Insurance = $('#txtInsurance').val();
                self.Tax = $('#txtTax').val();
                self.TICharge = $('#txtTICharge').val();
                self.TIUnit = $('#ddlTIUnit').val();
                self.FreeRent = $('#txtFreeRent').val();
                self.FreeRentUnit = $('#ddlFreeRentUnit').val();
                self.Nets = $('#txtNets').val();

                self.SourceType = $('#ddlLeaseSourceTypeList').val();
                self.BrokerName = $('#txtLeaseBrokerName').val();
                self.BrokerId = $('#ddlLeaseUserActiveList').val();
            }

            function PropertyDealsLeaseGround() {
                var self = this;

                self.DealType = $('#ddlDealtype').val();
                self.DealSubType = $('#hdnDealSubTypeValue').val();
                self.LandSize = $('#txtLandSizeGL').val();
                self.LandSizeUnit = $('#ddlLandSizeGL').val();
                self.ConsiderationAmt = $('#txtNetGL').val();
                self.RentAmount = $('#txtPriceGL').val();
                self.RentUnit = $('#ddlRentalAmountUnit').val();//Added by Jaywanti on 23-10-2015

                self.SourceType = $('#ddlLeaseSourceTypeList').val();
                self.BrokerName = $('#txtLeaseBrokerName').val();
                self.BrokerId = $('#ddlLeaseUserActiveList').val();
            }

            var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
            var propertyId = '@Model.PropertyId';
            $.ajax({

                url: APIControllerPath + '/api/PropertyBasic',
                type: 'POST',
                datatype: JSON,
                data: JSON.stringify(new PropertyBasic()),
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                    if (data > 0) {
                        sessionStorage.setItem('PropertyId', data);
                        GetUsers();

                        if (propertyId > 0) {
                            alert("Property successfully updated!");
                            sessionStorage.setItem('mode', 'Edit');
                            loadPopupPrivacySettings();

                        }
                        else {
                            alert("Property successfully inserted!");
                            sessionStorage.setItem('mode', 'Add');
                            loadPopupPrivacySettings();

                        }

                    }
                    else {
                        alert("Error in Insertion!");
                    }
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        else { alert('Please Enter Valid Latitude and Logitude'); }
    }

    function searchmap(IsBrowseMap) {

        if (IsBrowseMap == false) {
            if ($('#txtSearchLocation').val() != '') {
                $('#hdnIsBrowseMap').val(IsBrowseMap);
                $('#frmShowMap').submit();
            }
            else {
                alert('Please enter location to search')
                $('#txtSearchLocation').focus();
            }
        }
        else {
            $('#hdnIsBrowseMap').val(IsBrowseMap);
            $('#frmShowMap').submit();
        }
    }


    function BrowseMap(location) {
        window.location.href = "@Url.Action("ShowMap", "SearchMap", new { @IsBrowseMap = true })";
    }





    function loadPopupPropertyInfo(propertyid) {
        GetPropertyInfo(propertyid)
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupPropertyInfo();
            $("#backgroundPopupPropertyInfo").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupPropertyInfo").fadeIn("slow");
            $("#ViewPropertyInfo").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }

    function disablePopupPropertyInfo() {
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupPropertyInfo").fadeOut("slow");
            $("#ViewPropertyInfo").fadeOut("slow");
            popupStatus = 0;
        }
        var mode = sessionStorage.getItem('mode');
        if (mode == 'Add') {
            window.location.href = '@Url.Action("PropertyNewEntry", "PropertyDetail", new { @PropertyId = -1 })';
        }
    }


    function centerPopupPropertyInfo() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#ViewPropertyInfo").height();
        var popupWidth = $("#ViewPropertyInfo").width();
        //centering
        $("#ViewPropertyInfo").css({
            "position": "absolute",
            "top": "100px",
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#backgroundPopupPropertyInfo").css({
            "height": windowHeight
        });
        return false;
    }

    function GetPropertyInfo(propertyid) {
        $.post('@Url.Content("~/SearchMap/GetPropertyInfoById")',
                       {
                           propertyid: propertyid, Location: $('#hdnlocation').val()
                       },
                        function (data) {

                            $('#divPropertyInfoDetails').empty().append(data);
                        });


    }

    function loadPopupPrivacySettings() {

        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupPrivacySettings();
            $("#backgroundPopupPrivacySettings").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupPrivacySettings").fadeIn("slow");
            $("#ViewPrivacySettings").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupPrivacySettings() {

        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupPrivacySettings").fadeOut("slow");
            $("#ViewPrivacySettings").fadeOut("slow");
            popupStatus = 0;
        }
        var propertyid = sessionStorage.getItem('PropertyId');
        //loadPopupPropertyInfo(propertyid);

        @* window.location.href = '@Url.Action("PropertyNewEntry", "PropertyDetail", new { @PropertyId = Model.PropertyId})';*@
    }
    function centerPopupPrivacySettings() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#ViewPrivacySettings").height();
        var popupWidth = $("#ViewPrivacySettings").width();
        //centering
        $("#ViewPrivacySettings").css({
            "position": "absolute",
            "top": "100px",
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#backgroundPopupPrivacySettings").css({
            "height": windowHeight
        });
        return false;
    }

    function EditsavedEntry(propertyid) {
        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
        var propertyid_encr = EncryptPropertyId(propertyid);
        @*var url = '@Url.Action("PropertyNewEntry", "PropertyDetail")?PropertyId=' + propertyid;*@
        var url = '@Url.Action("PropertyNewEntry", "PropertyDetail")?PropertyId=' + propertyid_encr;
        window.location.href = url;
    }

    //this function returns encrypted property id
    function EncryptPropertyId(propertyid) {
        var encryptedresult;
        $.ajax({
            type: "POST",
            async: false,
            cache: false,
            url: '@Url.Action("EncryptPropertyId", "PropertyDetail")',
            data: { propertyid },
            success: function (result) {
                encryptedresult = result;
            }
        });
        return encryptedresult;
    }

    function LoadSavedEntry() {
        if ($('#txtSearchLocation').val() != '') {
            loadPopupSavedEntry();
        }
        else { alert('Please enter a location to search'); }

    }
    function GetSavedEntry() {
        var PropertyResults;
        var APIControllerPath = '@System.Configuration.ConfigurationManager.AppSettings["APIControllerPath"].ToString()';
        $.ajaxSetup({ cache: false });
        $.getJSON(APIControllerPath + "/SearchMap/GetMapResults?location=" + $('#txtSearchLocation').val() + "&radius=0&PageInfo=" + $('#hdnPageInfo').val(), {},
                function (tmpData) {
                    PropertyResults = tmpData[0];
                }).success(function () {
                    $('#divPropertyResults').empty();
                    $('#divPropertyResults').css('display', 'block');
                    for (var i = 1; i <= PropertyResults.length; i++) {
                        $('#divPropertyResults').append(i + '.  ' + PropertyResults[i - 1].PropertyName + ' ' + PropertyResults[i - 1].City + ", " + PropertyResults[i - 1].State + " " + PropertyResults[i - 1].Zipcode + '  ' + "<a href=\"#\"  style=\"padding-left:10px\"><img id=\"imgedit" + i + "\" name=\"imgedit\"  onclick=\" EditsavedEntry(" + PropertyResults[i - 1].PropertyId + ");\" alt=\"edit\" src=\"../Content/Images/Edit.png\" style=\"height:16px;width:16px; border: none;\" /></a><br />");
                    }
                });
    }
    function loadPopupSavedEntry() {
        GetSavedEntry();
        var popupStatus = 0;
        if (popupStatus == 0) {
            centerPopupSavedEntry();
            $("#backgroundPopupSavedEntry").css({
                "opacity": "0.7"
            });
            $("#backgroundPopupSavedEntry").fadeIn("slow");
            $("#divSavedEntry").fadeIn("slow");
            popupStatus = 1;
        }
        return false;
    }
    function disablePopupSavedEntry() {
        //disables popup only if it is enabled
        var popupStatus = 1;
        if (popupStatus == 1) {
            $("#backgroundPopupSavedEntry").fadeOut("slow");
            $("#divSavedEntry").fadeOut("slow");
            popupStatus = 0;
        }
    }
    function centerPopupSavedEntry() {
        //request data for centering
        var windowWidth = document.documentElement.clientWidth;
        var windowHeight = document.documentElement.clientHeight;
        var popupHeight = $("#divSavedEntry").height();
        var popupWidth = $("#divSavedEntry").width();
        //centering
        $("#divSavedEntry").css({
            "position": "absolute",
            "top": windowHeight / 2 - popupHeight / 2,
            "left": windowWidth / 2 - popupWidth / 2
        });
        //only need force for IE6

        $("#backgroundPopupSavedEntry").css({
            "height": windowHeight
        });
        return false;
    }


    function showAddress(address) {
        var geocoder = new google.maps.Geocoder();

        if (address != '' && address != 0 && address != null) {
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();
                    $('#txtLatitude').val(latitude);
                    $('#txtLongitude').val(longitude);
                } else {
                    alert(address + " not found");
                }
            });
        }
        else { alert('Please enter the address'); }
    };

</script>


<input type="hidden" id="hdnLoggedInUser" name="hdnLoggedInUser" value="@Model.LoggedInUser" />
@{
    SegallBll.User LoggedInUser = new SegallBll.User();
    LoggedInUser = (SegallBll.User)Session["LoggedInUser"];
    Model.LoggedInUser = Convert.ToInt64(LoggedInUser.UserId.ToString());

}
@Html.Hidden("hdnDealTransactionType", "", new { @id = "hdnDealTransactionType" })
@Html.Hidden("hdnSalesVolumeTransactionType", "", new { @id = "hdnSalesVolumeTransactionType" })
<table width="100%">

    <tr>
        <td>
            @using (Html.BeginForm("ShowMap", "SearchMap", FormMethod.Post, new { @id = "frmShowMap" }))
            {
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td valign="center" width="50%">
                            <div style="height:50px;width: 600px;float:left;border-right:none;" class="divHeader" ;>
                                @Html.TextBox("txtSearchLocation", "", new { @ID = "txtSearchLocation", @style = "width: 90%;  height: 30px; margin-top:5px;border:solid;border-width: 2px", placeholder = "Address, City, County, etc." })
                                @Html.Hidden("hdnIsBrowseMap", "", new { @id = "hdnIsBrowseMap" })
                                <a href="#" onclick="LoadSavedEntry();" style="border: none; color: black; cursor: pointer;">
                                    <img src="@Url.Content("~/Content/Images/Home-Search-Button.gif")" title="Search" width="25" height="39" style="border: none; vertical-align: middle;" />
                                </a>

                            </div>

                        </td>
                        <td valign="center" class="divSearch" style="border-left:none;border-right:none" width="16%"></td>
                        <td valign="center" align="right" class="divSearch" style="border-left:none;border-right:none" width="10%">
                            @*<input type="button" value="" class="buttonSave" title="Save" onclick="SavePropertyBasic()" style="float:right" />*@
                            <a href="@Url.Action("ShowMap", "SearchMap")" style="border: none; color: black; cursor: pointer;">
                                <img src="@Url.Content("~/Content/Images/Back-Button.gif")" title="Back" height="35" style="border: none; vertical-align: middle;" />
                            </a>

                        </td>
                        <td valign="center" align="center" class="divSearch" style="border-left:none;border-right:none" width="15%">
                            <input type="button" value="SAVE PAGE" class="buttonSavePage" title="Save Page" onclick="SavePropertyBasic()" />
                            @*  <a href="#" style="border: none; color: black; cursor: pointer;height:35px;border:none;vertical-align:middle;" class="buttonSave" onclick="SavePropertyBasic()" > SAVE PAGE

                                </a>*@
                            @*  <a href="#" style="border: none; color: black; cursor: pointer;">
                                   <img src="@Url.Content("~/Content/Images/Save-Button.gif")" onclick="SavePropertyBasic()"  title="Save" width="70" height="35" style="border: none; vertical-align: middle;" />
                                </a>*@
                        </td>
                        <td valign="center" class="divSearch" style="border-left:none" width="5%">
                            <a href="#" style="border: none; color: black; cursor: pointer;">
                                <img src="@Url.Content("~/Content/Images/Options-Button.gif")" title="Search" width="35" height="35" style="border: none; vertical-align: middle;" onclick="expandOptions();" />
                            </a>
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>

    @*<tr id="trOptions" style="display: none;">
            <td valign="center">
                <div id="divOptions" style="background-color:white;height:50px" >
                     <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="60%" style="text-align:left;color:#D66A2A;font-size:x-large;margin-left:10px;border-bottom:solid;border-bottom-color:black;border-bottom-width:thin" valign="center"  >
                                OPTIONS
                            </td>
                            <td width="35%" valign="center" >
                                <input type="button" value="" class="buttonHome" title="Save" onclick="redirectHome()" style="float:right" />
                            </td>
                               <td valign="center" style="border-left:none" width="5%">
                                    <input type="button" value="" class="buttonClose" title="Save" onclick="collapseOptions()" style="float:right" />
                               </td>
                        </tr>
                    </table>

                </div>
            </td>
        </tr>*@
    <tr id="trOptions" style="display: none;" class="ShareClass">
        <td>
            <table width="100%" id="divOptions" style="background-color:white;">
                <tr>
                    <td style="border-top: 1px solid black; border-bottom: 1px solid black; border-left: 1px solid black;" width="85%">
                        <table width="100%">
                            <tr>
                                <td class="subHeading">
                                    <span style="color: #D66A2A; font-family: 'Century Gothic'; font-size: medium">OPTIONS</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="border-top: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;" width="15%">
                        <div style="float: right;">
                            <table width="100%">
                                <tr>
                                    <td width="35%" valign="center">
                                        <input type="button" value="" class="buttonHome" title="Save" onclick="redirectHome()" style="float:right" />
                                    </td>
                                    <td valign="center" style="border-left:none" width="5%">
                                        <input type="button" value="" class="buttonClose" title="Save" onclick="collapseOptions()" style="float:right" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>

    </tr>
    <tr>
        <td class="divHeader">

            <a id="lblExpandBasic" href="#" onclick="expandBasic()" style="text-decoration: none;color:black">BASIC</a>
            <a id="lblCollapseBasic" href="#" onclick="collapseBasic()" style="display: none; text-decoration: none;color:black">BASIC</a>
        </td>
    </tr>

    <tr id="trBasic" style="display: none;">
        <td class="content">
            
                @Html.Partial("_NewEntryBasic")
            
        </td>
    </tr>
    <tr>
        <td class="divHeader">

            <a id="lblExpandSalesVolume" href="#" onclick="expandSalesVolume()" style="text-decoration: none;color:black">SALES VOLUME</a>
            <a id="lblCollapseSalesVolume" href="#" onclick="collapseSalesVolume()" style="display: none; text-decoration: none;color:black">SALES VOLUME</a>
        </td>
    </tr>

    <tr id="trSalesVolume" style="display: none;">
        <td class="content">

            @Html.Partial("_NewEntrySalesVolume")

        </td>
    </tr>
    <tr>
        <td class="divHeader">

            @* <a id="lblExpandSaleLease" href="#" onclick="expandSaleLease()" style="text-decoration: none;color:black">SALE/LEASE COMPARABLE</a>*@@*Changed by Jaywanti Jain on 14-09-2015*@
            <a id="lblExpandSaleLease" href="#" onclick="expandSaleLease()" style="text-decoration: none;color:black">SALE/LEASE RATE</a>
            @*<a id="lblCollapseSaleLease" href="#" onclick="collapseSaleLease()" style="display: none; text-decoration: none;color:black">SALE/LEASE COMPARABLE</a>*@@*Changed by Jaywanti Jain on 14-09-2015*@
            <a id="lblCollapseSaleLease" href="#" onclick="collapseSaleLease()" style="display: none; text-decoration: none;color:black">SALE/LEASE RATE</a>
        </td>
    </tr>

    <tr id="trSaleLease" style="display: none;">
        <td class="content">
            @Html.Partial("_NewEntryDemoSalesLease")
            @*@using (@Html.BeginForm("submit", "PropertyDetail",FormMethod.Post))
                {

                }*@
        </td>
    </tr>

</table>

<div id="ViewPropertyInfo" style="display: none;" class="EditPopupPropertyInfo">

    <table width="100%">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="float: left; color: #D66A2A; font-family: 'Century Gothic'">
                                    Property Info
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupPropertyInfo();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">

                <div id="divPropertyInfoDetails">

                </div>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupPropertyInfo" onclick="disablePopupPropertyInfo();" class="backgroundPopupPropertyInfo" style="display: none;"></div>

<div id="ViewPrivacySettings" style="display: none;" class="EditPopupPrivacySettings">

    <table width="100%">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="float: left; color: #D66A2A; font-family: 'Century Gothic'">
                                    Privacy Settings
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupPrivacySettings();" />
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td align="left">

                @Html.Partial("_PrivacySettingsTab")
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupPrivacySettings" onclick="disablePopupPrivacySettings();" class="backgroundPopupPropertyInfo" style="display: none;"></div>


<div id="divSavedEntry" style="display: none;" class="EditPopupSavedEntry">
    <table width="100%">
        <tr>
            <td class="mainHeader">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="float: left; color: #D66A2A; font-family: 'Century Gothic'">
                                    Saved Entry
                                </div>
                                <div style="float: right">
                                    <img src="@Url.Content("~/Content/Images/Cancel.png")" alt="Close" title="Close" onclick="disablePopupSavedEntry();" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="content" align="left">

                <table width="100%">
                    <tr>
                        <td style="height: 15px"></td>
                    </tr>

                    <tr>
                        <td>
                            <div id="divPropertyResults" style="overflow-y: scroll; height: 200px; display: none"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>
<div id="backgroundPopupSavedEntry" onclick="disablePopupPropertyInfo();" class="backgroundPopupSavedEntry" style="display: none;"></div>